#{$parent_prefixClass}-min-w1550px #{$selectAll}{
  min-width:1550px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w1600px #{$selectAll}{
  min-width:1600px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w1650px #{$selectAll}{
  min-width:1650px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w1700px #{$selectAll}{
  min-width:1700px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w1750px #{$selectAll}{
  min-width:1750px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w1800px #{$selectAll}{
  min-width:1800px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w1850px #{$selectAll}{
  min-width:1850px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w1900px #{$selectAll}{
  min-width:1900px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w1950px #{$selectAll}{
  min-width:1950px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w2000px #{$selectAll}{
  min-width:2000px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w2500px #{$selectAll}{
  min-width:2500px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w3000px #{$selectAll}{
  min-width:3000px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w3500px #{$selectAll}{
  min-width:3500px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w4000px #{$selectAll}{
  min-width:4000px #{$parent_importantStatus}
}
            
