:root{
  --pa-bg-admin-panel     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel  : white;

  --pa-bg-admin-panel-h     : var(--pa-bg-admin-panel-600);
  --pa-color-admin-panel-h  : white;

  --pa-bg-admin-panel-a     : var(--pa-bg-admin-panel-700);
  --pa-color-admin-panel-a  : white;

  --pa-bg-admin-panel-f     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel-f  : white;

  --pa-bg-admin-panel-50  : #fff8e1;
  --pa-bg-admin-panel-100 : #ffecb3;
  --pa-bg-admin-panel-200 : #ffe082;
  --pa-bg-admin-panel-300 : #ffd54f;
  --pa-bg-admin-panel-400 : #ffca28;
  --pa-bg-admin-panel-500 : #ffc107;
  --pa-bg-admin-panel-600 : #ffb300;
  --pa-bg-admin-panel-700 : #ffa000;
  --pa-bg-admin-panel-800 : #ff8f00;
  --pa-bg-admin-panel-900 : #ff6f00;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : #424242;
  --pa-color-admin-panel-400 : #424242;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}
