:root{
  --pa-bg-admin-panel     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel  : white;

  --pa-bg-admin-panel-h     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel-h  : white;

  --pa-bg-admin-panel-a     : var(--pa-bg-admin-panel-600);
  --pa-color-admin-panel-a  : white;

  --pa-bg-admin-panel-f     : var(--pa-bg-admin-panel-700);
  --pa-color-admin-panel-f  : white;

  --pa-bg-admin-panel-50  : #F8F3FC;
  --pa-bg-admin-panel-100 : #E9DAF6;
  --pa-bg-admin-panel-200 : #D3B4EC;
  --pa-bg-admin-panel-300 : #A769DA;
  --pa-bg-admin-panel-400 : #832BCA;
  --pa-bg-admin-panel-500 : #7412C4;
  --pa-bg-admin-panel-600 : #6810AF;
  --pa-bg-admin-panel-700 : #5C0E9B;
  --pa-bg-admin-panel-800 : #4F0C86;
  --pa-bg-admin-panel-900 : #37095D;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : white;
  --pa-color-admin-panel-400 : white;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}