:root{
  --pa-bg-admin-panel     : #B4EA0B;
  --pa-color-admin-panel  : white;

  --pa-bg-admin-panel-50  : #FAFFED;
  --pa-bg-admin-panel-100 : #EFFCC4;
  --pa-bg-admin-panel-200 : #E3F99D;
  --pa-bg-admin-panel-300 : #DAF977;
  --pa-bg-admin-panel-400 : #BEF416;
  --pa-bg-admin-panel-500 : #B4EA0B;
  --pa-bg-admin-panel-600 : #95C109;
  --pa-bg-admin-panel-700 : #89B207;
  --pa-bg-admin-panel-800 : #779B06;
  --pa-bg-admin-panel-900 : #678705;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : #424242;
  --pa-color-admin-panel-400 : #424242;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}