:root{
  --pa-bg-admin-panel     : #FF8400;
  --pa-color-admin-panel  : white;

  --pa-bg-admin-panel-50  : #FFF6ED;
  --pa-bg-admin-panel-100 : #FFEDDB;
  --pa-bg-admin-panel-200 : #FFDCB6;
  --pa-bg-admin-panel-300 : #FFB96D;
  --pa-bg-admin-panel-400 : #FF9624;
  --pa-bg-admin-panel-500 : #FF8400;
  --pa-bg-admin-panel-600 : #F27D00;
  --pa-bg-admin-panel-700 : #D76F00;
  --pa-bg-admin-panel-800 : #AE5A00;
  --pa-bg-admin-panel-900 : #864500;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : white;
  --pa-color-admin-panel-400 : white;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}
