:root{
  --pa-bg-admin-panel     : #FF0088;
  --pa-color-admin-panel  : white;

  --pa-bg-admin-panel-50  : #FFF2F9;
  --pa-bg-admin-panel-100 : #FFD7EC;
  --pa-bg-admin-panel-200 : #FFAED9;
  --pa-bg-admin-panel-300 : #FF6BBA;
  --pa-bg-admin-panel-400 : #FF36A1;
  --pa-bg-admin-panel-500 : #FF0088;
  --pa-bg-admin-panel-600 : #ED007F;
  --pa-bg-admin-panel-700 : #DC0075;
  --pa-bg-admin-panel-800 : #C10067;
  --pa-bg-admin-panel-900 : #A70059;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : white;
  --pa-color-admin-panel-400 : white;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}