:root{
  --pa-bg-admin-panel     : #00948A;
  --pa-color-admin-panel  : white;

  --pa-bg-admin-panel-50  : #F2F9F9;
  --pa-bg-admin-panel-100 : #D7EEED;
  --pa-bg-admin-panel-200 : #BCE3E0;
  --pa-bg-admin-panel-300 : #5EBBB5;
  --pa-bg-admin-panel-400 : #1B9F96;
  --pa-bg-admin-panel-500 : #00948A;
  --pa-bg-admin-panel-600 : #00847B;
  --pa-bg-admin-panel-700 : #00756D;
  --pa-bg-admin-panel-800 : #00655E;
  --pa-bg-admin-panel-900 : #004641;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : white;
  --pa-color-admin-panel-400 : white;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}