:root{
  --pa-bg-admin-panel     : #FFFF00;
  --pa-color-admin-panel  : #424242;

  --pa-bg-admin-panel-50  : #FFFFED;
  --pa-bg-admin-panel-100 : #FFFFC8;
  --pa-bg-admin-panel-200 : #FFFFA4;
  --pa-bg-admin-panel-300 : #FFFF80;
  --pa-bg-admin-panel-400 : #FFFF49;
  --pa-bg-admin-panel-500 : #FFFF00;
  --pa-bg-admin-panel-600 : #EDED00;
  --pa-bg-admin-panel-700 : #D3D300;
  --pa-bg-admin-panel-800 : #C1C100;
  --pa-bg-admin-panel-900 : #848400;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : #424242;
  --pa-color-admin-panel-400 : #424242;
  --pa-color-admin-panel-500 : #424242;
  --pa-color-admin-panel-600 : #424242;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}
