:root{
  --pa-bg-primary     : var(--pa-bg-primary-500);
  --pa-color-primary  : white;

  --pa-bg-primary-h     : var(--pa-bg-primary-600);
  --pa-color-primary-h  : white;

  --pa-bg-primary-a     : var(--pa-bg-primary-700);
  --pa-color-primary-a  : white;

  --pa-bg-primary-f     : var(--pa-bg-primary-500);
  --pa-color-primary-f  : white;

  --pa-bg-primary-50  : #F2F9FF;
  --pa-bg-primary-100 : #D7EDFF;
  --pa-bg-primary-200 : #A1D5FF;
  --pa-bg-primary-300 : #6BBEFF;
  --pa-bg-primary-400 : #43ACFF;
  --pa-bg-primary-500 : #008EFF;
  --pa-bg-primary-600 : #007FE4;
  --pa-bg-primary-700 : #0070C9;
  --pa-bg-primary-800 : #0061AE;
  --pa-bg-primary-900 : #004379;

  --pa-bg-rgb-primary-50  : 242, 249, 255;
  --pa-bg-rgb-primary-100 : 215, 237, 255;
  --pa-bg-rgb-primary-200 : 161, 213, 255;
  --pa-bg-rgb-primary-300 : 107, 190, 255;
  --pa-bg-rgb-primary-400 : 67, 172, 255;
  --pa-bg-rgb-primary-500 : 0, 142, 255;
  --pa-bg-rgb-primary-600 : 0, 127, 228;
  --pa-bg-rgb-primary-700 : 0, 112, 201;
  --pa-bg-rgb-primary-800 : 0, 97, 174;
  --pa-bg-rgb-primary-900 : 0, 67, 121;

  --pa-color-primary-50  : #424242;
  --pa-color-primary-100 : #424242;
  --pa-color-primary-200 : #424242;
  --pa-color-primary-300 : #424242;
  --pa-color-primary-400 : #424242;
  --pa-color-primary-500 : white;
  --pa-color-primary-600 : white;
  --pa-color-primary-700 : white;
  --pa-color-primary-800 : white;
  --pa-color-primary-900 : white;
}
