:root{
  --pa-bg-primary     : var(--pa-bg-primary-500);
  --pa-color-primary  : white;

  --pa-bg-primary-h     : var(--pa-bg-primary-600);
  --pa-color-primary-h  : white;

  --pa-bg-primary-a     : var(--pa-bg-primary-700);
  --pa-color-primary-a  : white;

  --pa-bg-primary-f     : var(--pa-bg-primary-500);
  --pa-color-primary-f  : white;

  --pa-bg-primary-50  : #FEF6EC;
  --pa-bg-primary-100 : #F1E3D2;
  --pa-bg-primary-200 : #E4D0B9;
  --pa-bg-primary-300 : #D7BD9F;
  --pa-bg-primary-400 : #CAAA86;
  --pa-bg-primary-500 : #BD986C;
  --pa-bg-primary-600 : #B08553;
  --pa-bg-primary-700 : #A37239;
  --pa-bg-primary-800 : #965F20;
  --pa-bg-primary-900 : #894C06;

  --pa-color-primary-50  : #424242;
  --pa-color-primary-100 : #424242;
  --pa-color-primary-200 : #424242;
  --pa-color-primary-300 : #424242;
  --pa-color-primary-400 : white;
  --pa-color-primary-500 : white;
  --pa-color-primary-600 : white;
  --pa-color-primary-700 : white;
  --pa-color-primary-800 : white;
  --pa-color-primary-900 : white;
}