:root{
  --pa-bg-primary     : var(--pa-bg-primary-500);
  --pa-color-primary  : white;

  --pa-bg-primary-h     : var(--pa-bg-primary-600);
  --pa-color-primary-h  : white;

  --pa-bg-primary-a     : var(--pa-bg-primary-700);
  --pa-color-primary-a  : white;

  --pa-bg-primary-f     : var(--pa-bg-primary-500);
  --pa-color-primary-f  : white;

  --pa-bg-primary-50  : #FFF5F2;
  --pa-bg-primary-100 : #FFE2D7;
  --pa-bg-primary-200 : #FFCFBC;
  --pa-bg-primary-300 : #FF6F36;
  --pa-bg-primary-400 : #FF5B1B;
  --pa-bg-primary-500 : #FF4800;
  --pa-bg-primary-600 : #E44000;
  --pa-bg-primary-700 : #C93900;
  --pa-bg-primary-800 : #BC3500;
  --pa-bg-primary-900 : #942A00;

  --pa-bg-rgb-primary-50  : 255, 245, 242;
  --pa-bg-rgb-primary-100 : 255, 226, 215;
  --pa-bg-rgb-primary-200 : 255, 207, 188;
  --pa-bg-rgb-primary-300 : 255, 111, 54;
  --pa-bg-rgb-primary-400 : 255, 91, 27;
  --pa-bg-rgb-primary-500 : 255, 72, 0;
  --pa-bg-rgb-primary-600 : 228, 64, 0;
  --pa-bg-rgb-primary-700 : 201, 57, 0;
  --pa-bg-rgb-primary-800 : 188, 53, 0;
  --pa-bg-rgb-primary-900 : 148, 42, 0;

  --pa-color-primary-50  : #424242;
  --pa-color-primary-100 : #424242;
  --pa-color-primary-200 : #424242;
  --pa-color-primary-300 : #424242;
  --pa-color-primary-400 : #424242;
  --pa-color-primary-500 : white;
  --pa-color-primary-600 : white;
  --pa-color-primary-700 : white;
  --pa-color-primary-800 : white;
  --pa-color-primary-900 : white;
}