:root{
  --pa-bg-primary     : var(--pa-bg-primary-500);
  --pa-color-primary  : white;

  --pa-bg-primary-h     : var(--pa-bg-primary-600);
  --pa-color-primary-h  : white;

  --pa-bg-primary-a     : var(--pa-bg-primary-700);
  --pa-color-primary-a  : white;

  --pa-bg-primary-f     : var(--pa-bg-primary-500);
  --pa-color-primary-f  : white;

  --pa-bg-primary-50  : #ECEEFE;
  --pa-bg-primary-100 : #C5CCFC;
  --pa-bg-primary-200 : #9EAAFA;
  --pa-bg-primary-300 : #687AF2;
  --pa-bg-primary-400 : #354EEE;
  --pa-bg-primary-500 : #0B29EA;
  --pa-bg-primary-600 : #0922C3;
  --pa-bg-primary-700 : #081DA7;
  --pa-bg-primary-800 : #061786;
  --pa-bg-primary-900 : #051264;

  --pa-bg-rgb-primary-50:  236, 238, 254;
  --pa-bg-rgb-primary-100: 197, 204, 252;
  --pa-bg-rgb-primary-200: 158, 170, 250;
  --pa-bg-rgb-primary-300: 104, 122, 242;
  --pa-bg-rgb-primary-400: 53, 78, 238;
  --pa-bg-rgb-primary-500: 11, 41, 234;
  --pa-bg-rgb-primary-600: 9, 34, 195;
  --pa-bg-rgb-primary-700: 8, 29, 167;
  --pa-bg-rgb-primary-800: 6, 23, 134;
  --pa-bg-rgb-primary-900: 5, 18, 100;

  --pa-color-primary-50  : #424242;
  --pa-color-primary-100 : #424242;
  --pa-color-primary-200 : #424242;
  --pa-color-primary-300 : white;
  --pa-color-primary-400 : white;
  --pa-color-primary-500 : white;
  --pa-color-primary-600 : white;
  --pa-color-primary-700 : white;
  --pa-color-primary-800 : white;
  --pa-color-primary-900 : white;
}
