:root{
  --pa-bg-primary     : var(--pa-bg-primary-500);
  --pa-color-primary  : white;

  --pa-bg-primary-h     : var(--pa-bg-primary-600);
  --pa-color-primary-h  : white;

  --pa-bg-primary-a     : var(--pa-bg-primary-700);
  --pa-color-primary-a  : white;

  --pa-bg-primary-f     : var(--pa-bg-primary-500);
  --pa-color-primary-f  : white;

  --pa-bg-primary-50  : #F2FDF2;
  --pa-bg-primary-100 : #D7F8D8;
  --pa-bg-primary-200 : #BCF4BF;
  --pa-bg-primary-300 : #6BE672;
  --pa-bg-primary-400 : #28DB32;
  --pa-bg-primary-500 : #00D40B;
  --pa-bg-primary-600 : #00BE0A;
  --pa-bg-primary-700 : #00A709;
  --pa-bg-primary-800 : #008607;
  --pa-bg-primary-900 : #007006;

  --pa-bg-rgb-primary-50:  242, 253, 242;
  --pa-bg-rgb-primary-100: 215, 248, 216;
  --pa-bg-rgb-primary-200: 188, 244, 191;
  --pa-bg-rgb-primary-300: 107, 230, 114;
  --pa-bg-rgb-primary-400: 40, 219, 50;
  --pa-bg-rgb-primary-500: 0, 212, 11;
  --pa-bg-rgb-primary-600: 0, 190, 10;
  --pa-bg-rgb-primary-700: 0, 167, 9;
  --pa-bg-rgb-primary-800: 0, 134, 7;
  --pa-bg-rgb-primary-900: 0, 112, 6;

  --pa-color-primary-50  : #424242;
  --pa-color-primary-100 : #424242;
  --pa-color-primary-200 : #424242;
  --pa-color-primary-300 : #424242;
  --pa-color-primary-400 : white;
  --pa-color-primary-500 : white;
  --pa-color-primary-600 : white;
  --pa-color-primary-700 : white;
  --pa-color-primary-800 : white;
  --pa-color-primary-900 : white;
}
