:root{
  --pa-bg-primary     : var(--pa-bg-primary-500);
  --pa-color-primary  : white;

  --pa-bg-primary-h     : var(--pa-bg-primary-600);
  --pa-color-primary-h  : white;

  --pa-bg-primary-a     : var(--pa-bg-primary-700);
  --pa-color-primary-a  : white;

  --pa-bg-primary-f     : var(--pa-bg-primary-500);
  --pa-color-primary-f  : white;

  --pa-bg-primary-50  : #FFF2F9;
  --pa-bg-primary-100 : #FFD7EC;
  --pa-bg-primary-200 : #FFAED9;
  --pa-bg-primary-300 : #FF6BBA;
  --pa-bg-primary-400 : #FF36A1;
  --pa-bg-primary-500 : #FF0088;
  --pa-bg-primary-600 : #ED007F;
  --pa-bg-primary-700 : #DC0075;
  --pa-bg-primary-800 : #C10067;
  --pa-bg-primary-900 : #A70059;

  --pa-bg-rgb-primary-50:  255, 242, 249;
  --pa-bg-rgb-primary-100: 255, 215, 236;
  --pa-bg-rgb-primary-200: 255, 174, 217;
  --pa-bg-rgb-primary-300: 255, 107, 186;
  --pa-bg-rgb-primary-400: 255, 54, 161;
  --pa-bg-rgb-primary-500: 255, 0, 136;
  --pa-bg-rgb-primary-600: 237, 0, 127;
  --pa-bg-rgb-primary-700: 220, 0, 117;
  --pa-bg-rgb-primary-800: 193, 0, 103;
  --pa-bg-rgb-primary-900: 167, 0, 89;

  --pa-color-primary-50  : #424242;
  --pa-color-primary-100 : #424242;
  --pa-color-primary-200 : #424242;
  --pa-color-primary-300 : white;
  --pa-color-primary-400 : white;
  --pa-color-primary-500 : white;
  --pa-color-primary-600 : white;
  --pa-color-primary-700 : white;
  --pa-color-primary-800 : white;
  --pa-color-primary-900 : white;
}