:root{
  --pa-bg-primary     : var(--pa-bg-primary-500);
  --pa-color-primary  : white;

  --pa-bg-primary-h     : var(--pa-bg-primary-600);
  --pa-color-primary-h  : white;

  --pa-bg-primary-a     : var(--pa-bg-primary-700);
  --pa-color-primary-a  : white;

  --pa-bg-primary-f     : var(--pa-bg-primary-500);
  --pa-color-primary-f  : white;

  --pa-bg-primary-50  : #F2F9F9;
  --pa-bg-primary-100 : #D7EEED;
  --pa-bg-primary-200 : #BCE3E0;
  --pa-bg-primary-300 : #5EBBB5;
  --pa-bg-primary-400 : #1B9F96;
  --pa-bg-primary-500 : #00948A;
  --pa-bg-primary-600 : #00847B;
  --pa-bg-primary-700 : #00756D;
  --pa-bg-primary-800 : #00655E;
  --pa-bg-primary-900 : #004641;

  --pa-bg-rgb-primary-50:  242, 249, 249;
  --pa-bg-rgb-primary-100: 215, 238, 237;
  --pa-bg-rgb-primary-200: 188, 227, 224;
  --pa-bg-rgb-primary-300: 94, 187, 181;
  --pa-bg-rgb-primary-400: 27, 159, 150;
  --pa-bg-rgb-primary-500: 0, 148, 138;
  --pa-bg-rgb-primary-600: 0, 132, 123;
  --pa-bg-rgb-primary-700: 0, 117, 109;
  --pa-bg-rgb-primary-800: 0, 101, 94;
  --pa-bg-rgb-primary-900: 0, 70, 65;

  --pa-color-primary-50  : #424242;
  --pa-color-primary-100 : #424242;
  --pa-color-primary-200 : #424242;
  --pa-color-primary-300 : white;
  --pa-color-primary-400 : white;
  --pa-color-primary-500 : white;
  --pa-color-primary-600 : white;
  --pa-color-primary-700 : white;
  --pa-color-primary-800 : white;
  --pa-color-primary-900 : white;
}