.border-green-50{
    border-color: var(--pa-bg-green-50) !important;
}
.border-green-100{
    border-color: var(--pa-bg-green-100) !important;
}
.border-green-200{
    border-color: var(--pa-bg-green-200) !important;
}
.border-green-300{
    border-color: var(--pa-bg-green-300) !important;
}
.border-green-400{
    border-color: var(--pa-bg-green-400) !important;
}
.border-green-500{
    border-color: var(--pa-bg-green-500) !important;
}
.border-green-600{
    border-color: var(--pa-bg-green-600) !important;
}
.border-green-700{
    border-color: var(--pa-bg-green-700) !important;
}
.border-green-800{
    border-color: var(--pa-bg-green-800) !important;
}
.border-green-900{
    border-color: var(--pa-bg-green-900) !important;
}
