.fill-green-50{
    fill: var(--pa-bg-green-50) !important;
}
.fill-green-100{
    fill: var(--pa-bg-green-100) !important;
}
.fill-green-200{
    fill: var(--pa-bg-green-200) !important;
}
.fill-green-300{
    fill: var(--pa-bg-green-300) !important;
}
.fill-green-400{
    fill: var(--pa-bg-green-400) !important;
}
.fill-green-500{
    fill: var(--pa-bg-green-500) !important;
}
.fill-green-600{
    fill: var(--pa-bg-green-600) !important;
}
.fill-green-700{
    fill: var(--pa-bg-green-700) !important;
}
.fill-green-800{
    fill: var(--pa-bg-green-800) !important;
}
.fill-green-900{
    fill: var(--pa-bg-green-900) !important;
}
