.mg-pa-bg-primary{background-color: var(--pa-primary-bg);}
.mg-pa-text-primary{color: var(--pa-primary-color);}
.mg-pa-fill-primary{fill: var(--pa-primary-fill);}
.mg-pa-shadow-primary{box-shadow: var(--box-shadow-primary);}
.mg-pa-border-primary{border-color: var(--border-primary);}
.mg-pa--primary{border: var(--border-primary);}

/* hover */
.mg-pa-h-bg-primary{background-color: var(--pa-primary-bg);}
.mg-pa-h-text-primary{color: var(--pa-primary-color);}
.mg-pa-h-fill-primary{fill: var(--pa-primary-fill);}
.mg-pa-h-shadow-primary{box-shadow: var(--box-shadow-primary);}
.mg-pa-h-border-primary{border-color: var(--border-primary);}
.mg-pa-h-primary{border: var(--border-primary);}

/* focus */
.mg-pa-f-bg-primary{background-color: var(--pa-primary-bg);}
.mg-pa-f-text-primary{color: var(--pa-primary-color);}
.mg-pa-f-fill-primary{fill: var(--pa-primary-fill);}
.mg-pa-f-shadow-primary{box-shadow: var(--box-shadow-primary);}
.mg-pa-f-border-primary{border-color: var(--border-primary);}
.mg-pa-f-primary{border: var(--border-primary);}


/* active */
.mg-pa-a-bg-primary{background-color: var(--pa-primary-bg);}
.mg-pa-a-text-primary{color: var(--pa-primary-color);}
.mg-pa-a-fill-primary{fill: var(--pa-primary-fill);}
.mg-pa-a-shadow-primary{box-shadow: var(--box-shadow-primary);}
.mg-pa-a-border-primary{border-color: var(--border-primary);}
.mg-pa-a--primary{border: var(--border-primary);}


