:root{
  --pa-primary-50  : #FFF5F2;
  --pa-primary-100 : #FFE2D7;
  --pa-primary-200 : #FFCFBC;
  --pa-primary-300 : #FF6F36;
  --pa-primary-400 : #FF5B1B;
  --pa-primary-500 : #FF4800;
  --pa-primary-600 : #E44000;
  --pa-primary-700 : #C93900;
  --pa-primary-800 : #BC3500;
  --pa-primary-900 : #942A00;
}