:root{
  --pa-primary-50  : #F8F3FC;
  --pa-primary-100 : #E9DAF6;
  --pa-primary-200 : #D3B4EC;
  --pa-primary-300 : #A769DA;
  --pa-primary-400 : #832BCA;
  --pa-primary-500 : #7412C4;
  --pa-primary-600 : #6810AF;
  --pa-primary-700 : #5C0E9B;
  --pa-primary-800 : #4F0C86;
  --pa-primary-900 : #37095D;
}