:root{
  --pa-primary-50  : #F2FAF3;
  --pa-primary-100 : #E5F5E7;
  --pa-primary-200 : #BDE7C4;
  --pa-primary-300 : #89D394;
  --pa-primary-400 : #20AD35;
  --pa-primary-500 : #06A31D;
  --pa-primary-600 : #05921A;
  --pa-primary-700 : #058117;
  --pa-primary-800 : #047014;
  --pa-primary-900 : #03560F;
}
