:root{
  --pa-primary-50  : #F2FDF2;
  --pa-primary-100 : #D7F8D8;
  --pa-primary-200 : #BCF4BF;
  --pa-primary-300 : #6BE672;
  --pa-primary-400 : #28DB32;
  --pa-primary-500 : #00D40B;
  --pa-primary-600 : #00BE0A;
  --pa-primary-700 : #00A709;
  --pa-primary-800 : #008607;
  --pa-primary-900 : #007006;
}
