:root{
  --pa-primary-50  : #F2FCFF;
  --pa-primary-100 : #D7F7FF;
  --pa-primary-200 : #BCF2FF;
  --pa-primary-300 : #94EAFF;
  --pa-primary-400 : #43D9FF;
  --pa-primary-500 : #00CCFF;
  --pa-primary-600 : #00B7E4;
  --pa-primary-700 : #00A1C9;
  --pa-primary-800 : #008CAE;
  --pa-primary-900 : #006179;
}