:root{
  --pa-primary-50  : #FAFFED;
  --pa-primary-100 : #EFFCC4;
  --pa-primary-200 : #E3F99D;
  --pa-primary-300 : #DAF977;
  --pa-primary-400 : #BEF416;
  --pa-primary-500 : #B4EA0B;
  --pa-primary-600 : #95C109;
  --pa-primary-700 : #89B207;
  --pa-primary-800 : #779B06;
  --pa-primary-900 : #678705;
}