:root{
  --pa-bg-deep-purple     : #7412C4;
  --pa-color-deep-purple  : white;

  --pa-bg-deep-purple-50  : #F8F3FC;
  --pa-bg-deep-purple-100 : #E9DAF6;
  --pa-bg-deep-purple-200 : #D3B4EC;
  --pa-bg-deep-purple-300 : #A769DA;
  --pa-bg-deep-purple-400 : #832BCA;
  --pa-bg-deep-purple-500 : #7412C4;
  --pa-bg-deep-purple-600 : #6810AF;
  --pa-bg-deep-purple-700 : #5C0E9B;
  --pa-bg-deep-purple-800 : #4F0C86;
  --pa-bg-deep-purple-900 : #37095D;

  --pa-color-deep-purple-50  : #424242;
  --pa-color-deep-purple-100 : #424242;
  --pa-color-deep-purple-200 : #424242;
  --pa-color-deep-purple-300 : white;
  --pa-color-deep-purple-400 : white;
  --pa-color-deep-purple-500 : white;
  --pa-color-deep-purple-600 : white;
  --pa-color-deep-purple-700 : white;
  --pa-color-deep-purple-800 : white;
  --pa-color-deep-purple-900 : white;
}