:root{
  --pa-bg-admin-panel     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel  : white;

  --pa-bg-admin-panel-h     : var(--pa-bg-admin-panel-600);
  --pa-color-admin-panel-h  : white;

  --pa-bg-admin-panel-a     : var(--pa-bg-admin-panel-700);
  --pa-color-admin-panel-a  : white;

  --pa-bg-admin-panel-f     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel-f  : white;

  --pa-bg-admin-panel-50  : #e8eaf6;
  --pa-bg-admin-panel-100 : #c5cae9;
  --pa-bg-admin-panel-200 : #9fa8da;
  --pa-bg-admin-panel-300 : #7986cb;
  --pa-bg-admin-panel-400 : #5c6bc0;
  --pa-bg-admin-panel-500 : #3f51b5;
  --pa-bg-admin-panel-600 : #3949ab;
  --pa-bg-admin-panel-700 : #303f9f;
  --pa-bg-admin-panel-800 : #283593;
  --pa-bg-admin-panel-900 : #1a237e;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : white;
  --pa-color-admin-panel-400 : white;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}
