:root{
  --pa-bg-admin-panel     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel  : white;

  --pa-bg-admin-panel-h     : var(--pa-bg-admin-panel-600);
  --pa-color-admin-panel-h  : white;

  --pa-bg-admin-panel-a     : var(--pa-bg-admin-panel-700);
  --pa-color-admin-panel-a  : white;

  --pa-bg-admin-panel-f     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel-f  : white;

  --pa-bg-admin-panel-50  : #f1f8e9;
  --pa-bg-admin-panel-100 : #dcedc8;
  --pa-bg-admin-panel-200 : #c5e1a5;
  --pa-bg-admin-panel-300 : #aed581;
  --pa-bg-admin-panel-400 : #9ccc65;
  --pa-bg-admin-panel-500 : #8bc34a;
  --pa-bg-admin-panel-600 : #7cb342;
  --pa-bg-admin-panel-700 : #689f38;
  --pa-bg-admin-panel-800 : #558b2f;
  --pa-bg-admin-panel-900 : #33691e;

  --pa-bg-rgb-admin-panel-50:  241, 248, 233;
  --pa-bg-rgb-admin-panel-100: 220, 237, 200;
  --pa-bg-rgb-admin-panel-200: 197, 225, 165;
  --pa-bg-rgb-admin-panel-300: 174, 213, 129;
  --pa-bg-rgb-admin-panel-400: 156, 204, 101;
  --pa-bg-rgb-admin-panel-500: 139, 195, 74;
  --pa-bg-rgb-admin-panel-600: 124, 179, 66;
  --pa-bg-rgb-admin-panel-700: 104, 159, 56;
  --pa-bg-rgb-admin-panel-800: 85, 139, 47;
  --pa-bg-rgb-admin-panel-900: 51, 105, 30;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : #424242;
  --pa-color-admin-panel-400 : white;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}
