:root{
  --pa-bg-admin-panel     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel  : white;

  --pa-bg-admin-panel-h     : var(--pa-bg-admin-panel-600);
  --pa-color-admin-panel-h  : white;

  --pa-bg-admin-panel-a     : var(--pa-bg-admin-panel-700);
  --pa-color-admin-panel-a  : white;

  --pa-bg-admin-panel-f     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel-f  : white;

  --pa-bg-admin-panel-50  : #fffde7;
  --pa-bg-admin-panel-100 : #fff9c4;
  --pa-bg-admin-panel-200 : #fff59d;
  --pa-bg-admin-panel-300 : #fff176;
  --pa-bg-admin-panel-400 : #ffee58;
  --pa-bg-admin-panel-500 : #ffeb3b;
  --pa-bg-admin-panel-600 : #fdd835;
  --pa-bg-admin-panel-700 : #fbc02d;
  --pa-bg-admin-panel-800 : #f9a825;
  --pa-bg-admin-panel-900 : #f57f17;

  --pa-bg-rgb-admin-panel-50:  255, 253, 231;
  --pa-bg-rgb-admin-panel-100: 255, 249, 196;
  --pa-bg-rgb-admin-panel-200: 255, 245, 157;
  --pa-bg-rgb-admin-panel-300: 255, 241, 118;
  --pa-bg-rgb-admin-panel-400: 255, 238, 88;
  --pa-bg-rgb-admin-panel-500: 255, 235, 59;
  --pa-bg-rgb-admin-panel-600: 253, 216, 53;
  --pa-bg-rgb-admin-panel-700: 251, 192, 45;
  --pa-bg-rgb-admin-panel-800: 249, 168, 37;
  --pa-bg-rgb-admin-panel-900: 245, 127, 23;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : #424242;
  --pa-color-admin-panel-400 : #424242;
  --pa-color-admin-panel-500 : #424242;
  --pa-color-admin-panel-600 : #424242;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}
