.bg-yellow-50{
    background-color: var(--pa-bg-yellow-50) !important;
}
.bg-yellow-100{
    background-color: var(--pa-bg-yellow-100) !important;
}
.bg-yellow-200{
    background-color: var(--pa-bg-yellow-200) !important;
}
.bg-yellow-300{
    background-color: var(--pa-bg-yellow-300) !important;
}
.bg-yellow-400{
    background-color: var(--pa-bg-yellow-400) !important;
}
.bg-yellow-500{
    background-color: var(--pa-bg-yellow-500) !important;
}
.bg-yellow-600{
    background-color: var(--pa-bg-yellow-600) !important;
}
.bg-yellow-700{
    background-color: var(--pa-bg-yellow-700) !important;
}
.bg-yellow-800{
    background-color: var(--pa-bg-yellow-800) !important;
}
.bg-yellow-900{
    background-color: var(--pa-bg-yellow-900) !important;
}
