.text-yellow-50{
    color: var(--pa-bg-yellow-50) !important;
}
.text-yellow-100{
    color: var(--pa-bg-yellow-100) !important;
}
.text-yellow-200{
    color: var(--pa-bg-yellow-200) !important;
}
.text-yellow-300{
    color: var(--pa-bg-yellow-300) !important;
}
.text-yellow-400{
    color: var(--pa-bg-yellow-400) !important;
}
.text-yellow-500{
    color: var(--pa-bg-yellow-500) !important;
}
.text-yellow-600{
    color: var(--pa-bg-yellow-600) !important;
}
.text-yellow-700{
    color: var(--pa-bg-yellow-700) !important;
}
.text-yellow-800{
    color: var(--pa-bg-yellow-800) !important;
}
.text-yellow-900{
    color: var(--pa-bg-yellow-900) !important;
}
