#{$parent_prefixClass}-min-h100vh #{$selectAll}{
  min-height: 100vh #{$parent_importantStatus};
}

#{$parent_prefixClass}-min-h0 #{$selectAll}{
  min-height:0% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h1 #{$selectAll}{
  min-height:1% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h2 #{$selectAll}{
  min-height:2% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h3 #{$selectAll}{
  min-height:3% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h4 #{$selectAll}{
  min-height:4% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h5 #{$selectAll}{
  min-height:5% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h6 #{$selectAll}{
  min-height:6% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h7 #{$selectAll}{
  min-height:7% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h8 #{$selectAll}{
  min-height:8% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h9 #{$selectAll}{
  min-height:9% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h10 #{$selectAll}{
  min-height:10% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h11 #{$selectAll}{
  min-height:11% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h12 #{$selectAll}{
  min-height:12% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h13 #{$selectAll}{
  min-height:13% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h14 #{$selectAll}{
  min-height:14% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h15 #{$selectAll}{
  min-height:15% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h16 #{$selectAll}{
  min-height:16% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h17 #{$selectAll}{
  min-height:17% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h18 #{$selectAll}{
  min-height:18% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h19 #{$selectAll}{
  min-height:19% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h20 #{$selectAll}{
  min-height:20% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h21 #{$selectAll}{
  min-height:21% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h22 #{$selectAll}{
  min-height:22% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h23 #{$selectAll}{
  min-height:23% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h24 #{$selectAll}{
  min-height:24% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h25 #{$selectAll}{
  min-height:25% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h26 #{$selectAll}{
  min-height:26% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h27 #{$selectAll}{
  min-height:27% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h28 #{$selectAll}{
  min-height:28% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h29 #{$selectAll}{
  min-height:29% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h30 #{$selectAll}{
  min-height:30% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h31 #{$selectAll}{
  min-height:31% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h32 #{$selectAll}{
  min-height:32% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h33 #{$selectAll}{
  min-height:33% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h34 #{$selectAll}{
  min-height:34% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h35 #{$selectAll}{
  min-height:35% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h36 #{$selectAll}{
  min-height:36% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h37 #{$selectAll}{
  min-height:37% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h38 #{$selectAll}{
  min-height:38% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h39 #{$selectAll}{
  min-height:39% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h40 #{$selectAll}{
  min-height:40% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h41 #{$selectAll}{
  min-height:41% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h42 #{$selectAll}{
  min-height:42% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h43 #{$selectAll}{
  min-height:43% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h44 #{$selectAll}{
  min-height:44% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h45 #{$selectAll}{
  min-height:45% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h46 #{$selectAll}{
  min-height:46% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h47 #{$selectAll}{
  min-height:47% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h48 #{$selectAll}{
  min-height:48% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h49 #{$selectAll}{
  min-height:49% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h50 #{$selectAll}{
  min-height:50% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h51 #{$selectAll}{
  min-height:51% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h52 #{$selectAll}{
  min-height:52% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h53 #{$selectAll}{
  min-height:53% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h54 #{$selectAll}{
  min-height:54% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h55 #{$selectAll}{
  min-height:55% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h56 #{$selectAll}{
  min-height:56% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h57 #{$selectAll}{
  min-height:57% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h58 #{$selectAll}{
  min-height:58% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h59 #{$selectAll}{
  min-height:59% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h60 #{$selectAll}{
  min-height:60% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h61 #{$selectAll}{
  min-height:61% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h62 #{$selectAll}{
  min-height:62% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h63 #{$selectAll}{
  min-height:63% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h64 #{$selectAll}{
  min-height:64% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h65 #{$selectAll}{
  min-height:65% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h66 #{$selectAll}{
  min-height:66% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h67 #{$selectAll}{
  min-height:67% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h68 #{$selectAll}{
  min-height:68% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h69 #{$selectAll}{
  min-height:69% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h70 #{$selectAll}{
  min-height:70% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h71 #{$selectAll}{
  min-height:71% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h72 #{$selectAll}{
  min-height:72% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h73 #{$selectAll}{
  min-height:73% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h74 #{$selectAll}{
  min-height:74% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h75 #{$selectAll}{
  min-height:75% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h76 #{$selectAll}{
  min-height:76% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h77 #{$selectAll}{
  min-height:77% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h78 #{$selectAll}{
  min-height:78% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h79 #{$selectAll}{
  min-height:79% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h80 #{$selectAll}{
  min-height:80% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h81 #{$selectAll}{
  min-height:81% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h82 #{$selectAll}{
  min-height:82% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h83 #{$selectAll}{
  min-height:83% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h84 #{$selectAll}{
  min-height:84% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h85 #{$selectAll}{
  min-height:85% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h86 #{$selectAll}{
  min-height:86% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h87 #{$selectAll}{
  min-height:87% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h88 #{$selectAll}{
  min-height:88% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h89 #{$selectAll}{
  min-height:89% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h90 #{$selectAll}{
  min-height:90% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h91 #{$selectAll}{
  min-height:91% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h92 #{$selectAll}{
  min-height:92% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h93 #{$selectAll}{
  min-height:93% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h94 #{$selectAll}{
  min-height:94% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h95 #{$selectAll}{
  min-height:95% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h96 #{$selectAll}{
  min-height:96% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h97 #{$selectAll}{
  min-height:97% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h98 #{$selectAll}{
  min-height:98% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h99 #{$selectAll}{
  min-height:99% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h100 #{$selectAll}{
  min-height:100% #{$parent_importantStatus}
}