:root{
  --pa-bg-admin-panel     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel  : white;

  --pa-bg-admin-panel-h     : var(--pa-bg-admin-panel-600);
  --pa-color-admin-panel-h  : white;

  --pa-bg-admin-panel-a     : var(--pa-bg-admin-panel-700);
  --pa-color-admin-panel-a  : white;

  --pa-bg-admin-panel-f     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel-f  : white;

  --pa-bg-admin-panel-50  : #fff8e1;
  --pa-bg-admin-panel-100 : #ffecb3;
  --pa-bg-admin-panel-200 : #ffe082;
  --pa-bg-admin-panel-300 : #ffd54f;
  --pa-bg-admin-panel-400 : #ffca28;
  --pa-bg-admin-panel-500 : #ffc107;
  --pa-bg-admin-panel-600 : #ffb300;
  --pa-bg-admin-panel-700 : #ffa000;
  --pa-bg-admin-panel-800 : #ff8f00;
  --pa-bg-admin-panel-900 : #ff6f00;

  --pa-bg-rgb-admin-panel-50  : 255, 248, 225;
  --pa-bg-rgb-admin-panel-100 : 255, 236, 179;
  --pa-bg-rgb-admin-panel-200 : 255, 224, 130;
  --pa-bg-rgb-admin-panel-300 : 255, 213, 79;
  --pa-bg-rgb-admin-panel-400 : 255, 202, 40;
  --pa-bg-rgb-admin-panel-500 : 255, 193, 7;
  --pa-bg-rgb-admin-panel-600 : 255, 179, 0;
  --pa-bg-rgb-admin-panel-700 : 255, 160, 0;
  --pa-bg-rgb-admin-panel-800 : 255, 143, 0;
  --pa-bg-rgb-admin-panel-900 : 255, 111, 0;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : #424242;
  --pa-color-admin-panel-400 : #424242;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}
