:root{
  --pa-bg-admin-panel     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel  : white;

  --pa-bg-admin-panel-h     : var(--pa-bg-admin-panel-600);
  --pa-color-admin-panel-h  : white;

  --pa-bg-admin-panel-a     : var(--pa-bg-admin-panel-700);
  --pa-color-admin-panel-a  : white;

  --pa-bg-admin-panel-f     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel-f  : white;

  --pa-bg-admin-panel-50  : #F5F8F9;
  --pa-bg-admin-panel-100 : #E0E9ED;
  --pa-bg-admin-panel-200 : #CCDAE2;
  --pa-bg-admin-panel-300 : #84A7B8;
  --pa-bg-admin-panel-400 : #5C8AA1;
  --pa-bg-admin-panel-500 : #3D748F;
  --pa-bg-admin-panel-600 : #376880;
  --pa-bg-admin-panel-700 : #305C71;
  --pa-bg-admin-panel-800 : #2A4F62;
  --pa-bg-admin-panel-900 : #1D3744;

  --pa-bg-rgb-admin-panel-50  : 245, 248, 249;
  --pa-bg-rgb-admin-panel-100 : 224, 233, 237;
  --pa-bg-rgb-admin-panel-200 : 204, 218, 226;
  --pa-bg-rgb-admin-panel-300 : 132, 167, 184;
  --pa-bg-rgb-admin-panel-400 : 92, 138, 161;
  --pa-bg-rgb-admin-panel-500 : 61, 116, 143;
  --pa-bg-rgb-admin-panel-600 : 55, 104, 128;
  --pa-bg-rgb-admin-panel-700 : 48, 92, 113;
  --pa-bg-rgb-admin-panel-800 : 42, 79, 98;
  --pa-bg-rgb-admin-panel-900 : 29, 55, 68;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : #424242;
  --pa-color-admin-panel-400 : white;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}