:root{
  --pa-bg-admin-panel     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel  : white;

  --pa-bg-admin-panel-h     : var(--pa-bg-admin-panel-600);
  --pa-color-admin-panel-h  : white;

  --pa-bg-admin-panel-a     : var(--pa-bg-admin-panel-700);
  --pa-color-admin-panel-a  : white;

  --pa-bg-admin-panel-f     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel-f  : white;

  --pa-bg-admin-panel-50  : #FFF5F2;
  --pa-bg-admin-panel-100 : #FFE2D7;
  --pa-bg-admin-panel-200 : #FFCFBC;
  --pa-bg-admin-panel-300 : #FF6F36;
  --pa-bg-admin-panel-400 : #FF5B1B;
  --pa-bg-admin-panel-500 : #FF4800;
  --pa-bg-admin-panel-600 : #E44000;
  --pa-bg-admin-panel-700 : #C93900;
  --pa-bg-admin-panel-800 : #BC3500;
  --pa-bg-admin-panel-900 : #942A00;

  --pa-bg-rgb-admin-panel-50  : 255, 245, 242;
  --pa-bg-rgb-admin-panel-100 : 255, 226, 215;
  --pa-bg-rgb-admin-panel-200 : 255, 207, 188;
  --pa-bg-rgb-admin-panel-300 : 255, 111, 54;
  --pa-bg-rgb-admin-panel-400 : 255, 91, 27;
  --pa-bg-rgb-admin-panel-500 : 255, 72, 0;
  --pa-bg-rgb-admin-panel-600 : 228, 64, 0;
  --pa-bg-rgb-admin-panel-700 : 201, 57, 0;
  --pa-bg-rgb-admin-panel-800 : 188, 53, 0;
  --pa-bg-rgb-admin-panel-900 : 148, 42, 0;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : #424242;
  --pa-color-admin-panel-400 : #424242;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}