:root{
  --pa-bg-admin-panel     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel  : white;

  --pa-bg-admin-panel-h     : var(--pa-bg-admin-panel-600);
  --pa-color-admin-panel-h  : white;

  --pa-bg-admin-panel-a     : var(--pa-bg-admin-panel-700);
  --pa-color-admin-panel-a  : white;

  --pa-bg-admin-panel-f     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel-f  : white;

  --pa-bg-admin-panel-50  : #F2FCFF;
  --pa-bg-admin-panel-100 : #D7F7FF;
  --pa-bg-admin-panel-200 : #BCF2FF;
  --pa-bg-admin-panel-300 : #94EAFF;
  --pa-bg-admin-panel-400 : #43D9FF;
  --pa-bg-admin-panel-500 : #00CCFF;
  --pa-bg-admin-panel-600 : #00B7E4;
  --pa-bg-admin-panel-700 : #00A1C9;
  --pa-bg-admin-panel-800 : #008CAE;
  --pa-bg-admin-panel-900 : #006179;

  --pa-bg-rgb-admin-panel-50:  242, 252, 255;
  --pa-bg-rgb-admin-panel-100: 215, 247, 255;
  --pa-bg-rgb-admin-panel-200: 188, 242, 255;
  --pa-bg-rgb-admin-panel-300: 148, 234, 255;
  --pa-bg-rgb-admin-panel-400: 67, 217, 255;
  --pa-bg-rgb-admin-panel-500: 0, 204, 255;
  --pa-bg-rgb-admin-panel-600: 0, 183, 228;
  --pa-bg-rgb-admin-panel-700: 0, 161, 201;
  --pa-bg-rgb-admin-panel-800: 0, 140, 174;
  --pa-bg-rgb-admin-panel-900: 0, 97, 121;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : #424242;
  --pa-color-admin-panel-400 : white;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}