:root{
  --pa-bg-admin-panel     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel  : white;

  --pa-bg-admin-panel-h     : var(--pa-bg-admin-panel-600);
  --pa-color-admin-panel-h  : white;

  --pa-bg-admin-panel-a     : var(--pa-bg-admin-panel-700);
  --pa-color-admin-panel-a  : white;

  --pa-bg-admin-panel-f     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel-f  : white;

  --pa-bg-admin-panel-50  : #FAFFED;
  --pa-bg-admin-panel-100 : #EFFCC4;
  --pa-bg-admin-panel-200 : #E3F99D;
  --pa-bg-admin-panel-300 : #DAF977;
  --pa-bg-admin-panel-400 : #BEF416;
  --pa-bg-admin-panel-500 : #B4EA0B;
  --pa-bg-admin-panel-600 : #95C109;
  --pa-bg-admin-panel-700 : #89B207;
  --pa-bg-admin-panel-800 : #779B06;
  --pa-bg-admin-panel-900 : #678705;

  --pa-bg-rgb-admin-panel-50:  250, 255, 237;
  --pa-bg-rgb-admin-panel-100: 239, 252, 196;
  --pa-bg-rgb-admin-panel-200: 227, 249, 157;
  --pa-bg-rgb-admin-panel-300: 218, 249, 119;
  --pa-bg-rgb-admin-panel-400: 190, 244, 22;
  --pa-bg-rgb-admin-panel-500: 180, 234, 11;
  --pa-bg-rgb-admin-panel-600: 149, 193, 9;
  --pa-bg-rgb-admin-panel-700: 137, 178, 7;
  --pa-bg-rgb-admin-panel-800: 119, 155, 6;
  --pa-bg-rgb-admin-panel-900: 103, 135, 5;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : #424242;
  --pa-color-admin-panel-400 : #424242;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}