:root{
  --pa-bg-admin-panel     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel  : white;

  --pa-bg-admin-panel-h     : var(--pa-bg-admin-panel-600);
  --pa-color-admin-panel-h  : white;

  --pa-bg-admin-panel-a     : var(--pa-bg-admin-panel-700);
  --pa-color-admin-panel-a  : white;

  --pa-bg-admin-panel-f     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel-f  : white;

  --pa-bg-admin-panel-50  : #FFF2F9;
  --pa-bg-admin-panel-100 : #FFD7EC;
  --pa-bg-admin-panel-200 : #FFAED9;
  --pa-bg-admin-panel-300 : #FF6BBA;
  --pa-bg-admin-panel-400 : #FF36A1;
  --pa-bg-admin-panel-500 : #FF0088;
  --pa-bg-admin-panel-600 : #ED007F;
  --pa-bg-admin-panel-700 : #DC0075;
  --pa-bg-admin-panel-800 : #C10067;
  --pa-bg-admin-panel-900 : #A70059;

  --pa-bg-rgb-admin-panel-50:  255, 242, 249;
  --pa-bg-rgb-admin-panel-100: 255, 215, 236;
  --pa-bg-rgb-admin-panel-200: 255, 174, 217;
  --pa-bg-rgb-admin-panel-300: 255, 107, 186;
  --pa-bg-rgb-admin-panel-400: 255, 54, 161;
  --pa-bg-rgb-admin-panel-500: 255, 0, 136;
  --pa-bg-rgb-admin-panel-600: 237, 0, 127;
  --pa-bg-rgb-admin-panel-700: 220, 0, 117;
  --pa-bg-rgb-admin-panel-800: 193, 0, 103;
  --pa-bg-rgb-admin-panel-900: 167, 0, 89;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : white;
  --pa-color-admin-panel-400 : white;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}