:root{
  --pa-bg-admin-panel     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel  : white;

  --pa-bg-admin-panel-h     : var(--pa-bg-admin-panel-600);
  --pa-color-admin-panel-h  : white;

  --pa-bg-admin-panel-a     : var(--pa-bg-admin-panel-700);
  --pa-color-admin-panel-a  : white;

  --pa-bg-admin-panel-f     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel-f  : white;

  --pa-bg-admin-panel-50  : #F2F9F9;
  --pa-bg-admin-panel-100 : #D7EEED;
  --pa-bg-admin-panel-200 : #BCE3E0;
  --pa-bg-admin-panel-300 : #5EBBB5;
  --pa-bg-admin-panel-400 : #1B9F96;
  --pa-bg-admin-panel-500 : #00948A;
  --pa-bg-admin-panel-600 : #00847B;
  --pa-bg-admin-panel-700 : #00756D;
  --pa-bg-admin-panel-800 : #00655E;
  --pa-bg-admin-panel-900 : #004641;

  --pa-bg-rgb-admin-panel-50:  242, 249, 249;
  --pa-bg-rgb-admin-panel-100: 215, 238, 237;
  --pa-bg-rgb-admin-panel-200: 188, 227, 224;
  --pa-bg-rgb-admin-panel-300: 94, 187, 181;
  --pa-bg-rgb-admin-panel-400: 27, 159, 150;
  --pa-bg-rgb-admin-panel-500: 0, 148, 138;
  --pa-bg-rgb-admin-panel-600: 0, 132, 123;
  --pa-bg-rgb-admin-panel-700: 0, 117, 109;
  --pa-bg-rgb-admin-panel-800: 0, 101, 94;
  --pa-bg-rgb-admin-panel-900: 0, 70, 65;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : white;
  --pa-color-admin-panel-400 : white;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}