.bg-indigo-50{
    background-color: var(--pa-bg-indigo-50) !important;
}
.bg-indigo-100{
    background-color: var(--pa-bg-indigo-100) !important;
}
.bg-indigo-200{
    background-color: var(--pa-bg-indigo-200) !important;
}
.bg-indigo-300{
    background-color: var(--pa-bg-indigo-300) !important;
}
.bg-indigo-400{
    background-color: var(--pa-bg-indigo-400) !important;
}
.bg-indigo-500{
    background-color: var(--pa-bg-indigo-500) !important;
}
.bg-indigo-600{
    background-color: var(--pa-bg-indigo-600) !important;
}
.bg-indigo-700{
    background-color: var(--pa-bg-indigo-700) !important;
}
.bg-indigo-800{
    background-color: var(--pa-bg-indigo-800) !important;
}
.bg-indigo-900{
    background-color: var(--pa-bg-indigo-900) !important;
}
