.fill-indigo-50{
    fill: var(--pa-bg-indigo-50) !important;
}
.fill-indigo-100{
    fill: var(--pa-bg-indigo-100) !important;
}
.fill-indigo-200{
    fill: var(--pa-bg-indigo-200) !important;
}
.fill-indigo-300{
    fill: var(--pa-bg-indigo-300) !important;
}
.fill-indigo-400{
    fill: var(--pa-bg-indigo-400) !important;
}
.fill-indigo-500{
    fill: var(--pa-bg-indigo-500) !important;
}
.fill-indigo-600{
    fill: var(--pa-bg-indigo-600) !important;
}
.fill-indigo-700{
    fill: var(--pa-bg-indigo-700) !important;
}
.fill-indigo-800{
    fill: var(--pa-bg-indigo-800) !important;
}
.fill-indigo-900{
    fill: var(--pa-bg-indigo-900) !important;
}
