.bg-secondary-50{
    background-color: var(--pa-bg-secondary-50) !important;
}
.bg-secondary-100{
    background-color: var(--pa-bg-secondary-100) !important;
}
.bg-secondary-200{
    background-color: var(--pa-bg-secondary-200) !important;
}
.bg-secondary-300{
    background-color: var(--pa-bg-secondary-300) !important;
}
.bg-secondary-400{
    background-color: var(--pa-bg-secondary-400) !important;
}
.bg-secondary-500{
    background-color: var(--pa-bg-secondary-500) !important;
}
.bg-secondary-600{
    background-color: var(--pa-bg-secondary-600) !important;
}
.bg-secondary-700{
    background-color: var(--pa-bg-secondary-700) !important;
}
.bg-secondary-800{
    background-color: var(--pa-bg-secondary-800) !important;
}
.bg-secondary-900{
    background-color: var(--pa-bg-secondary-900) !important;
}
