#{$parent_prefixClass}-max-w100vh #{$selectAll}{
  max-width: 100vh #{$parent_importantStatus};
}

#{$parent_prefixClass}-max-w0 #{$selectAll}{
  max-width:0% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w1 #{$selectAll}{
  max-width:1% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w2 #{$selectAll}{
  max-width:2% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w3 #{$selectAll}{
  max-width:3% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w4 #{$selectAll}{
  max-width:4% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w5 #{$selectAll}{
  max-width:5% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w6 #{$selectAll}{
  max-width:6% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w7 #{$selectAll}{
  max-width:7% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w8 #{$selectAll}{
  max-width:8% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w9 #{$selectAll}{
  max-width:9% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w10 #{$selectAll}{
  max-width:10% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w11 #{$selectAll}{
  max-width:11% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w12 #{$selectAll}{
  max-width:12% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w13 #{$selectAll}{
  max-width:13% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w14 #{$selectAll}{
  max-width:14% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w15 #{$selectAll}{
  max-width:15% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w16 #{$selectAll}{
  max-width:16% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w17 #{$selectAll}{
  max-width:17% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w18 #{$selectAll}{
  max-width:18% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w19 #{$selectAll}{
  max-width:19% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w20 #{$selectAll}{
  max-width:20% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w21 #{$selectAll}{
  max-width:21% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w22 #{$selectAll}{
  max-width:22% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w23 #{$selectAll}{
  max-width:23% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w24 #{$selectAll}{
  max-width:24% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w25 #{$selectAll}{
  max-width:25% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w26 #{$selectAll}{
  max-width:26% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w27 #{$selectAll}{
  max-width:27% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w28 #{$selectAll}{
  max-width:28% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w29 #{$selectAll}{
  max-width:29% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w30 #{$selectAll}{
  max-width:30% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w31 #{$selectAll}{
  max-width:31% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w32 #{$selectAll}{
  max-width:32% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w33 #{$selectAll}{
  max-width:33% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w34 #{$selectAll}{
  max-width:34% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w35 #{$selectAll}{
  max-width:35% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w36 #{$selectAll}{
  max-width:36% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w37 #{$selectAll}{
  max-width:37% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w38 #{$selectAll}{
  max-width:38% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w39 #{$selectAll}{
  max-width:39% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w40 #{$selectAll}{
  max-width:40% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w41 #{$selectAll}{
  max-width:41% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w42 #{$selectAll}{
  max-width:42% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w43 #{$selectAll}{
  max-width:43% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w44 #{$selectAll}{
  max-width:44% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w45 #{$selectAll}{
  max-width:45% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w46 #{$selectAll}{
  max-width:46% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w47 #{$selectAll}{
  max-width:47% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w48 #{$selectAll}{
  max-width:48% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w49 #{$selectAll}{
  max-width:49% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w50 #{$selectAll}{
  max-width:50% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w51 #{$selectAll}{
  max-width:51% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w52 #{$selectAll}{
  max-width:52% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w53 #{$selectAll}{
  max-width:53% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w54 #{$selectAll}{
  max-width:54% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w55 #{$selectAll}{
  max-width:55% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w56 #{$selectAll}{
  max-width:56% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w57 #{$selectAll}{
  max-width:57% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w58 #{$selectAll}{
  max-width:58% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w59 #{$selectAll}{
  max-width:59% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w60 #{$selectAll}{
  max-width:60% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w61 #{$selectAll}{
  max-width:61% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w62 #{$selectAll}{
  max-width:62% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w63 #{$selectAll}{
  max-width:63% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w64 #{$selectAll}{
  max-width:64% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w65 #{$selectAll}{
  max-width:65% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w66 #{$selectAll}{
  max-width:66% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w67 #{$selectAll}{
  max-width:67% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w68 #{$selectAll}{
  max-width:68% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w69 #{$selectAll}{
  max-width:69% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w70 #{$selectAll}{
  max-width:70% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w71 #{$selectAll}{
  max-width:71% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w72 #{$selectAll}{
  max-width:72% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w73 #{$selectAll}{
  max-width:73% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w74 #{$selectAll}{
  max-width:74% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w75 #{$selectAll}{
  max-width:75% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w76 #{$selectAll}{
  max-width:76% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w77 #{$selectAll}{
  max-width:77% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w78 #{$selectAll}{
  max-width:78% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w79 #{$selectAll}{
  max-width:79% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w80 #{$selectAll}{
  max-width:80% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w81 #{$selectAll}{
  max-width:81% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w82 #{$selectAll}{
  max-width:82% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w83 #{$selectAll}{
  max-width:83% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w84 #{$selectAll}{
  max-width:84% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w85 #{$selectAll}{
  max-width:85% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w86 #{$selectAll}{
  max-width:86% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w87 #{$selectAll}{
  max-width:87% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w88 #{$selectAll}{
  max-width:88% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w89 #{$selectAll}{
  max-width:89% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w90 #{$selectAll}{
  max-width:90% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w91 #{$selectAll}{
  max-width:91% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w92 #{$selectAll}{
  max-width:92% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w93 #{$selectAll}{
  max-width:93% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w94 #{$selectAll}{
  max-width:94% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w95 #{$selectAll}{
  max-width:95% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w96 #{$selectAll}{
  max-width:96% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w97 #{$selectAll}{
  max-width:97% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w98 #{$selectAll}{
  max-width:98% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w99 #{$selectAll}{
  max-width:99% #{$parent_importantStatus}
}
#{$parent_prefixClass}-max-w100 #{$selectAll}{
  max-width:100% #{$parent_importantStatus}
}