.border-orange-50{
    border-color: var(--pa-bg-orange-50) !important;
}
.border-orange-100{
    border-color: var(--pa-bg-orange-100) !important;
}
.border-orange-200{
    border-color: var(--pa-bg-orange-200) !important;
}
.border-orange-300{
    border-color: var(--pa-bg-orange-300) !important;
}
.border-orange-400{
    border-color: var(--pa-bg-orange-400) !important;
}
.border-orange-500{
    border-color: var(--pa-bg-orange-500) !important;
}
.border-orange-600{
    border-color: var(--pa-bg-orange-600) !important;
}
.border-orange-700{
    border-color: var(--pa-bg-orange-700) !important;
}
.border-orange-800{
    border-color: var(--pa-bg-orange-800) !important;
}
.border-orange-900{
    border-color: var(--pa-bg-orange-900) !important;
}
