.fill-orange-50{
    background-color: var(--pa-bg-orange-50) !important;
}
.fill-orange-100{
    background-color: var(--pa-bg-orange-100) !important;
}
.fill-orange-200{
    background-color: var(--pa-bg-orange-200) !important;
}
.fill-orange-300{
    background-color: var(--pa-bg-orange-300) !important;
}
.fill-orange-400{
    background-color: var(--pa-bg-orange-400) !important;
}
.fill-orange-500{
    background-color: var(--pa-bg-orange-500) !important;
}
.fill-orange-600{
    background-color: var(--pa-bg-orange-600) !important;
}
.fill-orange-700{
    background-color: var(--pa-bg-orange-700) !important;
}
.fill-orange-800{
    background-color: var(--pa-bg-orange-800) !important;
}
.fill-orange-900{
    background-color: var(--pa-bg-orange-900) !important;
}
