.text-orange-50{
    color: var(--pa-bg-orange-50) !important;
}
.text-orange-100{
    color: var(--pa-bg-orange-100) !important;
}
.text-orange-200{
    color: var(--pa-bg-orange-200) !important;
}
.text-orange-300{
    color: var(--pa-bg-orange-300) !important;
}
.text-orange-400{
    color: var(--pa-bg-orange-400) !important;
}
.text-orange-500{
    color: var(--pa-bg-orange-500) !important;
}
.text-orange-600{
    color: var(--pa-bg-orange-600) !important;
}
.text-orange-700{
    color: var(--pa-bg-orange-700) !important;
}
.text-orange-800{
    color: var(--pa-bg-orange-800) !important;
}
.text-orange-900{
    color: var(--pa-bg-orange-900) !important;
}
