.mg-pa-element-primary-50 {
    background-color: var(--pa-primary-50) !important;
}
.mg-pa-element-primary-100 {
    background-color: var(--pa-primary-100) !important;
}
.mg-pa-element-primary-200 {
    background-color: var(--pa-primary-200) !important;
}
.mg-pa-element-primary-300 {
    background-color: var(--pa-primary-300) !important;
}
.mg-pa-element-primary-400 {
    background-color: var(--pa-primary-400) !important;
}
.mg-pa-element-primary-500 {
    background-color: var(--pa-primary-500) !important;
}
.mg-pa-element-primary-600 {
    background-color: var(--pa-primary-600) !important;
}
.mg-pa-element-primary-700 {
    background-color: var(--pa-primary-700) !important;
}
.mg-pa-element-primary-800 {
    background-color: var(--pa-primary-800) !important;
}
.mg-pa-element-primary-900 {
    background-color: var(--pa-primary-900) !important;
}
.mg-pa-text-primary-50 {
    color: var(--pa-primary-50) !important;
}
.mg-pa-text-primary-100 {
    color: var(--pa-primary-100) !important;
}
.mg-pa-text-primary-200 {
    color: var(--pa-primary-200) !important;
}
.mg-pa-text-primary-300 {
    color: var(--pa-primary-300) !important;
}
.mg-pa-text-primary-400 {
    color: var(--pa-primary-400) !important;
}
.mg-pa-text-primary-500 {
    color: var(--pa-primary-500) !important;
}
.mg-pa-text-primary-600 {
    color: var(--pa-primary-600) !important;
}
.mg-pa-text-primary-700 {
    color: var(--pa-primary-700) !important;
}
.mg-pa-text-primary-800 {
    color: var(--pa-primary-800) !important;
}
.mg-pa-text-primary-900 {
    color: var(--pa-primary-900) !important;
}
.mg-pa-fill-primary-50 {
    fill: var(--pa-primary-50) !important;
}
.mg-pa-fill-primary-100 {
    fill: var(--pa-primary-100) !important;
}
.mg-pa-fill-primary-200 {
    fill: var(--pa-primary-200) !important;
}
.mg-pa-fill-primary-300 {
    fill: var(--pa-primary-300) !important;
}
.mg-pa-fill-primary-400 {
    fill: var(--pa-primary-400) !important;
}
.mg-pa-fill-primary-500 {
    fill: var(--pa-primary-500) !important;
}
.mg-pa-fill-primary-600 {
    fill: var(--pa-primary-600) !important;
}
.mg-pa-fill-primary-700 {
    fill: var(--pa-primary-700) !important;
}
.mg-pa-fill-primary-800 {
    fill: var(--pa-primary-800) !important;
}
.mg-pa-fill-primary-900 {
    fill: var(--pa-primary-900) !important;
}
.mg-pa-border-primary-50 {
    border-color: var(--pa-primary-50) !important;
}
.mg-pa-border-primary-100 {
    border-color: var(--pa-primary-100) !important;
}
.mg-pa-border-primary-200 {
    border-color: var(--pa-primary-200) !important;
}
.mg-pa-border-primary-300 {
    border-color: var(--pa-primary-300) !important;
}
.mg-pa-border-primary-400 {
    border-color: var(--pa-primary-400) !important;
}
.mg-pa-border-primary-500 {
    border-color: var(--pa-primary-500) !important;
}
.mg-pa-border-primary-600 {
    border-color: var(--pa-primary-600) !important;
}
.mg-pa-border-primary-700 {
    border-color: var(--pa-primary-700) !important;
}
.mg-pa-border-primary-800 {
    border-color: var(--pa-primary-800) !important;
}
.mg-pa-border-primary-900 {
    border-color: var(--pa-primary-900) !important;
}
.mg-pa-shadow-primary-50 {
    box-shadow: 0 0 30px var(--pa-primary-50) !important;
}
.mg-pa-shadow-primary-100 {
    box-shadow: 0 0 30px var(--pa-primary-100) !important;
}
.mg-pa-shadow-primary-200 {
    box-shadow: 0 0 30px var(--pa-primary-200) !important;
}
.mg-pa-shadow-primary-300 {
    box-shadow: 0 0 30px var(--pa-primary-300) !important;
}
.mg-pa-shadow-primary-400 {
    box-shadow: 0 0 30px var(--pa-primary-400) !important;
}
.mg-pa-shadow-primary-500 {
    box-shadow: 0 0 30px var(--pa-primary-500) !important;
}
.mg-pa-shadow-primary-600 {
    box-shadow: 0 0 30px var(--pa-primary-600) !important;
}
.mg-pa-shadow-primary-700 {
    box-shadow: 0 0 30px var(--pa-primary-700) !important;
}
.mg-pa-shadow-primary-800 {
    box-shadow: 0 0 30px var(--pa-primary-800) !important;
}
.mg-pa-shadow-primary-900 {
    box-shadow: 0 0 30px var(--pa-primary-900) !important;
}