.mg-pa-element-secondary-50 {
    background-color: var(--pa-secondary-50) !important;
}
.mg-pa-element-secondary-100 {
    background-color: var(--pa-secondary-100) !important;
}
.mg-pa-element-secondary-200 {
    background-color: var(--pa-secondary-200) !important;
}
.mg-pa-element-secondary-300 {
    background-color: var(--pa-secondary-300) !important;
}
.mg-pa-element-secondary-400 {
    background-color: var(--pa-secondary-400) !important;
}
.mg-pa-element-secondary-500 {
    background-color: var(--pa-secondary-500) !important;
}
.mg-pa-element-secondary-600 {
    background-color: var(--pa-secondary-600) !important;
}
.mg-pa-element-secondary-700 {
    background-color: var(--pa-secondary-700) !important;
}
.mg-pa-element-secondary-800 {
    background-color: var(--pa-secondary-800) !important;
}
.mg-pa-element-secondary-900 {
    background-color: var(--pa-secondary-900) !important;
}
.mg-pa-text-secondary-50 {
    color: var(--pa-secondary-50) !important;
}
.mg-pa-text-secondary-100 {
    color: var(--pa-secondary-100) !important;
}
.mg-pa-text-secondary-200 {
    color: var(--pa-secondary-200) !important;
}
.mg-pa-text-secondary-300 {
    color: var(--pa-secondary-300) !important;
}
.mg-pa-text-secondary-400 {
    color: var(--pa-secondary-400) !important;
}
.mg-pa-text-secondary-500 {
    color: var(--pa-secondary-500) !important;
}
.mg-pa-text-secondary-600 {
    color: var(--pa-secondary-600) !important;
}
.mg-pa-text-secondary-700 {
    color: var(--pa-secondary-700) !important;
}
.mg-pa-text-secondary-800 {
    color: var(--pa-secondary-800) !important;
}
.mg-pa-text-secondary-900 {
    color: var(--pa-secondary-900) !important;
}
.mg-pa-fill-secondary-50 {
    fill: var(--pa-secondary-50) !important;
}
.mg-pa-fill-secondary-100 {
    fill: var(--pa-secondary-100) !important;
}
.mg-pa-fill-secondary-200 {
    fill: var(--pa-secondary-200) !important;
}
.mg-pa-fill-secondary-300 {
    fill: var(--pa-secondary-300) !important;
}
.mg-pa-fill-secondary-400 {
    fill: var(--pa-secondary-400) !important;
}
.mg-pa-fill-secondary-500 {
    fill: var(--pa-secondary-500) !important;
}
.mg-pa-fill-secondary-600 {
    fill: var(--pa-secondary-600) !important;
}
.mg-pa-fill-secondary-700 {
    fill: var(--pa-secondary-700) !important;
}
.mg-pa-fill-secondary-800 {
    fill: var(--pa-secondary-800) !important;
}
.mg-pa-fill-secondary-900 {
    fill: var(--pa-secondary-900) !important;
}
.mg-pa-border-secondary-50 {
    border-color: var(--pa-secondary-50) !important;
}
.mg-pa-border-secondary-100 {
    border-color: var(--pa-secondary-100) !important;
}
.mg-pa-border-secondary-200 {
    border-color: var(--pa-secondary-200) !important;
}
.mg-pa-border-secondary-300 {
    border-color: var(--pa-secondary-300) !important;
}
.mg-pa-border-secondary-400 {
    border-color: var(--pa-secondary-400) !important;
}
.mg-pa-border-secondary-500 {
    border-color: var(--pa-secondary-500) !important;
}
.mg-pa-border-secondary-600 {
    border-color: var(--pa-secondary-600) !important;
}
.mg-pa-border-secondary-700 {
    border-color: var(--pa-secondary-700) !important;
}
.mg-pa-border-secondary-800 {
    border-color: var(--pa-secondary-800) !important;
}
.mg-pa-border-secondary-900 {
    border-color: var(--pa-secondary-900) !important;
}
.mg-pa-shadow-secondary-50 {
    box-shadow: 0 0 30px var(--pa-secondary-50) !important;
}
.mg-pa-shadow-secondary-100 {
    box-shadow: 0 0 30px var(--pa-secondary-100) !important;
}
.mg-pa-shadow-secondary-200 {
    box-shadow: 0 0 30px var(--pa-secondary-200) !important;
}
.mg-pa-shadow-secondary-300 {
    box-shadow: 0 0 30px var(--pa-secondary-300) !important;
}
.mg-pa-shadow-secondary-400 {
    box-shadow: 0 0 30px var(--pa-secondary-400) !important;
}
.mg-pa-shadow-secondary-500 {
    box-shadow: 0 0 30px var(--pa-secondary-500) !important;
}
.mg-pa-shadow-secondary-600 {
    box-shadow: 0 0 30px var(--pa-secondary-600) !important;
}
.mg-pa-shadow-secondary-700 {
    box-shadow: 0 0 30px var(--pa-secondary-700) !important;
}
.mg-pa-shadow-secondary-800 {
    box-shadow: 0 0 30px var(--pa-secondary-800) !important;
}
.mg-pa-shadow-secondary-900 {
    box-shadow: 0 0 30px var(--pa-secondary-900) !important;
}