#{$parent_prefixClass}-w1550em #{$selectAll}{
  width:pxToEm(1550) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1600em #{$selectAll}{
  width:pxToEm(1600) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1650em #{$selectAll}{
  width:pxToEm(1650) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1700em #{$selectAll}{
  width:pxToEm(1700) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1750em #{$selectAll}{
  width:pxToEm(1750) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1800em #{$selectAll}{
  width:pxToEm(1800) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1850em #{$selectAll}{
  width:pxToEm(1850) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1900em #{$selectAll}{
  width:pxToEm(1900) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1950em #{$selectAll}{
  width:pxToEm(1950) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w2000em #{$selectAll}{
  width:pxToEm(2000) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w2500em #{$selectAll}{
  width:pxToEm(2500) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w3000em #{$selectAll}{
  width:pxToEm(3000) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w3500em #{$selectAll}{
  width:pxToEm(3500) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w4000em #{$selectAll}{
  width:pxToEm(4000) #{$parent_importantStatus}
}

