.bg-pink-50{
    background-color: var(--pa-bg-pink-50) !important;
}
.bg-pink-100{
    background-color: var(--pa-bg-pink-100) !important;
}
.bg-pink-200{
    background-color: var(--pa-bg-pink-200) !important;
}
.bg-pink-300{
    background-color: var(--pa-bg-pink-300) !important;
}
.bg-pink-400{
    background-color: var(--pa-bg-pink-400) !important;
}
.bg-pink-500{
    background-color: var(--pa-bg-pink-500) !important;
}
.bg-pink-600{
    background-color: var(--pa-bg-pink-600) !important;
}
.bg-pink-700{
    background-color: var(--pa-bg-pink-700) !important;
}
.bg-pink-800{
    background-color: var(--pa-bg-pink-800) !important;
}
.bg-pink-900{
    background-color: var(--pa-bg-pink-900) !important;
}
