.border-pink-50{
    border-color: var(--pa-bg-pink-50) !important;
}
.border-pink-100{
    border-color: var(--pa-bg-pink-100) !important;
}
.border-pink-200{
    border-color: var(--pa-bg-pink-200) !important;
}
.border-pink-300{
    border-color: var(--pa-bg-pink-300) !important;
}
.border-pink-400{
    border-color: var(--pa-bg-pink-400) !important;
}
.border-pink-500{
    border-color: var(--pa-bg-pink-500) !important;
}
.border-pink-600{
    border-color: var(--pa-bg-pink-600) !important;
}
.border-pink-700{
    border-color: var(--pa-bg-pink-700) !important;
}
.border-pink-800{
    border-color: var(--pa-bg-pink-800) !important;
}
.border-pink-900{
    border-color: var(--pa-bg-pink-900) !important;
}
