.fill-pink-50{
    fill: var(--pa-bg-pink-50) !important;
}
.fill-pink-100{
    fill: var(--pa-bg-pink-100) !important;
}
.fill-pink-200{
    fill: var(--pa-bg-pink-200) !important;
}
.fill-pink-300{
    fill: var(--pa-bg-pink-300) !important;
}
.fill-pink-400{
    fill: var(--pa-bg-pink-400) !important;
}
.fill-pink-500{
    fill: var(--pa-bg-pink-500) !important;
}
.fill-pink-600{
    fill: var(--pa-bg-pink-600) !important;
}
.fill-pink-700{
    fill: var(--pa-bg-pink-700) !important;
}
.fill-pink-800{
    fill: var(--pa-bg-pink-800) !important;
}
.fill-pink-900{
    fill: var(--pa-bg-pink-900) !important;
}
