.text-pink-50{
    color: var(--pa-bg-pink-50) !important;
}
.text-pink-100{
    color: var(--pa-bg-pink-100) !important;
}
.text-pink-200{
    color: var(--pa-bg-pink-200) !important;
}
.text-pink-300{
    color: var(--pa-bg-pink-300) !important;
}
.text-pink-400{
    color: var(--pa-bg-pink-400) !important;
}
.text-pink-500{
    color: var(--pa-bg-pink-500) !important;
}
.text-pink-600{
    color: var(--pa-bg-pink-600) !important;
}
.text-pink-700{
    color: var(--pa-bg-pink-700) !important;
}
.text-pink-800{
    color: var(--pa-bg-pink-800) !important;
}
.text-pink-900{
    color: var(--pa-bg-pink-900) !important;
}
