:root{
  --pa-bg-admin-panel     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel  : white;
  --pa-color-rgb-admin-panel  : 255, 255, 255;

  --pa-bg-admin-panel-h     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel-h     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel-h  : white;
  --pa-color-rgb-admin-panel-h  : 255, 255, 255;

  --pa-bg-admin-panel-a     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel-a     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel-a  : white;
  --pa-color-rgb-admin-panel-a  : 255, 255, 255;

  --pa-bg-admin-panel-f     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel-f     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel-f  : white;
  --pa-color-rgb-admin-panel-f  : 255, 255, 255;

  --pa-bg-admin-panel-50  : #e3f2fd;
  --pa-bg-admin-panel-100 : #bbdefb;
  --pa-bg-admin-panel-200 : #90caf9;
  --pa-bg-admin-panel-300 : #64b5f6;
  --pa-bg-admin-panel-400 : #42a5f5;
  --pa-bg-admin-panel-500 : #2196f3;
  --pa-bg-admin-panel-600 : #1e88e5;
  --pa-bg-admin-panel-700 : #1976d2;
  --pa-bg-admin-panel-800 : #1565c0;
  --pa-bg-admin-panel-900 : #0d47a1;

  --pa-bg-rgb-admin-panel-50:  227, 242, 253;
  --pa-bg-rgb-admin-panel-100: 187, 222, 251;
  --pa-bg-rgb-admin-panel-200: 144, 202, 249;
  --pa-bg-rgb-admin-panel-300: 100, 181, 246;
  --pa-bg-rgb-admin-panel-400: 66, 165, 245;
  --pa-bg-rgb-admin-panel-500: 33, 150, 243;
  --pa-bg-rgb-admin-panel-600: 30, 136, 229;
  --pa-bg-rgb-admin-panel-700: 25, 118, 210;
  --pa-bg-rgb-admin-panel-800: 21, 101, 192;
  --pa-bg-rgb-admin-panel-900: 13, 71, 161;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : #424242;
  --pa-color-admin-panel-400 : #424242;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}
