:root{
  --pa-bg-admin-panel     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel  : white;

  --pa-bg-admin-panel-h     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel-h  : white;

  --pa-bg-admin-panel-a     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel-a  : white;

  --pa-bg-admin-panel-f     : var(--pa-bg-admin-panel-500);
  --pa-color-admin-panel-f  : white;

  --pa-bg-admin-panel-50  : #f1f8e9;
  --pa-bg-admin-panel-100 : #dcedc8;
  --pa-bg-admin-panel-200 : #c5e1a5;
  --pa-bg-admin-panel-300 : #aed581;
  --pa-bg-admin-panel-400 : #9ccc65;
  --pa-bg-admin-panel-500 : #8bc34a;
  --pa-bg-admin-panel-600 : #7cb342;
  --pa-bg-admin-panel-700 : #689f38;
  --pa-bg-admin-panel-800 : #558b2f;
  --pa-bg-admin-panel-900 : #33691e;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : #424242;
  --pa-color-admin-panel-400 : white;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}
