:root{
  --pa-bg-admin-panel     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel  : white;
  --pa-color-rgb-admin-panel  : 255, 255, 255;

  --pa-bg-admin-panel-h     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel-h     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel-h  : white;
  --pa-color-rgb-admin-panel-h  : 255, 255, 255;

  --pa-bg-admin-panel-a     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel-a     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel-a  : white;
  --pa-color-rgb-admin-panel-a  : 255, 255, 255;

  --pa-bg-admin-panel-f     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel-f     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel-f  : white;
  --pa-color-rgb-admin-panel-f  : 255, 255, 255;

  --pa-bg-admin-panel-50  : #e1f5fe;
  --pa-bg-admin-panel-100 : #b3e5fc;
  --pa-bg-admin-panel-200 : #81d4fa;
  --pa-bg-admin-panel-300 : #4fc3f7;
  --pa-bg-admin-panel-400 : #29b6f6;
  --pa-bg-admin-panel-500 : #03a9f4;
  --pa-bg-admin-panel-600 : #039be5;
  --pa-bg-admin-panel-700 : #0288d1;
  --pa-bg-admin-panel-800 : #0277bd;
  --pa-bg-admin-panel-900 : #01579b;

  --pa-bg-rgb-admin-panel-50:  225, 245, 254;
  --pa-bg-rgb-admin-panel-100: 179, 229, 252;
  --pa-bg-rgb-admin-panel-200: 129, 212, 250;
  --pa-bg-rgb-admin-panel-300: 79, 195, 247;
  --pa-bg-rgb-admin-panel-400: 41, 182, 246;
  --pa-bg-rgb-admin-panel-500: 3, 169, 244;
  --pa-bg-rgb-admin-panel-600: 3, 155, 229;
  --pa-bg-rgb-admin-panel-700: 2, 136, 209;
  --pa-bg-rgb-admin-panel-800: 2, 119, 189;
  --pa-bg-rgb-admin-panel-900: 1, 87, 155;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : #424242;
  --pa-color-admin-panel-400 : white;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}