:root{
  --pa-bg-admin-panel     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel  : white;
  --pa-color-rgb-admin-panel  : 255, 255, 255;

  --pa-bg-admin-panel-h     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel-h     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel-h  : white;
  --pa-color-rgb-admin-panel-h  : 255, 255, 255;

  --pa-bg-admin-panel-a     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel-a     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel-a  : white;
  --pa-color-rgb-admin-panel-a  : 255, 255, 255;

  --pa-bg-admin-panel-f     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel-f     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel-f  : white;
  --pa-color-rgb-admin-panel-f  : 255, 255, 255;

  --pa-bg-admin-panel-50  : #f9fbe7;
  --pa-bg-admin-panel-100 : #f0f4c3;
  --pa-bg-admin-panel-200 : #e6ee9c;
  --pa-bg-admin-panel-300 : #dce775;
  --pa-bg-admin-panel-400 : #d4e157;
  --pa-bg-admin-panel-500 : #cddc39;
  --pa-bg-admin-panel-600 : #c0ca33;
  --pa-bg-admin-panel-700 : #afb42b;
  --pa-bg-admin-panel-800 : #9e9d24;
  --pa-bg-admin-panel-900 : #827717;

  --pa-bg-rgb-admin-panel-50:  249, 251, 231;
  --pa-bg-rgb-admin-panel-100: 240, 244, 195;
  --pa-bg-rgb-admin-panel-200: 230, 238, 156;
  --pa-bg-rgb-admin-panel-300: 220, 231, 117;
  --pa-bg-rgb-admin-panel-400: 212, 225, 87;
  --pa-bg-rgb-admin-panel-500: 205, 220, 57;
  --pa-bg-rgb-admin-panel-600: 192, 202, 51;
  --pa-bg-rgb-admin-panel-700: 175, 180, 43;
  --pa-bg-rgb-admin-panel-800: 158, 157, 36;
  --pa-bg-rgb-admin-panel-900: 130, 119, 23;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : #424242;
  --pa-color-admin-panel-400 : #424242;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}