:root{
  --pa-bg-admin-panel     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel  : white;
  --pa-color-rgb-admin-panel  : 255, 255, 255;

  --pa-bg-admin-panel-h     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel-h     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel-h  : white;
  --pa-color-rgb-admin-panel-h  : 255, 255, 255;

  --pa-bg-admin-panel-a     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel-a     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel-a  : white;
  --pa-color-rgb-admin-panel-a  : 255, 255, 255;

  --pa-bg-admin-panel-f     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel-f     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel-f  : white;
  --pa-color-rgb-admin-panel-f  : 255, 255, 255;

  --pa-bg-admin-panel-50  : #ffebee;
  --pa-bg-admin-panel-100 : #ffcdd2;
  --pa-bg-admin-panel-200 : #ef9a9a;
  --pa-bg-admin-panel-300 : #e57373;
  --pa-bg-admin-panel-400 : #ef5350;
  --pa-bg-admin-panel-500 : #f44336;
  --pa-bg-admin-panel-600 : #e53935;
  --pa-bg-admin-panel-700 : #d32f2f;
  --pa-bg-admin-panel-800 : #c62828;
  --pa-bg-admin-panel-900 : #b71c1c;

  --pa-bg-rgb-admin-panel-50:  255, 235, 238;
  --pa-bg-rgb-admin-panel-100: 255, 205, 210;
  --pa-bg-rgb-admin-panel-200: 239, 154, 154;
  --pa-bg-rgb-admin-panel-300: 229, 115, 115;
  --pa-bg-rgb-admin-panel-400: 239, 83, 80;
  --pa-bg-rgb-admin-panel-500: 244, 67, 54;
  --pa-bg-rgb-admin-panel-600: 229, 57, 53;
  --pa-bg-rgb-admin-panel-700: 211, 47, 47;
  --pa-bg-rgb-admin-panel-800: 198, 40, 40;
  --pa-bg-rgb-admin-panel-900: 183, 28, 28;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : white;
  --pa-color-admin-panel-400 : white;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}
