.border-primary-50{
    border-color: var(--pa-bg-primary-50) !important;
}
.border-primary-100{
    border-color: var(--pa-bg-primary-100) !important;
}
.border-primary-200{
    border-color: var(--pa-bg-primary-200) !important;
}
.border-primary-300{
    border-color: var(--pa-bg-primary-300) !important;
}
.border-primary-400{
    border-color: var(--pa-bg-primary-400) !important;
}
.border-primary-500{
    border-color: var(--pa-bg-primary-500) !important;
}
.border-primary-600{
    border-color: var(--pa-bg-primary-600) !important;
}
.border-primary-700{
    border-color: var(--pa-bg-primary-700) !important;
}
.border-primary-800{
    border-color: var(--pa-bg-primary-800) !important;
}
.border-primary-900{
    border-color: var(--pa-bg-primary-900) !important;
}
