.fill-primary-50{
    fill: var(--pa-bg-primary-50) !important;
}
.fill-primary-100{
    fill: var(--pa-bg-primary-100) !important;
}
.fill-primary-200{
    fill: var(--pa-bg-primary-200) !important;
}
.fill-primary-300{
    fill: var(--pa-bg-primary-300) !important;
}
.fill-primary-400{
    fill: var(--pa-bg-primary-400) !important;
}
.fill-primary-500{
    fill: var(--pa-bg-primary-500) !important;
}
.fill-primary-600{
    fill: var(--pa-bg-primary-600) !important;
}
.fill-primary-700{
    fill: var(--pa-bg-primary-700) !important;
}
.fill-primary-800{
    fill: var(--pa-bg-primary-800) !important;
}
.fill-primary-900{
    fill: var(--pa-bg-primary-900) !important;
}
