.text-primary-50{
    color: var(--pa-bg-primary-50) !important;
}
.text-primary-100{
    color: var(--pa-bg-primary-100) !important;
}
.text-primary-200{
    color: var(--pa-bg-primary-200) !important;
}
.text-primary-300{
    color: var(--pa-bg-primary-300) !important;
}
.text-primary-400{
    color: var(--pa-bg-primary-400) !important;
}
.text-primary-500{
    color: var(--pa-bg-primary-500) !important;
}
.text-primary-600{
    color: var(--pa-bg-primary-600) !important;
}
.text-primary-700{
    color: var(--pa-bg-primary-700) !important;
}
.text-primary-800{
    color: var(--pa-bg-primary-800) !important;
}
.text-primary-900{
    color: var(--pa-bg-primary-900) !important;
}
