#{$parent_prefixClass}-min-h500px #{$selectAll}{
  min-height:500px #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h550px #{$selectAll}{
  min-height:550px #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h600px #{$selectAll}{
  min-height:600px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-h700px #{$selectAll}{
  min-height:700px #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h750px #{$selectAll}{
  min-height:750px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-h800px #{$selectAll}{
  min-height:800px #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h850px #{$selectAll}{
  min-height:850px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-h900px #{$selectAll}{
  min-height:900px #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h950px #{$selectAll}{
  min-height:950px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-h1000px #{$selectAll}{
  min-height:1000px #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h1050px #{$selectAll}{
  min-height:1050px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-h1100px #{$selectAll}{
  min-height:1100px #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h1150px #{$selectAll}{
  min-height:1150px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-h1200px #{$selectAll}{
  min-height:1200px #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h1250px #{$selectAll}{
  min-height:1250px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-h1300px #{$selectAll}{
  min-height:1300px #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h1350px #{$selectAll}{
  min-height:1350px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-h1400px #{$selectAll}{
  min-height:1400px #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h1450px #{$selectAll}{
  min-height:1450px #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-h1500px #{$selectAll}{
  min-height:1500px #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h1600px #{$selectAll}{
  min-height:1600px #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h1800px #{$selectAll}{
  min-height:1800px #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h2000px #{$selectAll}{
  min-height:2000px #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h2500px #{$selectAll}{
  min-height:2500px #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h3000px #{$selectAll}{
  min-height:3000px #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h3500px #{$selectAll}{
  min-height:3500px #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-h4000px #{$selectAll}{
  min-height:4000px #{$parent_importantStatus}
}