:root{
  --pa-bg-primary     : var(--pa-bg-primary-500);
  --pa-color-primary  : white;

  --pa-bg-primary-h     : var(--pa-bg-primary-600);
  --pa-color-primary-h  : white;

  --pa-bg-primary-a     : var(--pa-bg-primary-700);
  --pa-color-primary-a  : white;

  --pa-bg-primary-f     : var(--pa-bg-primary-500);
  --pa-color-primary-f  : white;

  --pa-bg-primary-50  : #e3f2fd;
  --pa-bg-primary-100 : #bbdefb;
  --pa-bg-primary-200 : #90caf9;
  --pa-bg-primary-300 : #64b5f6;
  --pa-bg-primary-400 : #42a5f5;
  --pa-bg-primary-500 : #2196f3;
  --pa-bg-primary-600 : #1e88e5;
  --pa-bg-primary-700 : #1976d2;
  --pa-bg-primary-800 : #1565c0;
  --pa-bg-primary-900 : #0d47a1;

  --pa-bg-rgb-primary-50:  227, 242, 253;
  --pa-bg-rgb-primary-100: 187, 222, 251;
  --pa-bg-rgb-primary-200: 144, 202, 249;
  --pa-bg-rgb-primary-300: 100, 181, 246;
  --pa-bg-rgb-primary-400: 66, 165, 245;
  --pa-bg-rgb-primary-500: 33, 150, 243;
  --pa-bg-rgb-primary-600: 30, 136, 229;
  --pa-bg-rgb-primary-700: 25, 118, 210;
  --pa-bg-rgb-primary-800: 21, 101, 192;
  --pa-bg-rgb-primary-900: 13, 71, 161;

  --pa-color-primary-50  : #424242;
  --pa-color-primary-100 : #424242;
  --pa-color-primary-200 : #424242;
  --pa-color-primary-300 : #424242;
  --pa-color-primary-400 : #424242;
  --pa-color-primary-500 : white;
  --pa-color-primary-600 : white;
  --pa-color-primary-700 : white;
  --pa-color-primary-800 : white;
  --pa-color-primary-900 : white;
}
