:root{
  --pa-bg-primary     : var(--pa-bg-primary-500);
  --pa-color-primary  : white;

  --pa-bg-primary-h     : var(--pa-bg-primary-600);
  --pa-color-primary-h  : white;

  --pa-bg-primary-a     : var(--pa-bg-primary-700);
  --pa-color-primary-a  : white;

  --pa-bg-primary-f     : var(--pa-bg-primary-500);
  --pa-color-primary-f  : white;

  --pa-bg-primary-50  : #e8eaf6;
  --pa-bg-primary-100 : #c5cae9;
  --pa-bg-primary-200 : #9fa8da;
  --pa-bg-primary-300 : #7986cb;
  --pa-bg-primary-400 : #5c6bc0;
  --pa-bg-primary-500 : #3f51b5;
  --pa-bg-primary-600 : #3949ab;
  --pa-bg-primary-700 : #303f9f;
  --pa-bg-primary-800 : #283593;
  --pa-bg-primary-900 : #1a237e;

  --pa-bg-rgb-primary-50:  232, 234, 246;
  --pa-bg-rgb-primary-100: 197, 202, 233;
  --pa-bg-rgb-primary-200: 159, 168, 218;
  --pa-bg-rgb-primary-300: 121, 134, 203;
  --pa-bg-rgb-primary-400: 92, 107, 192;
  --pa-bg-rgb-primary-500: 63, 81, 181;
  --pa-bg-rgb-primary-600: 57, 73, 171;
  --pa-bg-rgb-primary-700: 48, 63, 159;
  --pa-bg-rgb-primary-800: 40, 53, 147;
  --pa-bg-rgb-primary-900: 26, 35, 126;

  --pa-color-primary-50  : #424242;
  --pa-color-primary-100 : #424242;
  --pa-color-primary-200 : #424242;
  --pa-color-primary-300 : white;
  --pa-color-primary-400 : white;
  --pa-color-primary-500 : white;
  --pa-color-primary-600 : white;
  --pa-color-primary-700 : white;
  --pa-color-primary-800 : white;
  --pa-color-primary-900 : white;
}
