:root{
  --pa-bg-primary     : var(--pa-bg-primary-500);
  --pa-color-primary  : white;

  --pa-bg-primary-h     : var(--pa-bg-primary-600);
  --pa-color-primary-h  : white;

  --pa-bg-primary-a     : var(--pa-bg-primary-700);
  --pa-color-primary-a  : white;

  --pa-bg-primary-f     : var(--pa-bg-primary-500);
  --pa-color-primary-f  : white;

  --pa-bg-primary-50  : #fff3e0;
  --pa-bg-primary-100 : #ffe0b2;
  --pa-bg-primary-200 : #ffcc80;
  --pa-bg-primary-300 : #ffb74d;
  --pa-bg-primary-400 : #ffa726;
  --pa-bg-primary-500 : #ff9800;
  --pa-bg-primary-600 : #fb8c00;
  --pa-bg-primary-700 : #f57c00;
  --pa-bg-primary-800 : #ef6c00;
  --pa-bg-primary-900 : #e65100;

  --pa-bg-rgb-primary-50:  255, 243, 224;
  --pa-bg-rgb-primary-100: 255, 224, 178;
  --pa-bg-rgb-primary-200: 255, 204, 128;
  --pa-bg-rgb-primary-300: 255, 183, 77;
  --pa-bg-rgb-primary-400: 255, 167, 38;
  --pa-bg-rgb-primary-500: 255, 152, 0;
  --pa-bg-rgb-primary-600: 251, 140, 0;
  --pa-bg-rgb-primary-700: 245, 124, 0;
  --pa-bg-rgb-primary-800: 239, 108, 0;
  --pa-bg-rgb-primary-900: 230, 81, 0;

  --pa-color-primary-50  : #424242;
  --pa-color-primary-100 : #424242;
  --pa-color-primary-200 : #424242;
  --pa-color-primary-300 : white;
  --pa-color-primary-400 : white;
  --pa-color-primary-500 : white;
  --pa-color-primary-600 : white;
  --pa-color-primary-700 : white;
  --pa-color-primary-800 : white;
  --pa-color-primary-900 : white;
}
