:root{
  --pa-bg-primary     : var(--pa-bg-primary-500);
  --pa-color-primary  : white;

  --pa-bg-primary-h     : var(--pa-bg-primary-600);
  --pa-color-primary-h  : white;

  --pa-bg-primary-a     : var(--pa-bg-primary-700);
  --pa-color-primary-a  : white;

  --pa-bg-primary-f     : var(--pa-bg-primary-500);
  --pa-color-primary-f  : white;

  --pa-bg-primary-50  : #fce4ec;
  --pa-bg-primary-100 : #f8bbd0;
  --pa-bg-primary-200 : #f48fb1;
  --pa-bg-primary-300 : #f06292;
  --pa-bg-primary-400 : #ec407a;
  --pa-bg-primary-500 : #e91e63;
  --pa-bg-primary-600 : #d81b60;
  --pa-bg-primary-700 : #c2185b;
  --pa-bg-primary-800 : #ad1457;
  --pa-bg-primary-900 : #880e4f;

  --pa-color-primary-50  : #424242;
  --pa-color-primary-100 : #424242;
  --pa-color-primary-200 : #424242;
  --pa-color-primary-300 : white;
  --pa-color-primary-400 : white;
  --pa-color-primary-500 : white;
  --pa-color-primary-600 : white;
  --pa-color-primary-700 : white;
  --pa-color-primary-800 : white;
  --pa-color-primary-900 : white;
}