:root{
  --pa-bg-secondary     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary  : white;
  --pa-color-rgb-secondary  : 255, 255, 255;

  --pa-bg-secondary-h     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary-h     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary-h  : white;
  --pa-color-rgb-secondary-h  : 255, 255, 255;

  --pa-bg-secondary-a     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary-a     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary-a  : white;
  --pa-color-rgb-secondary-a  : 255, 255, 255;

  --pa-bg-secondary-f     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary-f     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary-f  : white;
  --pa-color-rgb-secondary-f  : 255, 255, 255;

  --pa-bg-secondary-50  : #fce4ec;
  --pa-bg-secondary-100 : #f8bbd0;
  --pa-bg-secondary-200 : #f48fb1;
  --pa-bg-secondary-300 : #f06292;
  --pa-bg-secondary-400 : #ec407a;
  --pa-bg-secondary-500 : #e91e63;
  --pa-bg-secondary-600 : #d81b60;
  --pa-bg-secondary-700 : #c2185b;
  --pa-bg-secondary-800 : #ad1457;
  --pa-bg-secondary-900 : #880e4f;

  --pa-bg-rgb-secondary-50:  252, 228, 236;
  --pa-bg-rgb-secondary-100: 248, 187, 208;
  --pa-bg-rgb-secondary-200: 244, 143, 177;
  --pa-bg-rgb-secondary-300: 240, 98, 146;
  --pa-bg-rgb-secondary-400: 236, 64, 122;
  --pa-bg-rgb-secondary-500: 233, 30, 99;
  --pa-bg-rgb-secondary-600: 216, 27, 96;
  --pa-bg-rgb-secondary-700: 194, 24, 91;
  --pa-bg-rgb-secondary-800: 173, 20, 87;
  --pa-bg-rgb-secondary-900: 136, 14, 79;

  --pa-color-secondary-50  : #424242;
  --pa-color-secondary-100 : #424242;
  --pa-color-secondary-200 : #424242;
  --pa-color-secondary-300 : white;
  --pa-color-secondary-400 : white;
  --pa-color-secondary-500 : white;
  --pa-color-secondary-600 : white;
  --pa-color-secondary-700 : white;
  --pa-color-secondary-800 : white;
  --pa-color-secondary-900 : white;
}