:root{
  --pa-bg-secondary     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary  : white;
  --pa-color-rgb-secondary  : 255, 255, 255;

  --pa-bg-secondary-h     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary-h     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary-h  : white;
  --pa-color-rgb-secondary-h  : 255, 255, 255;

  --pa-bg-secondary-a     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary-a     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary-a  : white;
  --pa-color-rgb-secondary-a  : 255, 255, 255;

  --pa-bg-secondary-f     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary-f     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary-f  : white;
  --pa-color-rgb-secondary-f  : 255, 255, 255;

  --pa-bg-secondary-50  : #ffebee;
  --pa-bg-secondary-100 : #ffcdd2;
  --pa-bg-secondary-200 : #ef9a9a;
  --pa-bg-secondary-300 : #e57373;
  --pa-bg-secondary-400 : #ef5350;
  --pa-bg-secondary-500 : #f44336;
  --pa-bg-secondary-600 : #e53935;
  --pa-bg-secondary-700 : #d32f2f;
  --pa-bg-secondary-800 : #c62828;
  --pa-bg-secondary-900 : #b71c1c;

  --pa-bg-rgb-secondary-50:  255, 235, 238;
  --pa-bg-rgb-secondary-100: 255, 205, 210;
  --pa-bg-rgb-secondary-200: 239, 154, 154;
  --pa-bg-rgb-secondary-300: 229, 115, 115;
  --pa-bg-rgb-secondary-400: 239, 83, 80;
  --pa-bg-rgb-secondary-500: 244, 67, 54;
  --pa-bg-rgb-secondary-600: 229, 57, 53;
  --pa-bg-rgb-secondary-700: 211, 47, 47;
  --pa-bg-rgb-secondary-800: 198, 40, 40;
  --pa-bg-rgb-secondary-900: 183, 28, 28;

  --pa-color-secondary-50  : #424242;
  --pa-color-secondary-100 : #424242;
  --pa-color-secondary-200 : #424242;
  --pa-color-secondary-300 : white;
  --pa-color-secondary-400 : white;
  --pa-color-secondary-500 : white;
  --pa-color-secondary-600 : white;
  --pa-color-secondary-700 : white;
  --pa-color-secondary-800 : white;
  --pa-color-secondary-900 : white;
}
