:root{
  --pa-bg-secondary     : var(--pa-bg-secondary-500);
  --pa-color-secondary  : white;

  --pa-bg-secondary-h     : var(--pa-bg-secondary-500);
  --pa-color-secondary-h  : white;

  --pa-bg-secondary-a     : var(--pa-bg-secondary-500);
  --pa-color-secondary-a  : white;

  --pa-bg-secondary-f     : var(--pa-bg-secondary-500);
  --pa-color-secondary-f  : white;

  --pa-bg-secondary-50  : #ffebee;
  --pa-bg-secondary-100 : #ffcdd2;
  --pa-bg-secondary-200 : #ef9a9a;
  --pa-bg-secondary-300 : #e57373;
  --pa-bg-secondary-400 : #ef5350;
  --pa-bg-secondary-500 : #f44336;
  --pa-bg-secondary-600 : #e53935;
  --pa-bg-secondary-700 : #d32f2f;
  --pa-bg-secondary-800 : #c62828;
  --pa-bg-secondary-900 : #b71c1c;

  --pa-color-secondary-50  : #424242;
  --pa-color-secondary-100 : #424242;
  --pa-color-secondary-200 : #424242;
  --pa-color-secondary-300 : white;
  --pa-color-secondary-400 : white;
  --pa-color-secondary-500 : white;
  --pa-color-secondary-600 : white;
  --pa-color-secondary-700 : white;
  --pa-color-secondary-800 : white;
  --pa-color-secondary-900 : white;
}
