:root{
  --pa-bg-secondary     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary  : white;
  --pa-color-rgb-secondary  : 255, 255, 255;

  --pa-bg-secondary-h     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary-h     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary-h  : white;
  --pa-color-rgb-secondary-h  : 255, 255, 255;

  --pa-bg-secondary-a     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary-a     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary-a  : white;
  --pa-color-rgb-secondary-a  : 255, 255, 255;

  --pa-bg-secondary-f     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary-f     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary-f  : white;
  --pa-color-rgb-secondary-f  : 255, 255, 255;

  --pa-bg-secondary-50  : #e0f2f1;
  --pa-bg-secondary-100 : #b2dfdb;
  --pa-bg-secondary-200 : #80cbc4;
  --pa-bg-secondary-300 : #4db6ac;
  --pa-bg-secondary-400 : #26a69a;
  --pa-bg-secondary-500 : #009688;
  --pa-bg-secondary-600 : #00897b;
  --pa-bg-secondary-700 : #00796b;
  --pa-bg-secondary-800 : #00695c;
  --pa-bg-secondary-900 : #004d40;

  --pa-bg-rgb-secondary-50:  224, 242, 241;
  --pa-bg-rgb-secondary-100: 178, 223, 219;
  --pa-bg-rgb-secondary-200: 128, 203, 196;
  --pa-bg-rgb-secondary-300: 77, 182, 172;
  --pa-bg-rgb-secondary-400: 38, 166, 154;
  --pa-bg-rgb-secondary-500: 0, 150, 136;
  --pa-bg-rgb-secondary-600: 0, 137, 123;
  --pa-bg-rgb-secondary-700: 0, 121, 107;
  --pa-bg-rgb-secondary-800: 0, 105, 92;
  --pa-bg-rgb-secondary-900: 0, 77, 64;

  --pa-color-secondary-50  : #424242;
  --pa-color-secondary-100 : #424242;
  --pa-color-secondary-200 : #424242;
  --pa-color-secondary-300 : white;
  --pa-color-secondary-400 : white;
  --pa-color-secondary-500 : white;
  --pa-color-secondary-600 : white;
  --pa-color-secondary-700 : white;
  --pa-color-secondary-800 : white;
  --pa-color-secondary-900 : white;
}