.text-primary-50{
    background-color: var(--pa-bg-primary-50);
}
.text-primary-100{
    background-color: var(--pa-bg-primary-100);
}
.text-primary-200{
    background-color: var(--pa-bg-primary-200);
}
.text-primary-300{
    background-color: var(--pa-bg-primary-300);
}
.text-primary-400{
    background-color: var(--pa-bg-primary-400);
}
.text-primary-500{
    background-color: var(--pa-bg-primary-500);
}
.text-primary-600{
    background-color: var(--pa-bg-primary-600);
}
.text-primary-700{
    background-color: var(--pa-bg-primary-700);
}
.text-primary-800{
    background-color: var(--pa-bg-primary-800);
}
.text-primary-900{
    background-color: var(--pa-bg-primary-900);
}
