.bg-blue-50{
    background-color: var(--pa-bg-blue-50) !important;
}
.bg-blue-100{
    background-color: var(--pa-bg-blue-100) !important;
}
.bg-blue-200{
    background-color: var(--pa-bg-blue-200) !important;
}
.bg-blue-300{
    background-color: var(--pa-bg-blue-300) !important;
}
.bg-blue-400{
    background-color: var(--pa-bg-blue-400) !important;
}
.bg-blue-500{
    background-color: var(--pa-bg-blue-500) !important;
}
.bg-blue-600{
    background-color: var(--pa-bg-blue-600) !important;
}
.bg-blue-700{
    background-color: var(--pa-bg-blue-700) !important;
}
.bg-blue-800{
    background-color: var(--pa-bg-blue-800) !important;
}
.bg-blue-900{
    background-color: var(--pa-bg-blue-900) !important;
}
