:root{
  --pa-primary-50  : #fff8e1;
  --pa-primary-100 : #ffecb3;
  --pa-primary-200 : #ffe082;
  --pa-primary-300 : #ffd54f;
  --pa-primary-400 : #ffca28;
  --pa-primary-500 : #ffc107;
  --pa-primary-600 : #ffb300;
  --pa-primary-700 : #ffa000;
  --pa-primary-800 : #ff8f00;
  --pa-primary-900 : #ff6f00;
}
