:root{
  --pa-primary-50  : #F2F9FF;
  --pa-primary-100 : #D7EDFF;
  --pa-primary-200 : #A1D5FF;
  --pa-primary-300 : #6BBEFF;
  --pa-primary-400 : #43ACFF;
  --pa-primary-500 : #008EFF;
  --pa-primary-600 : #007FE4;
  --pa-primary-700 : #0070C9;
  --pa-primary-800 : #0061AE;
  --pa-primary-900 : #004379;
}
