:root{
  --pa-primary-50  : #F5F8F9;
  --pa-primary-100 : #E0E9ED;
  --pa-primary-200 : #CCDAE2;
  --pa-primary-300 : #84A7B8;
  --pa-primary-400 : #5C8AA1;
  --pa-primary-500 : #3D748F;
  --pa-primary-600 : #376880;
  --pa-primary-700 : #305C71;
  --pa-primary-800 : #2A4F62;
  --pa-primary-900 : #1D3744;
}