:root{
  --pa-primary-50  : #FEF6EC;
  --pa-primary-100 : #F1E3D2;
  --pa-primary-200 : #E4D0B9;
  --pa-primary-300 : #D7BD9F;
  --pa-primary-400 : #CAAA86;
  --pa-primary-500 : #BD986C;
  --pa-primary-600 : #B08553;
  --pa-primary-700 : #A37239;
  --pa-primary-800 : #965F20;
  --pa-primary-900 : #894C06;
}