:root{
  --pa-primary-50  : #EDFFFA;
  --pa-primary-100 : #C4FCEE;
  --pa-primary-200 : #9DF9E2;
  --pa-primary-300 : #77F9D8;
  --pa-primary-400 : #16F4BB;
  --pa-primary-500 : #0BEAB1;
  --pa-primary-600 : #09C192;
  --pa-primary-700 : #07B286;
  --pa-primary-800 : #069B74;
  --pa-primary-900 : #058765;
}