:root{
  --pa-primary-50  : #ECEEFE;
  --pa-primary-100 : #C5CCFC;
  --pa-primary-200 : #9EAAFA;
  --pa-primary-300 : #687AF2;
  --pa-primary-400 : #354EEE;
  --pa-primary-500 : #0B29EA;
  --pa-primary-600 : #0922C3;
  --pa-primary-700 : #081DA7;
  --pa-primary-800 : #061786;
  --pa-primary-900 : #051264;
}
