:root{
  --pa-primary-50  : #FFF6ED;
  --pa-primary-100 : #FFEDDB;
  --pa-primary-200 : #FFDCB6;
  --pa-primary-300 : #FFB96D;
  --pa-primary-400 : #FF9624;
  --pa-primary-500 : #FF8400;
  --pa-primary-600 : #F27D00;
  --pa-primary-700 : #D76F00;
  --pa-primary-800 : #AE5A00;
  --pa-primary-900 : #864500;
}
