:root{
  --pa-primary-50  : #FFF2F9;
  --pa-primary-100 : #FFD7EC;
  --pa-primary-200 : #FFAED9;
  --pa-primary-300 : #FF6BBA;
  --pa-primary-400 : #FF36A1;
  --pa-primary-500 : #FF0088;
  --pa-primary-600 : #ED007F;
  --pa-primary-700 : #DC0075;
  --pa-primary-800 : #C10067;
  --pa-primary-900 : #A70059;
}