:root{
  --pa-bg-primary     : #FF0088;
  --pa-color-primary  : white;

  --pa-bg-primary-50  : #FFF2F9;
  --pa-bg-primary-100 : #FFD7EC;
  --pa-bg-primary-200 : #FFAED9;
  --pa-bg-primary-300 : #FF6BBA;
  --pa-bg-primary-400 : #FF36A1;
  --pa-bg-primary-500 : #FF0088;
  --pa-bg-primary-600 : #ED007F;
  --pa-bg-primary-700 : #DC0075;
  --pa-bg-primary-800 : #C10067;
  --pa-bg-primary-900 : #A70059;

  --pa-color-primary-50  : #424242;
  --pa-color-primary-100 : #424242;
  --pa-color-primary-200 : #424242;
  --pa-color-primary-300 : white;
  --pa-color-primary-400 : white;
  --pa-color-primary-500 : white;
  --pa-color-primary-600 : white;
  --pa-color-primary-700 : white;
  --pa-color-primary-800 : white;
  --pa-color-primary-900 : white;
}