:root{
  --pa-primary-50  : #FAF2FC;
  --pa-primary-100 : #F0D7F5;
  --pa-primary-200 : #E6BCEE;
  --pa-primary-300 : #C86BD9;
  --pa-primary-400 : #B436CB;
  --pa-primary-500 : #A000BD;
  --pa-primary-600 : #8F00A9;
  --pa-primary-700 : #7E0095;
  --pa-primary-800 : #6D0081;
  --pa-primary-900 : #5D006D;
}