:root{
  --pa-primary-50  : #FFEDEE;
  --pa-primary-100 : #FFDBDE;
  --pa-primary-200 : #FFB6BC;
  --pa-primary-300 : #FF5B69;
  --pa-primary-400 : #FF3748;
  --pa-primary-500 : #FF0016;
  --pa-primary-600 : #ED0014;
  --pa-primary-700 : #D30012;
  --pa-primary-800 : #B90010;
  --pa-primary-900 : #95000D;
}
