:root{
  --pa-primary-50  : #F2F9F9;
  --pa-primary-100 : #D7EEED;
  --pa-primary-200 : #BCE3E0;
  --pa-primary-300 : #5EBBB5;
  --pa-primary-400 : #1B9F96;
  --pa-primary-500 : #00948A;
  --pa-primary-600 : #00847B;
  --pa-primary-700 : #00756D;
  --pa-primary-800 : #00655E;
  --pa-primary-900 : #004641;
}