:root{
  --pa-bg-primary     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary  : white;
  --pa-color-rgb-primary  : 255, 255, 255;

  --pa-bg-primary-h     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary-h     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary-h  : white;
  --pa-color-rgb-primary-h  : 255, 255, 255;

  --pa-bg-primary-a     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary-a     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary-a  : white;
  --pa-color-rgb-primary-a  : 255, 255, 255;

  --pa-bg-primary-f     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary-f     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary-f  : white;
  --pa-color-rgb-primary-f  : 255, 255, 255;

  --pa-bg-primary-50  : #EDFFFA;
  --pa-bg-primary-100 : #C4FCEE;
  --pa-bg-primary-200 : #9DF9E2;
  --pa-bg-primary-300 : #77F9D8;
  --pa-bg-primary-400 : #16F4BB;
  --pa-bg-primary-500 : #0BEAB1;
  --pa-bg-primary-600 : #09C192;
  --pa-bg-primary-700 : #07B286;
  --pa-bg-primary-800 : #069B74;
  --pa-bg-primary-900 : #058765;

  --pa-color-primary-50  : #424242;
  --pa-color-primary-100 : #424242;
  --pa-color-primary-200 : #424242;
  --pa-color-primary-300 : #424242;
  --pa-color-primary-400 : #424242;
  --pa-color-primary-500 : white;
  --pa-color-primary-600 : white;
  --pa-color-primary-700 : white;
  --pa-color-primary-800 : white;
  --pa-color-primary-900 : white;
}