:root{
  --pa-bg-primary     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary  : white;
  --pa-color-rgb-primary  : 255, 255, 255;

  --pa-bg-primary-h     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary-h     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary-h  : white;
  --pa-color-rgb-primary-h  : 255, 255, 255;

  --pa-bg-primary-a     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary-a     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary-a  : white;
  --pa-color-rgb-primary-a  : 255, 255, 255;

  --pa-bg-primary-f     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary-f     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary-f  : white;
  --pa-color-rgb-primary-f  : 255, 255, 255;

  --pa-bg-primary-50  : #F2FAF3;
  --pa-bg-primary-100 : #E5F5E7;
  --pa-bg-primary-200 : #BDE7C4;
  --pa-bg-primary-300 : #89D394;
  --pa-bg-primary-400 : #20AD35;
  --pa-bg-primary-500 : #06A31D;
  --pa-bg-primary-600 : #05921A;
  --pa-bg-primary-700 : #058117;
  --pa-bg-primary-800 : #047014;
  --pa-bg-primary-900 : #03560F;

  --pa-bg-rgb-primary-50:  242, 250, 243;
  --pa-bg-rgb-primary-100: 229, 245, 231;
  --pa-bg-rgb-primary-200: 189, 231, 196;
  --pa-bg-rgb-primary-300: 137, 211, 148;
  --pa-bg-rgb-primary-400: 32, 173, 53;
  --pa-bg-rgb-primary-500: 6, 163, 29;
  --pa-bg-rgb-primary-600: 5, 146, 26;
  --pa-bg-rgb-primary-700: 5, 129, 23;
  --pa-bg-rgb-primary-800: 4, 112, 20;
  --pa-bg-rgb-primary-900: 3, 86, 15;

  --pa-color-primary-50  : #424242;
  --pa-color-primary-100 : #424242;
  --pa-color-primary-200 : #424242;
  --pa-color-primary-300 : #424242;
  --pa-color-primary-400 : #424242;
  --pa-color-primary-500 : white;
  --pa-color-primary-600 : white;
  --pa-color-primary-700 : white;
  --pa-color-primary-800 : white;
  --pa-color-primary-900 : white;
}
