:root{
  --pa-bg-primary     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary  : white;
  --pa-color-rgb-primary  : 255, 255, 255;

  --pa-bg-primary-h     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary-h     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary-h  : white;
  --pa-color-rgb-primary-h  : 255, 255, 255;

  --pa-bg-primary-a     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary-a     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary-a  : white;
  --pa-color-rgb-primary-a  : 255, 255, 255;

  --pa-bg-primary-f     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary-f     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary-f  : white;
  --pa-color-rgb-primary-f  : 255, 255, 255;

  --pa-bg-primary-50  : #F2FCFF;
  --pa-bg-primary-100 : #D7F7FF;
  --pa-bg-primary-200 : #BCF2FF;
  --pa-bg-primary-300 : #94EAFF;
  --pa-bg-primary-400 : #43D9FF;
  --pa-bg-primary-500 : #00CCFF;
  --pa-bg-primary-600 : #00B7E4;
  --pa-bg-primary-700 : #00A1C9;
  --pa-bg-primary-800 : #008CAE;
  --pa-bg-primary-900 : #006179;

  --pa-bg-rgb-primary-50:  242, 252, 255;
  --pa-bg-rgb-primary-100: 215, 247, 255;
  --pa-bg-rgb-primary-200: 188, 242, 255;
  --pa-bg-rgb-primary-300: 148, 234, 255;
  --pa-bg-rgb-primary-400: 67, 217, 255;
  --pa-bg-rgb-primary-500: 0, 204, 255;
  --pa-bg-rgb-primary-600: 0, 183, 228;
  --pa-bg-rgb-primary-700: 0, 161, 201;
  --pa-bg-rgb-primary-800: 0, 140, 174;
  --pa-bg-rgb-primary-900: 0, 97, 121;

  --pa-color-primary-50  : #424242;
  --pa-color-primary-100 : #424242;
  --pa-color-primary-200 : #424242;
  --pa-color-primary-300 : #424242;
  --pa-color-primary-400 : white;
  --pa-color-primary-500 : white;
  --pa-color-primary-600 : white;
  --pa-color-primary-700 : white;
  --pa-color-primary-800 : white;
  --pa-color-primary-900 : white;
}