:root{
  --pa-bg-blue-gray     : var(--pa-bg-blue-gray-500);
  --pa-bg-rgb-blue-gray     : var(--pa-bg-rgb-blue-gray-500);
  --pa-color-blue-gray  : white;
  --pa-color-rgb-blue-gray  : 255, 255, 255;

  --pa-bg-blue-gray-h     : var(--pa-bg-blue-gray-500);
  --pa-bg-rgb-blue-gray-h     : var(--pa-bg-rgb-blue-gray-500);
  --pa-color-blue-gray-h  : white;
  --pa-color-rgb-blue-gray-h  : 255, 255, 255;

  --pa-bg-blue-gray-a     : var(--pa-bg-blue-gray-500);
  --pa-bg-rgb-blue-gray-a     : var(--pa-bg-rgb-blue-gray-500);
  --pa-color-blue-gray-a  : white;
  --pa-color-rgb-blue-gray-a  : 255, 255, 255;

  --pa-bg-blue-gray-f     : var(--pa-bg-blue-gray-500);
  --pa-bg-rgb-blue-gray-f     : var(--pa-bg-rgb-blue-gray-500);
  --pa-color-blue-gray-f  : white;
  --pa-color-rgb-blue-gray-f  : 255, 255, 255;

  --pa-bg-blue-gray-50  : #eceff1;
  --pa-bg-blue-gray-100 : #cfd8dc;
  --pa-bg-blue-gray-200 : #b0bec5;
  --pa-bg-blue-gray-300 : #90a4ae;
  --pa-bg-blue-gray-400 : #78909c;
  --pa-bg-blue-gray-500 : #607d8b;
  --pa-bg-blue-gray-600 : #546e7a;
  --pa-bg-blue-gray-700 : #455a64;
  --pa-bg-blue-gray-800 : #37474f;
  --pa-bg-blue-gray-900 : #263238;

  --pa-bg-rgb-blue-gray-50:  236, 239, 241;
  --pa-bg-rgb-blue-gray-100: 207, 216, 220;
  --pa-bg-rgb-blue-gray-200: 176, 190, 197;
  --pa-bg-rgb-blue-gray-300: 144, 164, 174;
  --pa-bg-rgb-blue-gray-400: 120, 144, 156;
  --pa-bg-rgb-blue-gray-500: 96, 125, 139;
  --pa-bg-rgb-blue-gray-600: 84, 110, 122;
  --pa-bg-rgb-blue-gray-700: 69, 90, 100;
  --pa-bg-rgb-blue-gray-800: 55, 71, 79;
  --pa-bg-rgb-blue-gray-900: 38, 50, 56;

  --pa-color-blue-gray-50  : #424242;
  --pa-color-blue-gray-100 : #424242;
  --pa-color-blue-gray-200 : #424242;
  --pa-color-blue-gray-300 : #424242;
  --pa-color-blue-gray-400 : white;
  --pa-color-blue-gray-500 : white;
  --pa-color-blue-gray-600 : white;
  --pa-color-blue-gray-700 : white;
  --pa-color-blue-gray-800 : white;
  --pa-color-blue-gray-900 : white;
}