:root{
  --pa-bg-deep-orange     : var(--pa-bg-deep-orange-500);
  --pa-bg-rgb-deep-orange     : var(--pa-bg-rgb-deep-orange-500);
  --pa-color-deep-orange  : white;
  --pa-color-rgb-deep-orange  : 255, 255, 255;

  --pa-bg-deep-orange-h     : var(--pa-bg-deep-orange-500);
  --pa-bg-rgb-deep-orange-h     : var(--pa-bg-rgb-deep-orange-500);
  --pa-color-deep-orange-h  : white;
  --pa-color-rgb-deep-orange-h  : 255, 255, 255;

  --pa-bg-deep-orange-a     : var(--pa-bg-deep-orange-500);
  --pa-bg-rgb-deep-orange-a     : var(--pa-bg-rgb-deep-orange-500);
  --pa-color-deep-orange-a  : white;
  --pa-color-rgb-deep-orange-a  : 255, 255, 255;

  --pa-bg-deep-orange-f     : var(--pa-bg-deep-orange-500);
  --pa-bg-rgb-deep-orange-f     : var(--pa-bg-rgb-deep-orange-500);
  --pa-color-deep-orange-f  : white;
  --pa-color-rgb-deep-orange-f  : 255, 255, 255;

  --pa-bg-deep-orange-50  : #fbe9e7;
  --pa-bg-deep-orange-100 : #ffccbc;
  --pa-bg-deep-orange-200 : #ffab91;
  --pa-bg-deep-orange-300 : #ff8a65;
  --pa-bg-deep-orange-400 : #ff7043;
  --pa-bg-deep-orange-500 : #ff5722;
  --pa-bg-deep-orange-600 : #f4511e;
  --pa-bg-deep-orange-700 : #e64a19;
  --pa-bg-deep-orange-800 : #d84315;
  --pa-bg-deep-orange-900 : #bf360c;

  --pa-bg-rgb-deep-orange-50:  251, 233, 231;
  --pa-bg-rgb-deep-orange-100: 255, 204, 188;
  --pa-bg-rgb-deep-orange-200: 255, 171, 145;
  --pa-bg-rgb-deep-orange-300: 255, 138, 101;
  --pa-bg-rgb-deep-orange-400: 255, 112, 67;
  --pa-bg-rgb-deep-orange-500: 255, 87, 34;
  --pa-bg-rgb-deep-orange-600: 244, 81, 30;
  --pa-bg-rgb-deep-orange-700: 230, 74, 25;
  --pa-bg-rgb-deep-orange-800: 216, 67, 21;
  --pa-bg-rgb-deep-orange-900: 191, 54, 12;

  --pa-color-deep-orange-50  : #424242;
  --pa-color-deep-orange-100 : #424242;
  --pa-color-deep-orange-200 : #424242;
  --pa-color-deep-orange-300 : #424242;
  --pa-color-deep-orange-400 : #424242;
  --pa-color-deep-orange-500 : white;
  --pa-color-deep-orange-600 : white;
  --pa-color-deep-orange-700 : white;
  --pa-color-deep-orange-800 : white;
  --pa-color-deep-orange-900 : white;
}