:root{
  --pa-bg-green     : var(--pa-bg-green-500);
  --pa-bg-rgb-green     : var(--pa-bg-rgb-green-500);
  --pa-color-green  : white;
  --pa-color-rgb-green  : 255, 255, 255;

  --pa-bg-green-h     : var(--pa-bg-green-500);
  --pa-bg-rgb-green-h     : var(--pa-bg-rgb-green-500);
  --pa-color-green-h  : white;
  --pa-color-rgb-green-h  : 255, 255, 255;

  --pa-bg-green-a     : var(--pa-bg-green-500);
  --pa-bg-rgb-green-a     : var(--pa-bg-rgb-green-500);
  --pa-color-green-a  : white;
  --pa-color-rgb-green-a  : 255, 255, 255;

  --pa-bg-green-f     : var(--pa-bg-green-500);
  --pa-bg-rgb-green-f     : var(--pa-bg-rgb-green-500);
  --pa-color-green-f  : white;
  --pa-color-rgb-green-f  : 255, 255, 255;

  --pa-bg-green-50  : #e8f5e9;
  --pa-bg-green-100 : #c8e6c9;
  --pa-bg-green-200 : #a5d6a7;
  --pa-bg-green-300 : #81c784;
  --pa-bg-green-400 : #66bb6a;
  --pa-bg-green-500 : #4caf50;
  --pa-bg-green-600 : #43a047;
  --pa-bg-green-700 : #388e3c;
  --pa-bg-green-800 : #2e7d32;
  --pa-bg-green-900 : #1b5e20;

  --pa-bg-rgb-green-50:  232, 245, 233;
  --pa-bg-rgb-green-100: 200, 230, 201;
  --pa-bg-rgb-green-200: 165, 214, 167;
  --pa-bg-rgb-green-300: 129, 199, 132;
  --pa-bg-rgb-green-400: 102, 187, 106;
  --pa-bg-rgb-green-500: 76, 175, 80;
  --pa-bg-rgb-green-600: 67, 160, 71;
  --pa-bg-rgb-green-700: 56, 142, 60;
  --pa-bg-rgb-green-800: 46, 125, 50;
  --pa-bg-rgb-green-900: 27, 94, 32;

  --pa-color-green-50  : #424242;
  --pa-color-green-100 : #424242;
  --pa-color-green-200 : #424242;
  --pa-color-green-300 : #424242;
  --pa-color-green-400 : #424242;
  --pa-color-green-500 : white;
  --pa-color-green-600 : white;
  --pa-color-green-700 : white;
  --pa-color-green-800 : white;
  --pa-color-green-900 : white;
}
