:root{
  --pa-bg-indigo     : var(--pa-bg-indigo-500);
  --pa-bg-rgb-indigo     : var(--pa-bg-rgb-indigo-500);
  --pa-color-indigo  : white;
  --pa-color-rgb-indigo  : 255, 255, 255;

  --pa-bg-indigo-h     : var(--pa-bg-indigo-500);
  --pa-bg-rgb-indigo-h     : var(--pa-bg-rgb-indigo-500);
  --pa-color-indigo-h  : white;
  --pa-color-rgb-indigo-h  : 255, 255, 255;

  --pa-bg-indigo-a     : var(--pa-bg-indigo-500);
  --pa-bg-rgb-indigo-a     : var(--pa-bg-rgb-indigo-500);
  --pa-color-indigo-a  : white;
  --pa-color-rgb-indigo-a  : 255, 255, 255;

  --pa-bg-indigo-f     : var(--pa-bg-indigo-500);
  --pa-bg-rgb-indigo-f     : var(--pa-bg-rgb-indigo-500);
  --pa-color-indigo-f  : white;
  --pa-color-rgb-indigo-f  : 255, 255, 255;

  --pa-bg-indigo-50  : #e8eaf6;
  --pa-bg-indigo-100 : #c5cae9;
  --pa-bg-indigo-200 : #9fa8da;
  --pa-bg-indigo-300 : #7986cb;
  --pa-bg-indigo-400 : #5c6bc0;
  --pa-bg-indigo-500 : #3f51b5;
  --pa-bg-indigo-600 : #3949ab;
  --pa-bg-indigo-700 : #303f9f;
  --pa-bg-indigo-800 : #283593;
  --pa-bg-indigo-900 : #1a237e;

  --pa-bg-rgb-indigo-50:  232, 234, 246;
  --pa-bg-rgb-indigo-100: 197, 202, 233;
  --pa-bg-rgb-indigo-200: 159, 168, 218;
  --pa-bg-rgb-indigo-300: 121, 134, 203;
  --pa-bg-rgb-indigo-400: 92, 107, 192;
  --pa-bg-rgb-indigo-500: 63, 81, 181;
  --pa-bg-rgb-indigo-600: 57, 73, 171;
  --pa-bg-rgb-indigo-700: 48, 63, 159;
  --pa-bg-rgb-indigo-800: 40, 53, 147;
  --pa-bg-rgb-indigo-900: 26, 35, 126;

  --pa-color-indigo-50  : #424242;
  --pa-color-indigo-100 : #424242;
  --pa-color-indigo-200 : #424242;
  --pa-color-indigo-300 : white;
  --pa-color-indigo-400 : white;
  --pa-color-indigo-500 : white;
  --pa-color-indigo-600 : white;
  --pa-color-indigo-700 : white;
  --pa-color-indigo-800 : white;
  --pa-color-indigo-900 : white;
}
