:root{
  --pa-bg-light-green     : var(--pa-bg-light-green-500);
  --pa-bg-rgb-light-green     : var(--pa-bg-rgb-light-green-500);
  --pa-color-light-green  : white;
  --pa-color-rgb-light-green  : 255, 255, 255;

  --pa-bg-light-green-h     : var(--pa-bg-light-green-500);
  --pa-bg-rgb-light-green-h     : var(--pa-bg-rgb-light-green-500);
  --pa-color-light-green-h  : white;
  --pa-color-rgb-light-green-h  : 255, 255, 255;

  --pa-bg-light-green-a     : var(--pa-bg-light-green-500);
  --pa-bg-rgb-light-green-a     : var(--pa-bg-rgb-light-green-500);
  --pa-color-light-green-a  : white;
  --pa-color-rgb-light-green-a  : 255, 255, 255;

  --pa-bg-light-green-f     : var(--pa-bg-light-green-500);
  --pa-bg-rgb-light-green-f     : var(--pa-bg-rgb-light-green-500);
  --pa-color-light-green-f  : white;
  --pa-color-rgb-light-green-f  : 255, 255, 255;

  --pa-bg-light-green-50  : #f1f8e9;
  --pa-bg-light-green-100 : #dcedc8;
  --pa-bg-light-green-200 : #c5e1a5;
  --pa-bg-light-green-300 : #aed581;
  --pa-bg-light-green-400 : #9ccc65;
  --pa-bg-light-green-500 : #8bc34a;
  --pa-bg-light-green-600 : #7cb342;
  --pa-bg-light-green-700 : #689f38;
  --pa-bg-light-green-800 : #558b2f;
  --pa-bg-light-green-900 : #33691e;

  --pa-bg-rgb-light-green-50:  241, 248, 233;
  --pa-bg-rgb-light-green-100: 220, 237, 200;
  --pa-bg-rgb-light-green-200: 197, 225, 165;
  --pa-bg-rgb-light-green-300: 174, 213, 129;
  --pa-bg-rgb-light-green-400: 156, 204, 101;
  --pa-bg-rgb-light-green-500: 139, 195, 74;
  --pa-bg-rgb-light-green-600: 124, 179, 66;
  --pa-bg-rgb-light-green-700: 104, 159, 56;
  --pa-bg-rgb-light-green-800: 85, 139, 47;
  --pa-bg-rgb-light-green-900: 51, 105, 30;

  --pa-color-light-green-50  : #424242;
  --pa-color-light-green-100 : #424242;
  --pa-color-light-green-200 : #424242;
  --pa-color-light-green-300 : #424242;
  --pa-color-light-green-400 : white;
  --pa-color-light-green-500 : white;
  --pa-color-light-green-600 : white;
  --pa-color-light-green-700 : white;
  --pa-color-light-green-800 : white;
  --pa-color-light-green-900 : white;
}
