:root{
  --pa-bg-orange     : var(--pa-bg-orange-500);
  --pa-bg-rgb-orange     : var(--pa-bg-rgb-orange-500);
  --pa-color-orange  : white;
  --pa-color-rgb-orange  : 255, 255, 255;

  --pa-bg-orange-h     : var(--pa-bg-orange-500);
  --pa-bg-rgb-orange-h     : var(--pa-bg-rgb-orange-500);
  --pa-color-orange-h  : white;
  --pa-color-rgb-orange-h  : 255, 255, 255;

  --pa-bg-orange-a     : var(--pa-bg-orange-500);
  --pa-bg-rgb-orange-a     : var(--pa-bg-rgb-orange-500);
  --pa-color-orange-a  : white;
  --pa-color-rgb-orange-a  : 255, 255, 255;

  --pa-bg-orange-f     : var(--pa-bg-orange-500);
  --pa-bg-rgb-orange-f     : var(--pa-bg-rgb-orange-500);
  --pa-color-orange-f  : white;
  --pa-color-rgb-orange-f  : 255, 255, 255;

  --pa-bg-orange-50  : #fff3e0;
  --pa-bg-orange-100 : #ffe0b2;
  --pa-bg-orange-200 : #ffcc80;
  --pa-bg-orange-300 : #ffb74d;
  --pa-bg-orange-400 : #ffa726;
  --pa-bg-orange-500 : #ff9800;
  --pa-bg-orange-600 : #fb8c00;
  --pa-bg-orange-700 : #f57c00;
  --pa-bg-orange-800 : #ef6c00;
  --pa-bg-orange-900 : #e65100;

  --pa-bg-rgb-orange-50:  255, 243, 224;
  --pa-bg-rgb-orange-100: 255, 224, 178;
  --pa-bg-rgb-orange-200: 255, 204, 128;
  --pa-bg-rgb-orange-300: 255, 183, 77;
  --pa-bg-rgb-orange-400: 255, 167, 38;
  --pa-bg-rgb-orange-500: 255, 152, 0;
  --pa-bg-rgb-orange-600: 251, 140, 0;
  --pa-bg-rgb-orange-700: 245, 124, 0;
  --pa-bg-rgb-orange-800: 239, 108, 0;
  --pa-bg-rgb-orange-900: 230, 81, 0;

  --pa-color-orange-50  : #424242;
  --pa-color-orange-100 : #424242;
  --pa-color-orange-200 : #424242;
  --pa-color-orange-300 : white;
  --pa-color-orange-400 : white;
  --pa-color-orange-500 : white;
  --pa-color-orange-600 : white;
  --pa-color-orange-700 : white;
  --pa-color-orange-800 : white;
  --pa-color-orange-900 : white;
}
