.mg-padding0rem{
  padding:pxToRem(0) !important;
}

.mg-padding1rem{
  padding:pxToRem(1) !important;
}

.mg-padding2rem{
  padding:pxToRem(2) !important;
}

.mg-padding3rem{
  padding:pxToRem(3) !important;
}

.mg-padding4rem{
  padding:pxToRem(4) !important;
}

.mg-padding5rem{
  padding:pxToRem(5) !important;
}

.mg-padding6rem{
  padding:pxToRem(6) !important;
}

.mg-padding7rem{
  padding:pxToRem(7) !important;
}

.mg-padding8rem{
  padding:pxToRem(8) !important;
}

.mg-padding9rem{
  padding:pxToRem(9) !important;
}

.mg-padding10rem{
  padding:pxToRem(10) !important;
}

.mg-padding11rem{
  padding:pxToRem(11) !important;
}

.mg-padding12rem{
  padding:pxToRem(12) !important;
}

.mg-padding13rem{
  padding:pxToRem(13) !important;
}

.mg-padding14rem{
  padding:pxToRem(14) !important;
}

.mg-padding15rem{
  padding:pxToRem(15) !important;
}

.mg-padding16rem{
  padding:pxToRem(16) !important;
}

.mg-padding17rem{
  padding:pxToRem(17) !important;
}

.mg-padding18rem{
  padding:pxToRem(18) !important;
}

.mg-padding19rem{
  padding:pxToRem(19) !important;
}

.mg-padding20rem{
  padding:pxToRem(20) !important;
}

.mg-padding21rem{
  padding:pxToRem(21) !important;
}

.mg-padding22rem{
  padding:pxToRem(22) !important;
}

.mg-padding23rem{
  padding:pxToRem(23) !important;
}

.mg-padding24rem{
  padding:pxToRem(24) !important;
}

.mg-padding25rem{
  padding:pxToRem(25) !important;
}

.mg-padding26rem{
  padding:pxToRem(26) !important;
}

.mg-padding27rem{
  padding:pxToRem(27) !important;
}

.mg-padding28rem{
  padding:pxToRem(28) !important;
}

.mg-padding29rem{
  padding:pxToRem(29) !important;
}

.mg-padding30rem{
  padding:pxToRem(30) !important;
}

.mg-padding31rem{
  padding:pxToRem(31) !important;
}

.mg-padding32rem{
  padding:pxToRem(32) !important;
}

.mg-padding33rem{
  padding:pxToRem(33) !important;
}

.mg-padding34rem{
  padding:pxToRem(34) !important;
}

.mg-padding35rem{
  padding:pxToRem(35) !important;
}

.mg-padding36rem{
  padding:pxToRem(36) !important;
}

.mg-padding37rem{
  padding:pxToRem(37) !important;
}

.mg-padding38rem{
  padding:pxToRem(38) !important;
}

.mg-padding39rem{
  padding:pxToRem(39) !important;
}

.mg-padding40rem{
  padding:pxToRem(40) !important;
}

.mg-padding41rem{
  padding:pxToRem(41) !important;
}

.mg-padding42rem{
  padding:pxToRem(42) !important;
}

.mg-padding43rem{
  padding:pxToRem(43) !important;
}

.mg-padding44rem{
  padding:pxToRem(44) !important;
}

.mg-padding45rem{
  padding:pxToRem(45) !important;
}

.mg-padding46rem{
  padding:pxToRem(46) !important;
}

.mg-padding47rem{
  padding:pxToRem(47) !important;
}

.mg-padding48rem{
  padding:pxToRem(48) !important;
}

.mg-padding49rem{
  padding:pxToRem(49) !important;
}

.mg-padding50rem{
  padding:pxToRem(50) !important;
}

.mg-padding60rem{
  padding:pxToRem(60) !important;
}

.mg-padding70rem{
  padding:pxToRem(70) !important;
}

.mg-padding80rem{
  padding:pxToRem(80) !important;
}

.mg-padding90rem{
  padding:pxToRem(90) !important;
}

.mg-padding100rem{
  padding:pxToRem(100) !important;
}

