#{$parent_prefixClass}-min-w1550em #{$selectAll}{
  min-width:pxToEm(1550) #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w1600em #{$selectAll}{
  min-width:pxToEm(1600) #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w1650em #{$selectAll}{
  min-width:pxToEm(1650) #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w1700em #{$selectAll}{
  min-width:pxToEm(1700) #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w1750em #{$selectAll}{
  min-width:pxToEm(1750) #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w1800em #{$selectAll}{
  min-width:pxToEm(1800) #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w1850em #{$selectAll}{
  min-width:pxToEm(1850) #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w1900em #{$selectAll}{
  min-width:pxToEm(1900) #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w1950em #{$selectAll}{
  min-width:pxToEm(1950) #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w2000em #{$selectAll}{
  min-width:pxToEm(2000) #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w2500em #{$selectAll}{
  min-width:pxToEm(2500) #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w3000em #{$selectAll}{
  min-width:pxToEm(3000) #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w3500em #{$selectAll}{
  min-width:pxToEm(3500) #{$parent_importantStatus}
}

#{$parent_prefixClass}-min-w4000em #{$selectAll}{
  min-width:pxToEm(4000) #{$parent_importantStatus}
}

