#{$parent_prefixClass}-w1550rem #{$selectAll}{
  width:pxToRem(1550) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1600rem #{$selectAll}{
  width:pxToRem(1600) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1650rem #{$selectAll}{
  width:pxToRem(1650) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1700rem #{$selectAll}{
  width:pxToRem(1700) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1750rem #{$selectAll}{
  width:pxToRem(1750) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1800rem #{$selectAll}{
  width:pxToRem(1800) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1850rem #{$selectAll}{
  width:pxToRem(1850) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1900rem #{$selectAll}{
  width:pxToRem(1900) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1950rem #{$selectAll}{
  width:pxToRem(1950) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w2000rem #{$selectAll}{
  width:pxToRem(2000) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w2500rem #{$selectAll}{
  width:pxToRem(2500) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w3000rem #{$selectAll}{
  width:pxToRem(3000) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w3500rem #{$selectAll}{
  width:pxToRem(3500) #{$parent_importantStatus}
}

#{$parent_prefixClass}-w4000rem #{$selectAll}{
  width:pxToRem(4000) #{$parent_importantStatus}
}

