:root{
  --pa-bg-secondary     : var(--pa-bg-secondary-500);
  --pa-color-secondary  : white;

  --pa-bg-secondary-h     : var(--pa-bg-secondary-600);
  --pa-color-secondary-h  : white;

  --pa-bg-secondary-a     : var(--pa-bg-secondary-700);
  --pa-color-secondary-a  : white;

  --pa-bg-secondary-f     : var(--pa-bg-secondary-500);
  --pa-color-secondary-f  : white;

  --pa-bg-secondary-50  : #eceff1;
  --pa-bg-secondary-100 : #cfd8dc;
  --pa-bg-secondary-200 : #b0bec5;
  --pa-bg-secondary-300 : #90a4ae;
  --pa-bg-secondary-400 : #78909c;
  --pa-bg-secondary-500 : #607d8b;
  --pa-bg-secondary-600 : #546e7a;
  --pa-bg-secondary-700 : #455a64;
  --pa-bg-secondary-800 : #37474f;
  --pa-bg-secondary-900 : #263238;

  --pa-bg-rgb-secondary-50:  236, 239, 241;
  --pa-bg-rgb-secondary-100: 207, 216, 220;
  --pa-bg-rgb-secondary-200: 176, 190, 197;
  --pa-bg-rgb-secondary-300: 144, 164, 174;
  --pa-bg-rgb-secondary-400: 120, 144, 156;
  --pa-bg-rgb-secondary-500: 96, 125, 139;
  --pa-bg-rgb-secondary-600: 84, 110, 122;
  --pa-bg-rgb-secondary-700: 69, 90, 100;
  --pa-bg-rgb-secondary-800: 55, 71, 79;
  --pa-bg-rgb-secondary-900: 38, 50, 56;

  --pa-color-secondary-50  : #424242;
  --pa-color-secondary-100 : #424242;
  --pa-color-secondary-200 : #424242;
  --pa-color-secondary-300 : #424242;
  --pa-color-secondary-400 : white;
  --pa-color-secondary-500 : white;
  --pa-color-secondary-600 : white;
  --pa-color-secondary-700 : white;
  --pa-color-secondary-800 : white;
  --pa-color-secondary-900 : white;
}