:root{
  --pa-bg-secondary     : var(--pa-bg-secondary-500);
  --pa-color-secondary  : white;

  --pa-bg-secondary-h     : var(--pa-bg-secondary-600);
  --pa-color-secondary-h  : white;

  --pa-bg-secondary-a     : var(--pa-bg-secondary-700);
  --pa-color-secondary-a  : white;

  --pa-bg-secondary-f     : var(--pa-bg-secondary-500);
  --pa-color-secondary-f  : white;

  --pa-bg-secondary-50  : #fbe9e7;
  --pa-bg-secondary-100 : #ffccbc;
  --pa-bg-secondary-200 : #ffab91;
  --pa-bg-secondary-300 : #ff8a65;
  --pa-bg-secondary-400 : #ff7043;
  --pa-bg-secondary-500 : #ff5722;
  --pa-bg-secondary-600 : #f4511e;
  --pa-bg-secondary-700 : #e64a19;
  --pa-bg-secondary-800 : #d84315;
  --pa-bg-secondary-900 : #bf360c;

  --pa-bg-rgb-secondary-50:  251, 233, 231;
  --pa-bg-rgb-secondary-100: 255, 204, 188;
  --pa-bg-rgb-secondary-200: 255, 171, 145;
  --pa-bg-rgb-secondary-300: 255, 138, 101;
  --pa-bg-rgb-secondary-400: 255, 112, 67;
  --pa-bg-rgb-secondary-500: 255, 87, 34;
  --pa-bg-rgb-secondary-600: 244, 81, 30;
  --pa-bg-rgb-secondary-700: 230, 74, 25;
  --pa-bg-rgb-secondary-800: 216, 67, 21;
  --pa-bg-rgb-secondary-900: 191, 54, 12;

  --pa-color-secondary-50  : #424242;
  --pa-color-secondary-100 : #424242;
  --pa-color-secondary-200 : #424242;
  --pa-color-secondary-300 : #424242;
  --pa-color-secondary-400 : #424242;
  --pa-color-secondary-500 : white;
  --pa-color-secondary-600 : white;
  --pa-color-secondary-700 : white;
  --pa-color-secondary-800 : white;
  --pa-color-secondary-900 : white;
}