:root{
  --pa-bg-secondary     : var(--pa-bg-secondary-500);
  --pa-color-secondary  : white;

  --pa-bg-secondary-h     : var(--pa-bg-secondary-600);
  --pa-color-secondary-h  : white;

  --pa-bg-secondary-a     : var(--pa-bg-secondary-700);
  --pa-color-secondary-a  : white;

  --pa-bg-secondary-f     : var(--pa-bg-secondary-500);
  --pa-color-secondary-f  : white;

  --pa-bg-secondary-50  : #e8eaf6;
  --pa-bg-secondary-100 : #c5cae9;
  --pa-bg-secondary-200 : #9fa8da;
  --pa-bg-secondary-300 : #7986cb;
  --pa-bg-secondary-400 : #5c6bc0;
  --pa-bg-secondary-500 : #3f51b5;
  --pa-bg-secondary-600 : #3949ab;
  --pa-bg-secondary-700 : #303f9f;
  --pa-bg-secondary-800 : #283593;
  --pa-bg-secondary-900 : #1a237e;

  --pa-color-secondary-50  : #424242;
  --pa-color-secondary-100 : #424242;
  --pa-color-secondary-200 : #424242;
  --pa-color-secondary-300 : white;
  --pa-color-secondary-400 : white;
  --pa-color-secondary-500 : white;
  --pa-color-secondary-600 : white;
  --pa-color-secondary-700 : white;
  --pa-color-secondary-800 : white;
  --pa-color-secondary-900 : white;
}
