:root{
  --pa-bg-secondary     : var(--pa-bg-secondary-500);
  --pa-color-secondary  : white;

  --pa-bg-secondary-h     : var(--pa-bg-secondary-600);
  --pa-color-secondary-h  : white;

  --pa-bg-secondary-a     : var(--pa-bg-secondary-700);
  --pa-color-secondary-a  : white;

  --pa-bg-secondary-f     : var(--pa-bg-secondary-500);
  --pa-color-secondary-f  : white;

  --pa-bg-secondary-50  : #f1f8e9;
  --pa-bg-secondary-100 : #dcedc8;
  --pa-bg-secondary-200 : #c5e1a5;
  --pa-bg-secondary-300 : #aed581;
  --pa-bg-secondary-400 : #9ccc65;
  --pa-bg-secondary-500 : #8bc34a;
  --pa-bg-secondary-600 : #7cb342;
  --pa-bg-secondary-700 : #689f38;
  --pa-bg-secondary-800 : #558b2f;
  --pa-bg-secondary-900 : #33691e;

  --pa-bg-rgb-secondary-50:  241, 248, 233;
  --pa-bg-rgb-secondary-100: 220, 237, 200;
  --pa-bg-rgb-secondary-200: 197, 225, 165;
  --pa-bg-rgb-secondary-300: 174, 213, 129;
  --pa-bg-rgb-secondary-400: 156, 204, 101;
  --pa-bg-rgb-secondary-500: 139, 195, 74;
  --pa-bg-rgb-secondary-600: 124, 179, 66;
  --pa-bg-rgb-secondary-700: 104, 159, 56;
  --pa-bg-rgb-secondary-800: 85, 139, 47;
  --pa-bg-rgb-secondary-900: 51, 105, 30;

  --pa-color-secondary-50  : #424242;
  --pa-color-secondary-100 : #424242;
  --pa-color-secondary-200 : #424242;
  --pa-color-secondary-300 : #424242;
  --pa-color-secondary-400 : white;
  --pa-color-secondary-500 : white;
  --pa-color-secondary-600 : white;
  --pa-color-secondary-700 : white;
  --pa-color-secondary-800 : white;
  --pa-color-secondary-900 : white;
}
