:root{
  --pa-bg-secondary     : var(--pa-bg-secondary-500);
  --pa-color-secondary  : white;

  --pa-bg-secondary-h     : var(--pa-bg-secondary-600);
  --pa-color-secondary-h  : white;

  --pa-bg-secondary-a     : var(--pa-bg-secondary-700);
  --pa-color-secondary-a  : white;

  --pa-bg-secondary-f     : var(--pa-bg-secondary-500);
  --pa-color-secondary-f  : white;

  --pa-bg-secondary-50  : #fff3e0;
  --pa-bg-secondary-100 : #ffe0b2;
  --pa-bg-secondary-200 : #ffcc80;
  --pa-bg-secondary-300 : #ffb74d;
  --pa-bg-secondary-400 : #ffa726;
  --pa-bg-secondary-500 : #ff9800;
  --pa-bg-secondary-600 : #fb8c00;
  --pa-bg-secondary-700 : #f57c00;
  --pa-bg-secondary-800 : #ef6c00;
  --pa-bg-secondary-900 : #e65100;

  --pa-bg-rgb-secondary-50:  255, 243, 224;
  --pa-bg-rgb-secondary-100: 255, 224, 178;
  --pa-bg-rgb-secondary-200: 255, 204, 128;
  --pa-bg-rgb-secondary-300: 255, 183, 77;
  --pa-bg-rgb-secondary-400: 255, 167, 38;
  --pa-bg-rgb-secondary-500: 255, 152, 0;
  --pa-bg-rgb-secondary-600: 251, 140, 0;
  --pa-bg-rgb-secondary-700: 245, 124, 0;
  --pa-bg-rgb-secondary-800: 239, 108, 0;
  --pa-bg-rgb-secondary-900: 230, 81, 0;

  --pa-color-secondary-50  : #424242;
  --pa-color-secondary-100 : #424242;
  --pa-color-secondary-200 : #424242;
  --pa-color-secondary-300 : white;
  --pa-color-secondary-400 : white;
  --pa-color-secondary-500 : white;
  --pa-color-secondary-600 : white;
  --pa-color-secondary-700 : white;
  --pa-color-secondary-800 : white;
  --pa-color-secondary-900 : white;
}
