#{$parent_prefixClass}-min-w100vh #{$selectAll}{
  min-width: 100vh #{$parent_importantStatus};
}

#{$parent_prefixClass}-min-w0 #{$selectAll}{
  min-width:0% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w1 #{$selectAll}{
  min-width:1% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w2 #{$selectAll}{
  min-width:2% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w3 #{$selectAll}{
  min-width:3% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w4 #{$selectAll}{
  min-width:4% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w5 #{$selectAll}{
  min-width:5% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w6 #{$selectAll}{
  min-width:6% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w7 #{$selectAll}{
  min-width:7% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w8 #{$selectAll}{
  min-width:8% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w9 #{$selectAll}{
  min-width:9% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w10 #{$selectAll}{
  min-width:10% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w11 #{$selectAll}{
  min-width:11% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w12 #{$selectAll}{
  min-width:12% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w13 #{$selectAll}{
  min-width:13% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w14 #{$selectAll}{
  min-width:14% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w15 #{$selectAll}{
  min-width:15% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w16 #{$selectAll}{
  min-width:16% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w17 #{$selectAll}{
  min-width:17% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w18 #{$selectAll}{
  min-width:18% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w19 #{$selectAll}{
  min-width:19% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w20 #{$selectAll}{
  min-width:20% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w21 #{$selectAll}{
  min-width:21% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w22 #{$selectAll}{
  min-width:22% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w23 #{$selectAll}{
  min-width:23% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w24 #{$selectAll}{
  min-width:24% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w25 #{$selectAll}{
  min-width:25% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w26 #{$selectAll}{
  min-width:26% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w27 #{$selectAll}{
  min-width:27% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w28 #{$selectAll}{
  min-width:28% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w29 #{$selectAll}{
  min-width:29% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w30 #{$selectAll}{
  min-width:30% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w31 #{$selectAll}{
  min-width:31% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w32 #{$selectAll}{
  min-width:32% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w33 #{$selectAll}{
  min-width:33% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w34 #{$selectAll}{
  min-width:34% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w35 #{$selectAll}{
  min-width:35% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w36 #{$selectAll}{
  min-width:36% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w37 #{$selectAll}{
  min-width:37% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w38 #{$selectAll}{
  min-width:38% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w39 #{$selectAll}{
  min-width:39% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w40 #{$selectAll}{
  min-width:40% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w41 #{$selectAll}{
  min-width:41% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w42 #{$selectAll}{
  min-width:42% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w43 #{$selectAll}{
  min-width:43% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w44 #{$selectAll}{
  min-width:44% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w45 #{$selectAll}{
  min-width:45% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w46 #{$selectAll}{
  min-width:46% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w47 #{$selectAll}{
  min-width:47% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w48 #{$selectAll}{
  min-width:48% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w49 #{$selectAll}{
  min-width:49% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w50 #{$selectAll}{
  min-width:50% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w51 #{$selectAll}{
  min-width:51% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w52 #{$selectAll}{
  min-width:52% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w53 #{$selectAll}{
  min-width:53% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w54 #{$selectAll}{
  min-width:54% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w55 #{$selectAll}{
  min-width:55% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w56 #{$selectAll}{
  min-width:56% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w57 #{$selectAll}{
  min-width:57% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w58 #{$selectAll}{
  min-width:58% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w59 #{$selectAll}{
  min-width:59% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w60 #{$selectAll}{
  min-width:60% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w61 #{$selectAll}{
  min-width:61% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w62 #{$selectAll}{
  min-width:62% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w63 #{$selectAll}{
  min-width:63% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w64 #{$selectAll}{
  min-width:64% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w65 #{$selectAll}{
  min-width:65% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w66 #{$selectAll}{
  min-width:66% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w67 #{$selectAll}{
  min-width:67% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w68 #{$selectAll}{
  min-width:68% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w69 #{$selectAll}{
  min-width:69% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w70 #{$selectAll}{
  min-width:70% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w71 #{$selectAll}{
  min-width:71% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w72 #{$selectAll}{
  min-width:72% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w73 #{$selectAll}{
  min-width:73% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w74 #{$selectAll}{
  min-width:74% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w75 #{$selectAll}{
  min-width:75% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w76 #{$selectAll}{
  min-width:76% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w77 #{$selectAll}{
  min-width:77% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w78 #{$selectAll}{
  min-width:78% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w79 #{$selectAll}{
  min-width:79% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w80 #{$selectAll}{
  min-width:80% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w81 #{$selectAll}{
  min-width:81% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w82 #{$selectAll}{
  min-width:82% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w83 #{$selectAll}{
  min-width:83% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w84 #{$selectAll}{
  min-width:84% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w85 #{$selectAll}{
  min-width:85% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w86 #{$selectAll}{
  min-width:86% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w87 #{$selectAll}{
  min-width:87% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w88 #{$selectAll}{
  min-width:88% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w89 #{$selectAll}{
  min-width:89% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w90 #{$selectAll}{
  min-width:90% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w91 #{$selectAll}{
  min-width:91% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w92 #{$selectAll}{
  min-width:92% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w93 #{$selectAll}{
  min-width:93% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w94 #{$selectAll}{
  min-width:94% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w95 #{$selectAll}{
  min-width:95% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w96 #{$selectAll}{
  min-width:96% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w97 #{$selectAll}{
  min-width:97% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w98 #{$selectAll}{
  min-width:98% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w99 #{$selectAll}{
  min-width:99% #{$parent_importantStatus}
}
#{$parent_prefixClass}-min-w100 #{$selectAll}{
  min-width:100% #{$parent_importantStatus}
}