:root{
  --pa-bg-secondary     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary  : white;
  --pa-color-rgb-secondary  : 255, 255, 255;

  --pa-bg-secondary-h     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary-h     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary-h  : white;
  --pa-color-rgb-secondary-h  : 255, 255, 255;

  --pa-bg-secondary-a     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary-a     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary-a  : white;
  --pa-color-rgb-secondary-a  : 255, 255, 255;

  --pa-bg-secondary-f     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary-f     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary-f  : white;
  --pa-color-rgb-secondary-f  : 255, 255, 255;

  --pa-bg-secondary-50  : #fafafa;
  --pa-bg-secondary-100 : #f5f5f5;
  --pa-bg-secondary-200 : #eeeeee;
  --pa-bg-secondary-300 : #e0e0e0;
  --pa-bg-secondary-400 : #bdbdbd;
  --pa-bg-secondary-500 : #9e9e9e;
  --pa-bg-secondary-600 : #757575;
  --pa-bg-secondary-700 : #616161;
  --pa-bg-secondary-800 : #424242;
  --pa-bg-secondary-900 : #212121;

  --pa-color-secondary-50  : #424242;
  --pa-color-secondary-100 : #424242;
  --pa-color-secondary-200 : #424242;
  --pa-color-secondary-300 : #424242;
  --pa-color-secondary-400 : #424242;
  --pa-color-secondary-500 : #424242;
  --pa-color-secondary-600 : white;
  --pa-color-secondary-700 : white;
  --pa-color-secondary-800 : white;
  --pa-color-secondary-900 : white;
}
