:root{
  --pa-bg-secondary     : var(--pa-bg-secondary-500);
  --pa-color-secondary  : white;

  --pa-bg-secondary-h     : var(--pa-bg-secondary-500);
  --pa-color-secondary-h  : white;

  --pa-bg-secondary-a     : var(--pa-bg-secondary-500);
  --pa-color-secondary-a  : white;

  --pa-bg-secondary-f     : var(--pa-bg-secondary-500);
  --pa-color-secondary-f  : white;

  --pa-bg-secondary-50  : #FAFFED;
  --pa-bg-secondary-100 : #EFFCC4;
  --pa-bg-secondary-200 : #E3F99D;
  --pa-bg-secondary-300 : #DAF977;
  --pa-bg-secondary-400 : #BEF416;
  --pa-bg-secondary-500 : #B4EA0B;
  --pa-bg-secondary-600 : #95C109;
  --pa-bg-secondary-700 : #89B207;
  --pa-bg-secondary-800 : #779B06;
  --pa-bg-secondary-900 : #678705;

  --pa-color-secondary-50  : #424242;
  --pa-color-secondary-100 : #424242;
  --pa-color-secondary-200 : #424242;
  --pa-color-secondary-300 : #424242;
  --pa-color-secondary-400 : #424242;
  --pa-color-secondary-500 : white;
  --pa-color-secondary-600 : white;
  --pa-color-secondary-700 : white;
  --pa-color-secondary-800 : white;
  --pa-color-secondary-900 : white;
}