:root{
  --pa-bg-secondary     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary  : white;
  --pa-color-rgb-secondary  : 255, 255, 255;

  --pa-bg-secondary-h     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary-h     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary-h  : white;
  --pa-color-rgb-secondary-h  : 255, 255, 255;

  --pa-bg-secondary-a     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary-a     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary-a  : white;
  --pa-color-rgb-secondary-a  : 255, 255, 255;

  --pa-bg-secondary-f     : var(--pa-bg-secondary-500);
  --pa-bg-rgb-secondary-f     : var(--pa-bg-rgb-secondary-500);
  --pa-color-secondary-f  : white;
  --pa-color-rgb-secondary-f  : 255, 255, 255;

  --pa-bg-secondary-50  : #FAF2FC;
  --pa-bg-secondary-100 : #F0D7F5;
  --pa-bg-secondary-200 : #E6BCEE;
  --pa-bg-secondary-300 : #C86BD9;
  --pa-bg-secondary-400 : #B436CB;
  --pa-bg-secondary-500 : #A000BD;
  --pa-bg-secondary-600 : #8F00A9;
  --pa-bg-secondary-700 : #7E0095;
  --pa-bg-secondary-800 : #6D0081;
  --pa-bg-secondary-900 : #5D006D;

  --pa-color-secondary-50  : #424242;
  --pa-color-secondary-100 : #424242;
  --pa-color-secondary-200 : #424242;
  --pa-color-secondary-300 : white;
  --pa-color-secondary-400 : white;
  --pa-color-secondary-500 : white;
  --pa-color-secondary-600 : white;
  --pa-color-secondary-700 : white;
  --pa-color-secondary-800 : white;
  --pa-color-secondary-900 : white;
}