#{$parent_prefixClass}-w100vh #{$selectAll}{
  width: 100vh #{$parent_importantStatus};
}

#{$parent_prefixClass}-w0 #{$selectAll}{
  width:0% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w1 #{$selectAll}{
  width:1% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w2 #{$selectAll}{
  width:2% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w3 #{$selectAll}{
  width:3% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w4 #{$selectAll}{
  width:4% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w5 #{$selectAll}{
  width:5% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w6 #{$selectAll}{
  width:6% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w7 #{$selectAll}{
  width:7% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w8 #{$selectAll}{
  width:8% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w9 #{$selectAll}{
  width:9% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w10 #{$selectAll}{
  width:10% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w11 #{$selectAll}{
  width:11% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w12 #{$selectAll}{
  width:12% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w13 #{$selectAll}{
  width:13% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w14 #{$selectAll}{
  width:14% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w15 #{$selectAll}{
  width:15% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w16 #{$selectAll}{
  width:16% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w17 #{$selectAll}{
  width:17% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w18 #{$selectAll}{
  width:18% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w19 #{$selectAll}{
  width:19% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w20 #{$selectAll}{
  width:20% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w21 #{$selectAll}{
  width:21% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w22 #{$selectAll}{
  width:22% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w23 #{$selectAll}{
  width:23% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w24 #{$selectAll}{
  width:24% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w25 #{$selectAll}{
  width:25% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w26 #{$selectAll}{
  width:26% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w27 #{$selectAll}{
  width:27% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w28 #{$selectAll}{
  width:28% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w29 #{$selectAll}{
  width:29% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w30 #{$selectAll}{
  width:30% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w31 #{$selectAll}{
  width:31% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w32 #{$selectAll}{
  width:32% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w33 #{$selectAll}{
  width:33% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w34 #{$selectAll}{
  width:34% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w35 #{$selectAll}{
  width:35% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w36 #{$selectAll}{
  width:36% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w37 #{$selectAll}{
  width:37% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w38 #{$selectAll}{
  width:38% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w39 #{$selectAll}{
  width:39% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w40 #{$selectAll}{
  width:40% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w41 #{$selectAll}{
  width:41% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w42 #{$selectAll}{
  width:42% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w43 #{$selectAll}{
  width:43% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w44 #{$selectAll}{
  width:44% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w45 #{$selectAll}{
  width:45% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w46 #{$selectAll}{
  width:46% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w47 #{$selectAll}{
  width:47% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w48 #{$selectAll}{
  width:48% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w49 #{$selectAll}{
  width:49% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w50 #{$selectAll}{
  width:50% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w51 #{$selectAll}{
  width:51% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w52 #{$selectAll}{
  width:52% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w53 #{$selectAll}{
  width:53% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w54 #{$selectAll}{
  width:54% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w55 #{$selectAll}{
  width:55% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w56 #{$selectAll}{
  width:56% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w57 #{$selectAll}{
  width:57% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w58 #{$selectAll}{
  width:58% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w59 #{$selectAll}{
  width:59% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w60 #{$selectAll}{
  width:60% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w61 #{$selectAll}{
  width:61% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w62 #{$selectAll}{
  width:62% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w63 #{$selectAll}{
  width:63% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w64 #{$selectAll}{
  width:64% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w65 #{$selectAll}{
  width:65% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w66 #{$selectAll}{
  width:66% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w67 #{$selectAll}{
  width:67% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w68 #{$selectAll}{
  width:68% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w69 #{$selectAll}{
  width:69% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w70 #{$selectAll}{
  width:70% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w71 #{$selectAll}{
  width:71% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w72 #{$selectAll}{
  width:72% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w73 #{$selectAll}{
  width:73% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w74 #{$selectAll}{
  width:74% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w75 #{$selectAll}{
  width:75% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w76 #{$selectAll}{
  width:76% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w77 #{$selectAll}{
  width:77% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w78 #{$selectAll}{
  width:78% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w79 #{$selectAll}{
  width:79% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w80 #{$selectAll}{
  width:80% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w81 #{$selectAll}{
  width:81% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w82 #{$selectAll}{
  width:82% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w83 #{$selectAll}{
  width:83% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w84 #{$selectAll}{
  width:84% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w85 #{$selectAll}{
  width:85% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w86 #{$selectAll}{
  width:86% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w87 #{$selectAll}{
  width:87% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w88 #{$selectAll}{
  width:88% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w89 #{$selectAll}{
  width:89% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w90 #{$selectAll}{
  width:90% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w91 #{$selectAll}{
  width:91% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w92 #{$selectAll}{
  width:92% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w93 #{$selectAll}{
  width:93% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w94 #{$selectAll}{
  width:94% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w95 #{$selectAll}{
  width:95% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w96 #{$selectAll}{
  width:96% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w97 #{$selectAll}{
  width:97% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w98 #{$selectAll}{
  width:98% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w99 #{$selectAll}{
  width:99% #{$parent_importantStatus}
}
#{$parent_prefixClass}-w100 #{$selectAll}{
  width:100% #{$parent_importantStatus}
}