:root{
  --pa-bg-secondary     : var(--pa-bg-secondary-500);
  --pa-color-secondary  : white;

  --pa-bg-secondary-h     : var(--pa-bg-secondary-600);
  --pa-color-secondary-h  : white;

  --pa-bg-secondary-a     : var(--pa-bg-secondary-700);
  --pa-color-secondary-a  : white;

  --pa-bg-secondary-f     : var(--pa-bg-secondary-500);
  --pa-color-secondary-f  : white;

  --pa-bg-secondary-50  : #F2F9FF;
  --pa-bg-secondary-100 : #D7EDFF;
  --pa-bg-secondary-200 : #A1D5FF;
  --pa-bg-secondary-300 : #6BBEFF;
  --pa-bg-secondary-400 : #43ACFF;
  --pa-bg-secondary-500 : #008EFF;
  --pa-bg-secondary-600 : #007FE4;
  --pa-bg-secondary-700 : #0070C9;
  --pa-bg-secondary-800 : #0061AE;
  --pa-bg-secondary-900 : #004379;

  --pa-bg-rgb-secondary-50  : 242, 249, 255;
  --pa-bg-rgb-secondary-100 : 215, 237, 255;
  --pa-bg-rgb-secondary-200 : 161, 213, 255;
  --pa-bg-rgb-secondary-300 : 107, 190, 255;
  --pa-bg-rgb-secondary-400 : 67, 172, 255;
  --pa-bg-rgb-secondary-500 : 0, 142, 255;
  --pa-bg-rgb-secondary-600 : 0, 127, 228;
  --pa-bg-rgb-secondary-700 : 0, 112, 201;
  --pa-bg-rgb-secondary-800 : 0, 97, 174;
  --pa-bg-rgb-secondary-900 : 0, 67, 121;

  --pa-color-secondary-50  : #424242;
  --pa-color-secondary-100 : #424242;
  --pa-color-secondary-200 : #424242;
  --pa-color-secondary-300 : #424242;
  --pa-color-secondary-400 : #424242;
  --pa-color-secondary-500 : white;
  --pa-color-secondary-600 : white;
  --pa-color-secondary-700 : white;
  --pa-color-secondary-800 : white;
  --pa-color-secondary-900 : white;
}
