:root{
  --pa-bg-secondary     : var(--pa-bg-secondary-500);
  --pa-color-secondary  : white;

  --pa-bg-secondary-h     : var(--pa-bg-secondary-600);
  --pa-color-secondary-h  : white;

  --pa-bg-secondary-a     : var(--pa-bg-secondary-700);
  --pa-color-secondary-a  : white;

  --pa-bg-secondary-f     : var(--pa-bg-secondary-500);
  --pa-color-secondary-f  : white;

  --pa-bg-secondary-50  : #EDFFFA;
  --pa-bg-secondary-100 : #C4FCEE;
  --pa-bg-secondary-200 : #9DF9E2;
  --pa-bg-secondary-300 : #77F9D8;
  --pa-bg-secondary-400 : #16F4BB;
  --pa-bg-secondary-500 : #0BEAB1;
  --pa-bg-secondary-600 : #09C192;
  --pa-bg-secondary-700 : #07B286;
  --pa-bg-secondary-800 : #069B74;
  --pa-bg-secondary-900 : #058765;

  --pa-bg-rgb-secondary-50  : 237, 255, 250;
  --pa-bg-rgb-secondary-100 : 196, 252, 238;
  --pa-bg-rgb-secondary-200 : 157, 249, 226;
  --pa-bg-rgb-secondary-300 : 119, 249, 216;
  --pa-bg-rgb-secondary-400 : 22, 244, 187;
  --pa-bg-rgb-secondary-500 : 11, 234, 177;
  --pa-bg-rgb-secondary-600 : 9, 193, 146;
  --pa-bg-rgb-secondary-700 : 7, 178, 134;
  --pa-bg-rgb-secondary-800 : 6, 155, 116;
  --pa-bg-rgb-secondary-900 : 5, 135, 101;

  --pa-color-secondary-50  : #424242;
  --pa-color-secondary-100 : #424242;
  --pa-color-secondary-200 : #424242;
  --pa-color-secondary-300 : #424242;
  --pa-color-secondary-400 : #424242;
  --pa-color-secondary-500 : white;
  --pa-color-secondary-600 : white;
  --pa-color-secondary-700 : white;
  --pa-color-secondary-800 : white;
  --pa-color-secondary-900 : white;
}