:root{
  --pa-bg-secondary     : var(--pa-bg-secondary-500);
  --pa-color-secondary  : white;

  --pa-bg-secondary-h     : var(--pa-bg-secondary-600);
  --pa-color-secondary-h  : white;

  --pa-bg-secondary-a     : var(--pa-bg-secondary-700);
  --pa-color-secondary-a  : white;

  --pa-bg-secondary-f     : var(--pa-bg-secondary-500);
  --pa-color-secondary-f  : white;

  --pa-bg-secondary-50  : #ECEEFE;
  --pa-bg-secondary-100 : #C5CCFC;
  --pa-bg-secondary-200 : #9EAAFA;
  --pa-bg-secondary-300 : #687AF2;
  --pa-bg-secondary-400 : #354EEE;
  --pa-bg-secondary-500 : #0B29EA;
  --pa-bg-secondary-600 : #0922C3;
  --pa-bg-secondary-700 : #081DA7;
  --pa-bg-secondary-800 : #061786;
  --pa-bg-secondary-900 : #051264;

  --pa-bg-rgb-secondary-50:  236, 238, 254;
  --pa-bg-rgb-secondary-100: 197, 204, 252;
  --pa-bg-rgb-secondary-200: 158, 170, 250;
  --pa-bg-rgb-secondary-300: 104, 122, 242;
  --pa-bg-rgb-secondary-400: 53, 78, 238;
  --pa-bg-rgb-secondary-500: 11, 41, 234;
  --pa-bg-rgb-secondary-600: 9, 34, 195;
  --pa-bg-rgb-secondary-700: 8, 29, 167;
  --pa-bg-rgb-secondary-800: 6, 23, 134;
  --pa-bg-rgb-secondary-900: 5, 18, 100;

  --pa-color-secondary-50  : #424242;
  --pa-color-secondary-100 : #424242;
  --pa-color-secondary-200 : #424242;
  --pa-color-secondary-300 : white;
  --pa-color-secondary-400 : white;
  --pa-color-secondary-500 : white;
  --pa-color-secondary-600 : white;
  --pa-color-secondary-700 : white;
  --pa-color-secondary-800 : white;
  --pa-color-secondary-900 : white;
}
