:root{
  --pa-bg-secondary     : var(--pa-bg-secondary-500);
  --pa-color-secondary  : white;

  --pa-bg-secondary-h     : var(--pa-bg-secondary-600);
  --pa-color-secondary-h  : white;

  --pa-bg-secondary-a     : var(--pa-bg-secondary-700);
  --pa-color-secondary-a  : white;

  --pa-bg-secondary-f     : var(--pa-bg-secondary-500);
  --pa-color-secondary-f  : white;

  --pa-bg-secondary-50  : #FFF6ED;
  --pa-bg-secondary-100 : #FFEDDB;
  --pa-bg-secondary-200 : #FFDCB6;
  --pa-bg-secondary-300 : #FFB96D;
  --pa-bg-secondary-400 : #FF9624;
  --pa-bg-secondary-500 : #FF8400;
  --pa-bg-secondary-600 : #F27D00;
  --pa-bg-secondary-700 : #D76F00;
  --pa-bg-secondary-800 : #AE5A00;
  --pa-bg-secondary-900 : #864500;

  --pa-bg-rgb-secondary-50:  255, 246, 237;
  --pa-bg-rgb-secondary-100: 255, 237, 219;
  --pa-bg-rgb-secondary-200: 255, 220, 182;
  --pa-bg-rgb-secondary-300: 255, 185, 109;
  --pa-bg-rgb-secondary-400: 255, 150, 36;
  --pa-bg-rgb-secondary-500: 255, 132, 0;
  --pa-bg-rgb-secondary-600: 242, 125, 0;
  --pa-bg-rgb-secondary-700: 215, 111, 0;
  --pa-bg-rgb-secondary-800: 174, 90, 0;
  --pa-bg-rgb-secondary-900: 134, 69, 0;

  --pa-color-secondary-50  : #424242;
  --pa-color-secondary-100 : #424242;
  --pa-color-secondary-200 : #424242;
  --pa-color-secondary-300 : white;
  --pa-color-secondary-400 : white;
  --pa-color-secondary-500 : white;
  --pa-color-secondary-600 : white;
  --pa-color-secondary-700 : white;
  --pa-color-secondary-800 : white;
  --pa-color-secondary-900 : white;
}
