:root{
  --pa-bg-secondary     : var(--pa-bg-secondary-500);
  --pa-color-secondary  : white;

  --pa-bg-secondary-h     : var(--pa-bg-secondary-600);
  --pa-color-secondary-h  : white;

  --pa-bg-secondary-a     : var(--pa-bg-secondary-700);
  --pa-color-secondary-a  : white;

  --pa-bg-secondary-f     : var(--pa-bg-secondary-500);
  --pa-color-secondary-f  : white;

  --pa-bg-secondary-50  : #FFF2F9;
  --pa-bg-secondary-100 : #FFD7EC;
  --pa-bg-secondary-200 : #FFAED9;
  --pa-bg-secondary-300 : #FF6BBA;
  --pa-bg-secondary-400 : #FF36A1;
  --pa-bg-secondary-500 : #FF0088;
  --pa-bg-secondary-600 : #ED007F;
  --pa-bg-secondary-700 : #DC0075;
  --pa-bg-secondary-800 : #C10067;
  --pa-bg-secondary-900 : #A70059;

  --pa-bg-rgb-secondary-50:  255, 242, 249;
  --pa-bg-rgb-secondary-100: 255, 215, 236;
  --pa-bg-rgb-secondary-200: 255, 174, 217;
  --pa-bg-rgb-secondary-300: 255, 107, 186;
  --pa-bg-rgb-secondary-400: 255, 54, 161;
  --pa-bg-rgb-secondary-500: 255, 0, 136;
  --pa-bg-rgb-secondary-600: 237, 0, 127;
  --pa-bg-rgb-secondary-700: 220, 0, 117;
  --pa-bg-rgb-secondary-800: 193, 0, 103;
  --pa-bg-rgb-secondary-900: 167, 0, 89;

  --pa-color-secondary-50  : #424242;
  --pa-color-secondary-100 : #424242;
  --pa-color-secondary-200 : #424242;
  --pa-color-secondary-300 : white;
  --pa-color-secondary-400 : white;
  --pa-color-secondary-500 : white;
  --pa-color-secondary-600 : white;
  --pa-color-secondary-700 : white;
  --pa-color-secondary-800 : white;
  --pa-color-secondary-900 : white;
}