:root{
  --pa-bg-secondary     : var(--pa-bg-secondary-500);
  --pa-color-secondary  : white;

  --pa-bg-secondary-h     : var(--pa-bg-secondary-600);
  --pa-color-secondary-h  : white;

  --pa-bg-secondary-a     : var(--pa-bg-secondary-700);
  --pa-color-secondary-a  : white;

  --pa-bg-secondary-f     : var(--pa-bg-secondary-500);
  --pa-color-secondary-f  : white;

  --pa-bg-secondary-50  : #F2F9F9;
  --pa-bg-secondary-100 : #D7EEED;
  --pa-bg-secondary-200 : #BCE3E0;
  --pa-bg-secondary-300 : #5EBBB5;
  --pa-bg-secondary-400 : #1B9F96;
  --pa-bg-secondary-500 : #00948A;
  --pa-bg-secondary-600 : #00847B;
  --pa-bg-secondary-700 : #00756D;
  --pa-bg-secondary-800 : #00655E;
  --pa-bg-secondary-900 : #004641;

  --pa-bg-rgb-secondary-50:  242, 249, 249;
  --pa-bg-rgb-secondary-100: 215, 238, 237;
  --pa-bg-rgb-secondary-200: 188, 227, 224;
  --pa-bg-rgb-secondary-300: 94, 187, 181;
  --pa-bg-rgb-secondary-400: 27, 159, 150;
  --pa-bg-rgb-secondary-500: 0, 148, 138;
  --pa-bg-rgb-secondary-600: 0, 132, 123;
  --pa-bg-rgb-secondary-700: 0, 117, 109;
  --pa-bg-rgb-secondary-800: 0, 101, 94;
  --pa-bg-rgb-secondary-900: 0, 70, 65;

  --pa-color-secondary-50  : #424242;
  --pa-color-secondary-100 : #424242;
  --pa-color-secondary-200 : #424242;
  --pa-color-secondary-300 : white;
  --pa-color-secondary-400 : white;
  --pa-color-secondary-500 : white;
  --pa-color-secondary-600 : white;
  --pa-color-secondary-700 : white;
  --pa-color-secondary-800 : white;
  --pa-color-secondary-900 : white;
}