#{$parent_prefixClass}-w1550px #{$selectAll}{
  width:1550px #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1600px #{$selectAll}{
  width:1600px #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1650px #{$selectAll}{
  width:1650px #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1700px #{$selectAll}{
  width:1700px #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1750px #{$selectAll}{
  width:1750px #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1800px #{$selectAll}{
  width:1800px #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1850px #{$selectAll}{
  width:1850px #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1900px #{$selectAll}{
  width:1900px #{$parent_importantStatus}
}

#{$parent_prefixClass}-w1950px #{$selectAll}{
  width:1950px #{$parent_importantStatus}
}

#{$parent_prefixClass}-w2000px #{$selectAll}{
  width:2000px #{$parent_importantStatus}
}

#{$parent_prefixClass}-w2500px #{$selectAll}{
  width:2500px #{$parent_importantStatus}
}

#{$parent_prefixClass}-w3000px #{$selectAll}{
  width:3000px #{$parent_importantStatus}
}

#{$parent_prefixClass}-w3500px #{$selectAll}{
  width:3500px #{$parent_importantStatus}
}

#{$parent_prefixClass}-w4000px #{$selectAll}{
  width:4000px #{$parent_importantStatus}
}
            
