:root{
  --pa-bg-user-panel     : #ffc107;
  --pa-color-user-panel  : white;

  --pa-bg-user-panel-50  : #fff8e1;
  --pa-bg-user-panel-100 : #ffecb3;
  --pa-bg-user-panel-200 : #ffe082;
  --pa-bg-user-panel-300 : #ffd54f;
  --pa-bg-user-panel-400 : #ffca28;
  --pa-bg-user-panel-500 : #ffc107;
  --pa-bg-user-panel-600 : #ffb300;
  --pa-bg-user-panel-700 : #ffa000;
  --pa-bg-user-panel-800 : #ff8f00;
  --pa-bg-user-panel-900 : #ff6f00;

  --pa-color-user-panel-50  : #424242;
  --pa-color-user-panel-100 : #424242;
  --pa-color-user-panel-200 : #424242;
  --pa-color-user-panel-300 : #424242;
  --pa-color-user-panel-400 : #424242;
  --pa-color-user-panel-500 : white;
  --pa-color-user-panel-600 : white;
  --pa-color-user-panel-700 : white;
  --pa-color-user-panel-800 : white;
  --pa-color-user-panel-900 : white;
}
