:root{
  --pa-bg-user-panel     : #3D748F;
  --pa-color-user-panel  : white;

  --pa-bg-user-panel-50  : #F5F8F9;
  --pa-bg-user-panel-100 : #E0E9ED;
  --pa-bg-user-panel-200 : #CCDAE2;
  --pa-bg-user-panel-300 : #84A7B8;
  --pa-bg-user-panel-400 : #5C8AA1;
  --pa-bg-user-panel-500 : #3D748F;
  --pa-bg-user-panel-600 : #376880;
  --pa-bg-user-panel-700 : #305C71;
  --pa-bg-user-panel-800 : #2A4F62;
  --pa-bg-user-panel-900 : #1D3744;

  --pa-color-user-panel-50  : #424242;
  --pa-color-user-panel-100 : #424242;
  --pa-color-user-panel-200 : #424242;
  --pa-color-user-panel-300 : #424242;
  --pa-color-user-panel-400 : white;
  --pa-color-user-panel-500 : white;
  --pa-color-user-panel-600 : white;
  --pa-color-user-panel-700 : white;
  --pa-color-user-panel-800 : white;
  --pa-color-user-panel-900 : white;
}