:root{
  --pa-bg-user-panel     : #7412C4;
  --pa-color-user-panel  : white;

  --pa-bg-user-panel-50  : #F8F3FC;
  --pa-bg-user-panel-100 : #E9DAF6;
  --pa-bg-user-panel-200 : #D3B4EC;
  --pa-bg-user-panel-300 : #A769DA;
  --pa-bg-user-panel-400 : #832BCA;
  --pa-bg-user-panel-500 : #7412C4;
  --pa-bg-user-panel-600 : #6810AF;
  --pa-bg-user-panel-700 : #5C0E9B;
  --pa-bg-user-panel-800 : #4F0C86;
  --pa-bg-user-panel-900 : #37095D;

  --pa-color-user-panel-50  : #424242;
  --pa-color-user-panel-100 : #424242;
  --pa-color-user-panel-200 : #424242;
  --pa-color-user-panel-300 : white;
  --pa-color-user-panel-400 : white;
  --pa-color-user-panel-500 : white;
  --pa-color-user-panel-600 : white;
  --pa-color-user-panel-700 : white;
  --pa-color-user-panel-800 : white;
  --pa-color-user-panel-900 : white;
}