:root{
  --pa-bg-user-panel     : #FF4800;
  --pa-color-user-panel  : white;

  --pa-bg-user-panel-50  : #FFF5F2;
  --pa-bg-user-panel-100 : #FFE2D7;
  --pa-bg-user-panel-200 : #FFCFBC;
  --pa-bg-user-panel-300 : #FF6F36;
  --pa-bg-user-panel-400 : #FF5B1B;
  --pa-bg-user-panel-500 : #FF4800;
  --pa-bg-user-panel-600 : #E44000;
  --pa-bg-user-panel-700 : #C93900;
  --pa-bg-user-panel-800 : #BC3500;
  --pa-bg-user-panel-900 : #942A00;

  --pa-color-user-panel-50  : #424242;
  --pa-color-user-panel-100 : #424242;
  --pa-color-user-panel-200 : #424242;
  --pa-color-user-panel-300 : #424242;
  --pa-color-user-panel-400 : #424242;
  --pa-color-user-panel-500 : white;
  --pa-color-user-panel-600 : white;
  --pa-color-user-panel-700 : white;
  --pa-color-user-panel-800 : white;
  --pa-color-user-panel-900 : white;
}