:root{
  --pa-bg-user-panel     : #0B29EA;
  --pa-color-user-panel  : white;

  --pa-bg-user-panel-50  : #ECEEFE;
  --pa-bg-user-panel-100 : #C5CCFC;
  --pa-bg-user-panel-200 : #9EAAFA;
  --pa-bg-user-panel-300 : #687AF2;
  --pa-bg-user-panel-400 : #354EEE;
  --pa-bg-user-panel-500 : #0B29EA;
  --pa-bg-user-panel-600 : #0922C3;
  --pa-bg-user-panel-700 : #081DA7;
  --pa-bg-user-panel-800 : #061786;
  --pa-bg-user-panel-900 : #051264;

  --pa-color-user-panel-50  : #424242;
  --pa-color-user-panel-100 : #424242;
  --pa-color-user-panel-200 : #424242;
  --pa-color-user-panel-300 : white;
  --pa-color-user-panel-400 : white;
  --pa-color-user-panel-500 : white;
  --pa-color-user-panel-600 : white;
  --pa-color-user-panel-700 : white;
  --pa-color-user-panel-800 : white;
  --pa-color-user-panel-900 : white;
}
