:root{
  --pa-bg-user-panel     : #00CCFF;
  --pa-color-user-panel  : white;

  --pa-bg-user-panel-50  : #F2FCFF;
  --pa-bg-user-panel-100 : #D7F7FF;
  --pa-bg-user-panel-200 : #BCF2FF;
  --pa-bg-user-panel-300 : #94EAFF;
  --pa-bg-user-panel-400 : #43D9FF;
  --pa-bg-user-panel-500 : #00CCFF;
  --pa-bg-user-panel-600 : #00B7E4;
  --pa-bg-user-panel-700 : #00A1C9;
  --pa-bg-user-panel-800 : #008CAE;
  --pa-bg-user-panel-900 : #006179;

  --pa-color-user-panel-50  : #424242;
  --pa-color-user-panel-100 : #424242;
  --pa-color-user-panel-200 : #424242;
  --pa-color-user-panel-300 : #424242;
  --pa-color-user-panel-400 : white;
  --pa-color-user-panel-500 : white;
  --pa-color-user-panel-600 : white;
  --pa-color-user-panel-700 : white;
  --pa-color-user-panel-800 : white;
  --pa-color-user-panel-900 : white;
}