:root{
  --pa-bg-user-panel     : #B4EA0B;
  --pa-color-user-panel  : white;

  --pa-bg-user-panel-50  : #FAFFED;
  --pa-bg-user-panel-100 : #EFFCC4;
  --pa-bg-user-panel-200 : #E3F99D;
  --pa-bg-user-panel-300 : #DAF977;
  --pa-bg-user-panel-400 : #BEF416;
  --pa-bg-user-panel-500 : #B4EA0B;
  --pa-bg-user-panel-600 : #95C109;
  --pa-bg-user-panel-700 : #89B207;
  --pa-bg-user-panel-800 : #779B06;
  --pa-bg-user-panel-900 : #678705;

  --pa-color-user-panel-50  : #424242;
  --pa-color-user-panel-100 : #424242;
  --pa-color-user-panel-200 : #424242;
  --pa-color-user-panel-300 : #424242;
  --pa-color-user-panel-400 : #424242;
  --pa-color-user-panel-500 : white;
  --pa-color-user-panel-600 : white;
  --pa-color-user-panel-700 : white;
  --pa-color-user-panel-800 : white;
  --pa-color-user-panel-900 : white;
}