:root{
  --pa-bg-user-panel     : #A000BD;
  --pa-color-user-panel  : white;

  --pa-bg-user-panel-50  : #FAF2FC;
  --pa-bg-user-panel-100 : #F0D7F5;
  --pa-bg-user-panel-200 : #E6BCEE;
  --pa-bg-user-panel-300 : #C86BD9;
  --pa-bg-user-panel-400 : #B436CB;
  --pa-bg-user-panel-500 : #A000BD;
  --pa-bg-user-panel-600 : #8F00A9;
  --pa-bg-user-panel-700 : #7E0095;
  --pa-bg-user-panel-800 : #6D0081;
  --pa-bg-user-panel-900 : #5D006D;

  --pa-color-user-panel-50  : #424242;
  --pa-color-user-panel-100 : #424242;
  --pa-color-user-panel-200 : #424242;
  --pa-color-user-panel-300 : white;
  --pa-color-user-panel-400 : white;
  --pa-color-user-panel-500 : white;
  --pa-color-user-panel-600 : white;
  --pa-color-user-panel-700 : white;
  --pa-color-user-panel-800 : white;
  --pa-color-user-panel-900 : white;
}