:root{
  --pa-bg-admin-panel     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel  : white;
  --pa-color-rgb-admin-panel  : 255, 255, 255;

  --pa-bg-admin-panel-h     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel-h     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel-h  : white;
  --pa-color-rgb-admin-panel-h  : 255, 255, 255;

  --pa-bg-admin-panel-a     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel-a     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel-a  : white;
  --pa-color-rgb-admin-panel-a  : 255, 255, 255;

  --pa-bg-admin-panel-f     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel-f     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel-f  : white;
  --pa-color-rgb-admin-panel-f  : 255, 255, 255;

  --pa-bg-admin-panel-50  : #EDFFFA;
  --pa-bg-admin-panel-100 : #C4FCEE;
  --pa-bg-admin-panel-200 : #9DF9E2;
  --pa-bg-admin-panel-300 : #77F9D8;
  --pa-bg-admin-panel-400 : #16F4BB;
  --pa-bg-admin-panel-500 : #0BEAB1;
  --pa-bg-admin-panel-600 : #09C192;
  --pa-bg-admin-panel-700 : #07B286;
  --pa-bg-admin-panel-800 : #069B74;
  --pa-bg-admin-panel-900 : #058765;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : #424242;
  --pa-color-admin-panel-400 : #424242;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}