:root{
  --pa-bg-admin-panel     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel  : white;
  --pa-color-rgb-admin-panel  : 255, 255, 255;

  --pa-bg-admin-panel-h     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel-h     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel-h  : white;
  --pa-color-rgb-admin-panel-h  : 255, 255, 255;

  --pa-bg-admin-panel-a     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel-a     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel-a  : white;
  --pa-color-rgb-admin-panel-a  : 255, 255, 255;

  --pa-bg-admin-panel-f     : var(--pa-bg-admin-panel-500);
  --pa-bg-rgb-admin-panel-f     : var(--pa-bg-rgb-admin-panel-500);
  --pa-color-admin-panel-f  : white;
  --pa-color-rgb-admin-panel-f  : 255, 255, 255;

  --pa-bg-admin-panel-50  : #F2FAF3;
  --pa-bg-admin-panel-100 : #E5F5E7;
  --pa-bg-admin-panel-200 : #BDE7C4;
  --pa-bg-admin-panel-300 : #89D394;
  --pa-bg-admin-panel-400 : #20AD35;
  --pa-bg-admin-panel-500 : #06A31D;
  --pa-bg-admin-panel-600 : #05921A;
  --pa-bg-admin-panel-700 : #058117;
  --pa-bg-admin-panel-800 : #047014;
  --pa-bg-admin-panel-900 : #03560F;

  --pa-color-admin-panel-50  : #424242;
  --pa-color-admin-panel-100 : #424242;
  --pa-color-admin-panel-200 : #424242;
  --pa-color-admin-panel-300 : #424242;
  --pa-color-admin-panel-400 : #424242;
  --pa-color-admin-panel-500 : white;
  --pa-color-admin-panel-600 : white;
  --pa-color-admin-panel-700 : white;
  --pa-color-admin-panel-800 : white;
  --pa-color-admin-panel-900 : white;
}
