:root{
  --pa-bg-primary     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary  : white;
  --pa-color-rgb-primary  : 255, 255, 255;

  --pa-bg-primary-h     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary-h     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary-h  : white;
  --pa-color-rgb-primary-h  : 255, 255, 255;

  --pa-bg-primary-a     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary-a     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary-a  : white;
  --pa-color-rgb-primary-a  : 255, 255, 255;

  --pa-bg-primary-f     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary-f     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary-f  : white;
  --pa-color-rgb-primary-f  : 255, 255, 255;

  --pa-bg-primary-50  : #eceff1;
  --pa-bg-primary-100 : #cfd8dc;
  --pa-bg-primary-200 : #b0bec5;
  --pa-bg-primary-300 : #90a4ae;
  --pa-bg-primary-400 : #78909c;
  --pa-bg-primary-500 : #607d8b;
  --pa-bg-primary-600 : #546e7a;
  --pa-bg-primary-700 : #455a64;
  --pa-bg-primary-800 : #37474f;
  --pa-bg-primary-900 : #263238;

  --pa-bg-rgb-primary-50:  236, 239, 241;
  --pa-bg-rgb-primary-100: 207, 216, 220;
  --pa-bg-rgb-primary-200: 176, 190, 197;
  --pa-bg-rgb-primary-300: 144, 164, 174;
  --pa-bg-rgb-primary-400: 120, 144, 156;
  --pa-bg-rgb-primary-500: 96, 125, 139;
  --pa-bg-rgb-primary-600: 84, 110, 122;
  --pa-bg-rgb-primary-700: 69, 90, 100;
  --pa-bg-rgb-primary-800: 55, 71, 79;
  --pa-bg-rgb-primary-900: 38, 50, 56;

  --pa-color-primary-50  : #424242;
  --pa-color-primary-100 : #424242;
  --pa-color-primary-200 : #424242;
  --pa-color-primary-300 : #424242;
  --pa-color-primary-400 : white;
  --pa-color-primary-500 : white;
  --pa-color-primary-600 : white;
  --pa-color-primary-700 : white;
  --pa-color-primary-800 : white;
  --pa-color-primary-900 : white;
}