:root{
  --pa-bg-primary     : var(--pa-bg-primary-500);
  --pa-color-primary  : white;

  --pa-bg-primary-h     : var(--pa-bg-primary-500);
  --pa-color-primary-h  : white;

  --pa-bg-primary-a     : var(--pa-bg-primary-500);
  --pa-color-primary-a  : white;

  --pa-bg-primary-f     : var(--pa-bg-primary-500);
  --pa-color-primary-f  : white;

  --pa-bg-primary-50  : #efebe9;
  --pa-bg-primary-100 : #d7ccc8;
  --pa-bg-primary-200 : #bcaaa4;
  --pa-bg-primary-300 : #a1887f;
  --pa-bg-primary-400 : #8d6e63;
  --pa-bg-primary-500 : #795548;
  --pa-bg-primary-600 : #6d4c41;
  --pa-bg-primary-700 : #5d4037;
  --pa-bg-primary-800 : #4e342e;
  --pa-bg-primary-900 : #3e2723;

  --pa-color-primary-50  : #424242;
  --pa-color-primary-100 : #424242;
  --pa-color-primary-200 : #424242;
  --pa-color-primary-300 : #424242;
  --pa-color-primary-400 : white;
  --pa-color-primary-500 : white;
  --pa-color-primary-600 : white;
  --pa-color-primary-700 : white;
  --pa-color-primary-800 : white;
  --pa-color-primary-900 : white;
}