:root{
  --pa-bg-primary     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary  : white;
  --pa-color-rgb-primary  : 255, 255, 255;

  --pa-bg-primary-h     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary-h     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary-h  : white;
  --pa-color-rgb-primary-h  : 255, 255, 255;

  --pa-bg-primary-a     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary-a     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary-a  : white;
  --pa-color-rgb-primary-a  : 255, 255, 255;

  --pa-bg-primary-f     : var(--pa-bg-primary-500);
  --pa-bg-rgb-primary-f     : var(--pa-bg-rgb-primary-500);
  --pa-color-primary-f  : white;
  --pa-color-rgb-primary-f  : 255, 255, 255;

  --pa-bg-primary-50  : #f1f8e9;
  --pa-bg-primary-100 : #dcedc8;
  --pa-bg-primary-200 : #c5e1a5;
  --pa-bg-primary-300 : #aed581;
  --pa-bg-primary-400 : #9ccc65;
  --pa-bg-primary-500 : #8bc34a;
  --pa-bg-primary-600 : #7cb342;
  --pa-bg-primary-700 : #689f38;
  --pa-bg-primary-800 : #558b2f;
  --pa-bg-primary-900 : #33691e;

  --pa-bg-rgb-primary-50:  241, 248, 233;
  --pa-bg-rgb-primary-100: 220, 237, 200;
  --pa-bg-rgb-primary-200: 197, 225, 165;
  --pa-bg-rgb-primary-300: 174, 213, 129;
  --pa-bg-rgb-primary-400: 156, 204, 101;
  --pa-bg-rgb-primary-500: 139, 195, 74;
  --pa-bg-rgb-primary-600: 124, 179, 66;
  --pa-bg-rgb-primary-700: 104, 159, 56;
  --pa-bg-rgb-primary-800: 85, 139, 47;
  --pa-bg-rgb-primary-900: 51, 105, 30;

  --pa-color-primary-50  : #424242;
  --pa-color-primary-100 : #424242;
  --pa-color-primary-200 : #424242;
  --pa-color-primary-300 : #424242;
  --pa-color-primary-400 : white;
  --pa-color-primary-500 : white;
  --pa-color-primary-600 : white;
  --pa-color-primary-700 : white;
  --pa-color-primary-800 : white;
  --pa-color-primary-900 : white;
}
