:root{
  --pa-bg-amber     : var(--pa-bg-amber-500);
  --pa-color-amber  : white;

  --pa-bg-amber-h     : var(--pa-bg-amber-600);
  --pa-color-amber-h  : white;

  --pa-bg-amber-a     : var(--pa-bg-amber-700);
  --pa-color-amber-a  : white;

  --pa-bg-amber-f     : var(--pa-bg-amber-500);
  --pa-color-amber-f  : white;

  --pa-bg-amber-50  : #fff8e1;
  --pa-bg-amber-100 : #ffecb3;
  --pa-bg-amber-200 : #ffe082;
  --pa-bg-amber-300 : #ffd54f;
  --pa-bg-amber-400 : #ffca28;
  --pa-bg-amber-500 : #ffc107;
  --pa-bg-amber-600 : #ffb300;
  --pa-bg-amber-700 : #ffa000;
  --pa-bg-amber-800 : #ff8f00;
  --pa-bg-amber-900 : #ff6f00;

  --pa-bg-rgb-amber-50  : 255, 248, 225;
  --pa-bg-rgb-amber-100 : 255, 236, 179;
  --pa-bg-rgb-amber-200 : 255, 224, 130;
  --pa-bg-rgb-amber-300 : 255, 213, 79;
  --pa-bg-rgb-amber-400 : 255, 202, 40;
  --pa-bg-rgb-amber-500 : 255, 193, 7;
  --pa-bg-rgb-amber-600 : 255, 179, 0;
  --pa-bg-rgb-amber-700 : 255, 160, 0;
  --pa-bg-rgb-amber-800 : 255, 143, 0;
  --pa-bg-rgb-amber-900 : 255, 111, 0;

  --pa-color-amber-50  : #424242;
  --pa-color-amber-100 : #424242;
  --pa-color-amber-200 : #424242;
  --pa-color-amber-300 : #424242;
  --pa-color-amber-400 : #424242;
  --pa-color-amber-500 : white;
  --pa-color-amber-600 : white;
  --pa-color-amber-700 : white;
  --pa-color-amber-800 : white;
  --pa-color-amber-900 : white;
}
