:root{
  --pa-bg-deep-orange     : var(--pa-bg-deep-orange-500);
  --pa-color-deep-orange  : white;

  --pa-bg-deep-orange-h     : var(--pa-bg-deep-orange-600);
  --pa-color-deep-orange-h  : white;

  --pa-bg-deep-orange-a     : var(--pa-bg-deep-orange-700);
  --pa-color-deep-orange-a  : white;

  --pa-bg-deep-orange-f     : var(--pa-bg-deep-orange-500);
  --pa-color-deep-orange-f  : white;

  --pa-bg-deep-orange-50  : #FFF5F2;
  --pa-bg-deep-orange-100 : #FFE2D7;
  --pa-bg-deep-orange-200 : #FFCFBC;
  --pa-bg-deep-orange-300 : #FF6F36;
  --pa-bg-deep-orange-400 : #FF5B1B;
  --pa-bg-deep-orange-500 : #FF4800;
  --pa-bg-deep-orange-600 : #E44000;
  --pa-bg-deep-orange-700 : #C93900;
  --pa-bg-deep-orange-800 : #BC3500;
  --pa-bg-deep-orange-900 : #942A00;

  --pa-bg-rgb-deep-orange-50  : 255, 245, 242;
  --pa-bg-rgb-deep-orange-100 : 255, 226, 215;
  --pa-bg-rgb-deep-orange-200 : 255, 207, 188;
  --pa-bg-rgb-deep-orange-300 : 255, 111, 54;
  --pa-bg-rgb-deep-orange-400 : 255, 91, 27;
  --pa-bg-rgb-deep-orange-500 : 255, 72, 0;
  --pa-bg-rgb-deep-orange-600 : 228, 64, 0;
  --pa-bg-rgb-deep-orange-700 : 201, 57, 0;
  --pa-bg-rgb-deep-orange-800 : 188, 53, 0;
  --pa-bg-rgb-deep-orange-900 : 148, 42, 0;

  --pa-color-deep-orange-50  : #424242;
  --pa-color-deep-orange-100 : #424242;
  --pa-color-deep-orange-200 : #424242;
  --pa-color-deep-orange-300 : #424242;
  --pa-color-deep-orange-400 : #424242;
  --pa-color-deep-orange-500 : white;
  --pa-color-deep-orange-600 : white;
  --pa-color-deep-orange-700 : white;
  --pa-color-deep-orange-800 : white;
  --pa-color-deep-orange-900 : white;
}