:root{
  --pa-bg-lime     : var(--pa-bg-lime-500);
  --pa-color-lime  : white;

  --pa-bg-lime-h     : var(--pa-bg-lime-600);
  --pa-color-lime-h  : white;

  --pa-bg-lime-a     : var(--pa-bg-lime-700);
  --pa-color-lime-a  : white;

  --pa-bg-lime-f     : var(--pa-bg-lime-500);
  --pa-color-lime-f  : white;

  --pa-bg-lime-50  : #FAFFED;
  --pa-bg-lime-100 : #EFFCC4;
  --pa-bg-lime-200 : #E3F99D;
  --pa-bg-lime-300 : #DAF977;
  --pa-bg-lime-400 : #BEF416;
  --pa-bg-lime-500 : #B4EA0B;
  --pa-bg-lime-600 : #95C109;
  --pa-bg-lime-700 : #89B207;
  --pa-bg-lime-800 : #779B06;
  --pa-bg-lime-900 : #678705;

  --pa-bg-rgb-lime-50:  250, 255, 237;
  --pa-bg-rgb-lime-100: 239, 252, 196;
  --pa-bg-rgb-lime-200: 227, 249, 157;
  --pa-bg-rgb-lime-300: 218, 249, 119;
  --pa-bg-rgb-lime-400: 190, 244, 22;
  --pa-bg-rgb-lime-500: 180, 234, 11;
  --pa-bg-rgb-lime-600: 149, 193, 9;
  --pa-bg-rgb-lime-700: 137, 178, 7;
  --pa-bg-rgb-lime-800: 119, 155, 6;
  --pa-bg-rgb-lime-900: 103, 135, 5;

  --pa-color-lime-50  : #424242;
  --pa-color-lime-100 : #424242;
  --pa-color-lime-200 : #424242;
  --pa-color-lime-300 : #424242;
  --pa-color-lime-400 : #424242;
  --pa-color-lime-500 : white;
  --pa-color-lime-600 : white;
  --pa-color-lime-700 : white;
  --pa-color-lime-800 : white;
  --pa-color-lime-900 : white;
}