:root{
  --pa-bg-orange     : var(--pa-bg-orange-500);
  --pa-color-orange  : white;

  --pa-bg-orange-h     : var(--pa-bg-orange-600);
  --pa-color-orange-h  : white;

  --pa-bg-orange-a     : var(--pa-bg-orange-700);
  --pa-color-orange-a  : white;

  --pa-bg-orange-f     : var(--pa-bg-orange-500);
  --pa-color-orange-f  : white;

  --pa-bg-orange-50  : #FFF6ED;
  --pa-bg-orange-100 : #FFEDDB;
  --pa-bg-orange-200 : #FFDCB6;
  --pa-bg-orange-300 : #FFB96D;
  --pa-bg-orange-400 : #FF9624;
  --pa-bg-orange-500 : #FF8400;
  --pa-bg-orange-600 : #F27D00;
  --pa-bg-orange-700 : #D76F00;
  --pa-bg-orange-800 : #AE5A00;
  --pa-bg-orange-900 : #864500;

  --pa-bg-rgb-orange-50:  255, 246, 237;
  --pa-bg-rgb-orange-100: 255, 237, 219;
  --pa-bg-rgb-orange-200: 255, 220, 182;
  --pa-bg-rgb-orange-300: 255, 185, 109;
  --pa-bg-rgb-orange-400: 255, 150, 36;
  --pa-bg-rgb-orange-500: 255, 132, 0;
  --pa-bg-rgb-orange-600: 242, 125, 0;
  --pa-bg-rgb-orange-700: 215, 111, 0;
  --pa-bg-rgb-orange-800: 174, 90, 0;
  --pa-bg-rgb-orange-900: 134, 69, 0;

  --pa-color-orange-50  : #424242;
  --pa-color-orange-100 : #424242;
  --pa-color-orange-200 : #424242;
  --pa-color-orange-300 : white;
  --pa-color-orange-400 : white;
  --pa-color-orange-500 : white;
  --pa-color-orange-600 : white;
  --pa-color-orange-700 : white;
  --pa-color-orange-800 : white;
  --pa-color-orange-900 : white;
}
