:root{
  --pa-bg-teal     : var(--pa-bg-teal-500);
  --pa-color-teal  : white;

  --pa-bg-teal-h     : var(--pa-bg-teal-600);
  --pa-color-teal-h  : white;

  --pa-bg-teal-a     : var(--pa-bg-teal-700);
  --pa-color-teal-a  : white;

  --pa-bg-teal-f     : var(--pa-bg-teal-500);
  --pa-color-teal-f  : white;

  --pa-bg-teal-50  : #F2F9F9;
  --pa-bg-teal-100 : #D7EEED;
  --pa-bg-teal-200 : #BCE3E0;
  --pa-bg-teal-300 : #5EBBB5;
  --pa-bg-teal-400 : #1B9F96;
  --pa-bg-teal-500 : #00948A;
  --pa-bg-teal-600 : #00847B;
  --pa-bg-teal-700 : #00756D;
  --pa-bg-teal-800 : #00655E;
  --pa-bg-teal-900 : #004641;

  --pa-bg-rgb-teal-50:  242, 249, 249;
  --pa-bg-rgb-teal-100: 215, 238, 237;
  --pa-bg-rgb-teal-200: 188, 227, 224;
  --pa-bg-rgb-teal-300: 94, 187, 181;
  --pa-bg-rgb-teal-400: 27, 159, 150;
  --pa-bg-rgb-teal-500: 0, 148, 138;
  --pa-bg-rgb-teal-600: 0, 132, 123;
  --pa-bg-rgb-teal-700: 0, 117, 109;
  --pa-bg-rgb-teal-800: 0, 101, 94;
  --pa-bg-rgb-teal-900: 0, 70, 65;

  --pa-color-teal-50  : #424242;
  --pa-color-teal-100 : #424242;
  --pa-color-teal-200 : #424242;
  --pa-color-teal-300 : white;
  --pa-color-teal-400 : white;
  --pa-color-teal-500 : white;
  --pa-color-teal-600 : white;
  --pa-color-teal-700 : white;
  --pa-color-teal-800 : white;
  --pa-color-teal-900 : white;
}