.fill-red-50{
    background-color: var(--pa-bg-red-50) !important;
}
.fill-red-100{
    background-color: var(--pa-bg-red-100) !important;
}
.fill-red-200{
    background-color: var(--pa-bg-red-200) !important;
}
.fill-red-300{
    background-color: var(--pa-bg-red-300) !important;
}
.fill-red-400{
    background-color: var(--pa-bg-red-400) !important;
}
.fill-red-500{
    background-color: var(--pa-bg-red-500) !important;
}
.fill-red-600{
    background-color: var(--pa-bg-red-600) !important;
}
.fill-red-700{
    background-color: var(--pa-bg-red-700) !important;
}
.fill-red-800{
    background-color: var(--pa-bg-red-800) !important;
}
.fill-red-900{
    background-color: var(--pa-bg-red-900) !important;
}
