#{$parent_prefixClass}-max-w1550rem #{$selectAll}{
  max-width:pxToRem(1550) #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w1600rem #{$selectAll}{
  max-width:pxToRem(1600) #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w1650rem #{$selectAll}{
  max-width:pxToRem(1650) #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w1700rem #{$selectAll}{
  max-width:pxToRem(1700) #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w1750rem #{$selectAll}{
  max-width:pxToRem(1750) #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w1800rem #{$selectAll}{
  max-width:pxToRem(1800) #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w1850rem #{$selectAll}{
  max-width:pxToRem(1850) #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w1900rem #{$selectAll}{
  max-width:pxToRem(1900) #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w1950rem #{$selectAll}{
  max-width:pxToRem(1950) #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w2000rem #{$selectAll}{
  max-width:pxToRem(2000) #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w2500rem #{$selectAll}{
  max-width:pxToRem(2500) #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w3000rem #{$selectAll}{
  max-width:pxToRem(3000) #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w3500rem #{$selectAll}{
  max-width:pxToRem(3500) #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w4000rem #{$selectAll}{
  max-width:pxToRem(4000) #{$parent_importantStatus}
}

