// Toggle global options
$enable-gradients: false;
$enable-shadows: false;

//$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Customize some defaults
$body-color: #333;
$body-bg: #fff;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

$grid-breakpoints: (
        xs: 0,
        sm: 600px,
        md: 900px,
        lg: 1200px,
        xl: 1536px,
        xxl: 1800px
);


@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
//@import "bootstrap/scss/utilities";
$utilities: () !default;
$utilities: map-merge(
                        (
                          // Sizing utilities
                          // scss-docs-start utils-sizing
                                "width": (
                                        property: width,
                                        class: w,
                                        values: (
                                                25: 25%,
                                                50: 50%,
                                                75: 75%,
                                                100: 100%,
                                                auto: auto
                                        )
                                ),
                                "max-width": (
                                        property: max-width,
                                        class: mw,
                                        values: (100: 100%)
                                ),
                                "viewport-width": (
                                        property: width,
                                        class: vw,
                                        values: (100: 100vw)
                                ),
                                "min-viewport-width": (
                                        property: min-width,
                                        class: min-vw,
                                        values: (100: 100vw)
                                ),
                                "height": (
                                        property: height,
                                        class: h,
                                        values: (
                                                25: 25%,
                                                50: 50%,
                                                75: 75%,
                                                100: 100%,
                                                auto: auto
                                        )
                                ),
                                "max-height": (
                                        property: max-height,
                                        class: mh,
                                        values: (100: 100%)
                                ),
                                "viewport-height": (
                                        property: height,
                                        class: vh,
                                        values: (100: 100vh)
                                ),
                                "min-viewport-height": (
                                        property: min-height,
                                        class: min-vh,
                                        values: (100: 100vh)
                                ),
                          // scss-docs-end utils-sizing

/*

                                "display": (
                                        responsive: true,
                                        print: true,
                                        property: display,
                                        class: d,
                                        values: inline inline-block block grid inline-grid table table-row table-cell flex inline-flex none
                                ),
                                "flex": (
                                        responsive: true,
                                        property: flex,
                                        values: (fill: 1 1 auto)
                                ),
                                "flex-direction": (
                                        responsive: true,
                                        property: flex-direction,
                                        class: flex,
                                        values: row column row-reverse column-reverse
                                ),
                                "flex-grow": (
                                        responsive: true,
                                        property: flex-grow,
                                        class: flex,
                                        values: (
                                                grow-0: 0,
                                                grow-1: 1,
                                        )
                                ),
                                "flex-shrink": (
                                        responsive: true,
                                        property: flex-shrink,
                                        class: flex,
                                        values: (
                                                shrink-0: 0,
                                                shrink-1: 1,
                                        )
                                ),
                                "flex-wrap": (
                                        responsive: true,
                                        property: flex-wrap,
                                        class: flex,
                                        values: wrap nowrap wrap-reverse
                                ),
                                "justify-content": (
                                        responsive: true,
                                        property: justify-content,
                                        values: (
                                                start: flex-start,
                                                end: flex-end,
                                                center: center,
                                                between: space-between,
                                                around: space-around,
                                                evenly: space-evenly,
                                        )
                                ),
                                "align-items": (
                                        responsive: true,
                                        property: align-items,
                                        values: (
                                                start: flex-start,
                                                end: flex-end,
                                                center: center,
                                                baseline: baseline,
                                                stretch: stretch,
                                        )
                                ),
                                "align-content": (
                                        responsive: true,
                                        property: align-content,
                                        values: (
                                                start: flex-start,
                                                end: flex-end,
                                                center: center,
                                                between: space-between,
                                                around: space-around,
                                                stretch: stretch,
                                        )
                                ),
                                "align-self": (
                                        responsive: true,
                                        property: align-self,
                                        values: (
                                                auto: auto,
                                                start: flex-start,
                                                end: flex-end,
                                                center: center,
                                                baseline: baseline,
                                                stretch: stretch,
                                        )
                                ),
                                "order": (
                                        responsive: true,
                                        property: order,
                                        values: (
                                                first: -1,
                                                0: 0,
                                                1: 1,
                                                2: 2,
                                                3: 3,
                                                4: 4,
                                                5: 5,
                                                last: 6,
                                        ),
                                ),*/
                        ),
                $utilities
);
//@import "bootstrap/scss/_utilities.scss";
@import "bootstrap/scss/utilities/api";
body{
  color:orange;
}