:root{
  --pa-bg-teal     : var(--pa-bg-teal-500);
  --pa-color-teal  : white;

  --pa-bg-teal-h     : var(--pa-bg-teal-600);
  --pa-color-teal-h  : white;

  --pa-bg-teal-a     : var(--pa-bg-teal-700);
  --pa-color-teal-a  : white;

  --pa-bg-teal-f     : var(--pa-bg-teal-500);
  --pa-color-teal-f  : white;

  --pa-bg-teal-50  : #e0f2f1;
  --pa-bg-teal-100 : #b2dfdb;
  --pa-bg-teal-200 : #80cbc4;
  --pa-bg-teal-300 : #4db6ac;
  --pa-bg-teal-400 : #26a69a;
  --pa-bg-teal-500 : #009688;
  --pa-bg-teal-600 : #00897b;
  --pa-bg-teal-700 : #00796b;
  --pa-bg-teal-800 : #00695c;
  --pa-bg-teal-900 : #004d40;

  --pa-bg-rgb-teal-50:  224, 242, 241;
  --pa-bg-rgb-teal-100: 178, 223, 219;
  --pa-bg-rgb-teal-200: 128, 203, 196;
  --pa-bg-rgb-teal-300: 77, 182, 172;
  --pa-bg-rgb-teal-400: 38, 166, 154;
  --pa-bg-rgb-teal-500: 0, 150, 136;
  --pa-bg-rgb-teal-600: 0, 137, 123;
  --pa-bg-rgb-teal-700: 0, 121, 107;
  --pa-bg-rgb-teal-800: 0, 105, 92;
  --pa-bg-rgb-teal-900: 0, 77, 64;

  --pa-color-teal-50  : #424242;
  --pa-color-teal-100 : #424242;
  --pa-color-teal-200 : #424242;
  --pa-color-teal-300 : white;
  --pa-color-teal-400 : white;
  --pa-color-teal-500 : white;
  --pa-color-teal-600 : white;
  --pa-color-teal-700 : white;
  --pa-color-teal-800 : white;
  --pa-color-teal-900 : white;
}