.border-gray-50{
    border-color: var(--pa-bg-gray-50) !important;
}
.border-gray-100{
    border-color: var(--pa-bg-gray-100) !important;
}
.border-gray-200{
    border-color: var(--pa-bg-gray-200) !important;
}
.border-gray-300{
    border-color: var(--pa-bg-gray-300) !important;
}
.border-gray-400{
    border-color: var(--pa-bg-gray-400) !important;
}
.border-gray-500{
    border-color: var(--pa-bg-gray-500) !important;
}
.border-gray-600{
    border-color: var(--pa-bg-gray-600) !important;
}
.border-gray-700{
    border-color: var(--pa-bg-gray-700) !important;
}
.border-gray-800{
    border-color: var(--pa-bg-gray-800) !important;
}
.border-gray-900{
    border-color: var(--pa-bg-gray-900) !important;
}
