.fill-gray-50{
    background-color: var(--pa-bg-gray-50) !important;
}
.fill-gray-100{
    background-color: var(--pa-bg-gray-100) !important;
}
.fill-gray-200{
    background-color: var(--pa-bg-gray-200) !important;
}
.fill-gray-300{
    background-color: var(--pa-bg-gray-300) !important;
}
.fill-gray-400{
    background-color: var(--pa-bg-gray-400) !important;
}
.fill-gray-500{
    background-color: var(--pa-bg-gray-500) !important;
}
.fill-gray-600{
    background-color: var(--pa-bg-gray-600) !important;
}
.fill-gray-700{
    background-color: var(--pa-bg-gray-700) !important;
}
.fill-gray-800{
    background-color: var(--pa-bg-gray-800) !important;
}
.fill-gray-900{
    background-color: var(--pa-bg-gray-900) !important;
}
