.text-gray-50{
    color: var(--pa-bg-gray-50) !important;
}
.text-gray-100{
    color: var(--pa-bg-gray-100) !important;
}
.text-gray-200{
    color: var(--pa-bg-gray-200) !important;
}
.text-gray-300{
    color: var(--pa-bg-gray-300) !important;
}
.text-gray-400{
    color: var(--pa-bg-gray-400) !important;
}
.text-gray-500{
    color: var(--pa-bg-gray-500) !important;
}
.text-gray-600{
    color: var(--pa-bg-gray-600) !important;
}
.text-gray-700{
    color: var(--pa-bg-gray-700) !important;
}
.text-gray-800{
    color: var(--pa-bg-gray-800) !important;
}
.text-gray-900{
    color: var(--pa-bg-gray-900) !important;
}
