#{$parent_prefixClass}-max-w1550px #{$selectAll}{
  max-width:1550px #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w1600px #{$selectAll}{
  max-width:1600px #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w1650px #{$selectAll}{
  max-width:1650px #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w1700px #{$selectAll}{
  max-width:1700px #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w1750px #{$selectAll}{
  max-width:1750px #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w1800px #{$selectAll}{
  max-width:1800px #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w1850px #{$selectAll}{
  max-width:1850px #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w1900px #{$selectAll}{
  max-width:1900px #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w1950px #{$selectAll}{
  max-width:1950px #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w2000px #{$selectAll}{
  max-width:2000px #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w2500px #{$selectAll}{
  max-width:2500px #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w3000px #{$selectAll}{
  max-width:3000px #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w3500px #{$selectAll}{
  max-width:3500px #{$parent_importantStatus}
}

#{$parent_prefixClass}-max-w4000px #{$selectAll}{
  max-width:4000px #{$parent_importantStatus}
}
            
